{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
{%- if resource_groups is defined %}
    "ResourceGroups": [
  {%- for item in resource_groups %}
        {
            "Moid": "{{ resource_group_moids[item.name].moid }}",
            "ObjectType": "resource.Group"
        }{% if not loop.last %},{% endif %}
  {%- endfor %}
    ],
{%- else %}
    "ResourceGroups": [],
{%- endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": []
{%- endif %}
}