{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "ObjectType": "resource.Group",
    "Qualifier": "Allow-Selectors",
    "Reevaluate": false,
{%- if resources is defined %}
    "Selectors": [
  {%- for k,v in resources.items() %}
        {
            "ClassId": "resource.Selector",
            "ObjectType": "resource.Selector",
    {%- if k == "blades" %}
            "Selector": "/api/v1/compute/Blades?$filter=Serial in ('{{ v | sort | join(', ') | trim(", '") }}') and ManagementMode eq 'Intersight'"
    {%- elif k == "rackmounts" and v.blades is defined %}
            "Selector": "/api/v1/compute/RackUnits?$filter=Serial in ('{{ v | sort | join(', ') | trim(", '") }}') and ManagementMode eq 'Intersight'"
    {%- elif k == "targets" -%}
      {%- set target_list = [] -%}
      {%- for e in v -%}
        {{ target_list.append(asset_target_moids[e].moid) }}
      {%- endfor -%}
        {%- if target_list | length > 1 %}
            "Selector": "/api/v1/asset/DeviceRegistrations?$filter=(Moid in ('{{ target_list | sort | join(', ') | trim(", '") }}'))"
        {%- else %}
            "Selector": "/api/v1/asset/DeviceRegistrations?$filter=Moid in ('{{ target_list | sort | join(', ') | trim(", '") }}')"
        {%- endif -%}
    {%- endif -%}
        }{% if not loop.last %},{% endif %}
  {%- endfor %}
    ]{% if tags is defined %},{% endif %}
{%- endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}
