apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - portworx-operator.yaml

labels:
  - pairs:
      app.kubernetes.io/name: portworx
      app.kubernetes.io/component: portworx-operator