{
  "Description": "{{ item.description | default('') }}",
  "EnableOverride": false,
  "Name": "{{ name_prefix ~ item.name ~ name_suffix ~ '-' ~ item.switch_id }}",
  "ObjectType": "fabric.SwitchProfileTemplate",
  "Parent": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.SwitchClusterProfileTemplate"
  },
  "PolicyBucket": [
{% if item.policy_bucket is defined and item.policy_bucket | length > 0 %}
{% for k, v in item.policy_bucket.items() %}
{% if k in item.allowed_policies %}
{% set _name = v.split('/')[-1] %}
{% set _org  = v.split('/')[0] if '/' in v else organization %}
{% set otype = k[:-7] if k.endswith('_policy') else k %}
{% set ptype = "policies" if "policy" in k else "pools" %}
    {
      "Moid": "{{ isight[_org][ptype][otype][_name].moid }}",
      "ObjectType": "{{ object_map[otype] }}"
    }{% if not loop.last %},{% endif %}
{% endif %}
{% endfor %}
{% endif %}
  ],
  "SwitchClusterProfileTemplate": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.SwitchClusterProfileTemplate"
  },
  "SwitchId": "{{ item.switch_id }}",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TargetPlatform": "Unified Edge",
  "Type": "instance"
}