{
  "Description": {{ (item.description | default('', true)) | tojson }},
  "EnableOverride": {{ item.allow_override | default(false) | tojson }},
{% if item.fibre_channel_adapter_policy is defined %}
{% set _name = item.fibre_channel_adapter_policy.split('/')[-1] %}
{% set _org = item.fibre_channel_adapter_policy.split('/')[0] if item.fibre_channel_adapter_policy.split('/') | length > 1 else organization %}
  "FcAdapterPolicy": {
    "Moid": "{{ isight[_org]['policies']['fibre_channel_adapter'][_name].moid }}",
    "ObjectType": "vnic.FcAdapterPolicy"
  },
{% else %}
  "FcAdapterPolicy": null,
{% endif %}
{% if item.fibre_channel_network_policy is defined %}
{% set _name = item.fibre_channel_network_policy.split('/')[-1] %}
{% set _org = item.fibre_channel_network_policy.split('/')[0] if item.fibre_channel_network_policy.split('/') | length > 1 else organization %}
  "FcNetworkPolicy": {
    "Moid": "{{ isight[_org]['policies']['fibre_channel_network'][_name].moid }}",
    "ObjectType": "vnic.FcNetworkPolicy"
  },
{% else %}
  "FcNetworkPolicy": null,
{% endif %}
{% if item.fibre_channel_qos_policy is defined %}
{% set _name = item.fibre_channel_qos_policy.split('/')[-1] %}
{% set _org = item.fibre_channel_qos_policy.split('/')[0] if item.fibre_channel_qos_policy.split('/') | length > 1 else organization %}
  "FcQosPolicy": {
    "Moid": "{{ isight[_org]['policies']['fibre_channel_qos'][_name].moid }}",
    "ObjectType": "vnic.FcQosPolicy"
  },
{% else %}
  "FcQosPolicy": null,
{% endif %}
  "FcZonePolicies": [
{% if item.fibre_channel_zone_policies is defined and item.fibre_channel_zone_policies | length > 0 %}
{% for _fczp in item.fibre_channel_zone_policies %}
{% set _name = _fczp.split('/')[-1] %}
{% set _org = _fczp.split('/')[0] if _fczp.split('/') | length > 1 else organization %}
  {
    "Moid": "{{ isight[_org]['policies']['fibre_channel_zone'][_name].moid }}",
    "ObjectType": "vnic.FcZonePolicy"
  }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
  ],
  "Name": {{ (name_prefix ~ item.name ~ name_suffix) | tojson }},
  "ObjectType": "vnic.VhbaTemplate",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PersistentBindings": {{ item.persistent_lun_bindings | default(false) | tojson }},
  "PinGroupName": {{ item.pin_group_name | default('') | tojson }},
  "SwitchId": {{ item.placement_switch_id | default('A') | tojson }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "Type": "{{ item.vhba_type | default('fc-initiator') }}",
{% if item.wwpn_pool is defined %}
{% set _name = item.wwpn_pool.split('/')[-1] %}
{% set _org = item.wwpn_pool.split('/')[0] if item.wwpn_pool.split('/') | length > 1 else organization %}
  "WwpnPool": {
    "Moid": "{{ isight[_org]['pools']['wwpn'][_name].moid }}",
    "ObjectType": "fcpool.Pool"
  }
{% else %}
  "WwpnPool": null
{% endif %}
}