# pip freeze -q -r requirements.txt
argparse
collection
dotmap
GitPython
git_status_checker
inflect
intersight-auth
ipaddress
jinja2
json_ref_dict
lxml
numpy
openpyxl
ordered_set
phonenumbers
pycryptodome
pexpect
pyopenssl==22.0.0
pytz
pyvmomi
requests
simplejson
six
stdiomask
stringcase
tabulate
ucscsdk
validators==0.11.0