{
    "Action": "No-op",
    "AssignedEntity": null,
    "ClusterAssignments": [],
    "ConfigContext": {
        "ClassId": "policy.ConfigContext",
        "ConfigState": "Associated",
        "ConfigStateSummary": "None",
        "ConfigType": "",
        "ControlAction": "No-op",
        "ErrorState": "",
        "InconsistencyReason": [],
        "ObjectType": "policy.ConfigContext",
        "OperState": "Ok"
    },
    "DeployStatus": "Complete",
    "DeployedSwitches": "AB",
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "639ffbbe6972652d3243d65f",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/639ffbbe6972652d3243d65f"
    },
    "SrcTemplate": null,
    "SwitchProfiles": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "64679d15656e6f3101712419",
            "ObjectType": "fabric.SwitchProfile",
            "link": "https://intersight.com/api/v1/fabric/SwitchProfiles/64679d15656e6f3101712419"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64679d16656e6f3101712425",
            "ObjectType": "fabric.SwitchProfile",
            "link": "https://intersight.com/api/v1/fabric/SwitchProfiles/64679d16656e6f3101712425"
        }
    ],
    "SwitchProfilesCount": 2,
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "TargetPlatform": "UCS Domain",
    "Type": "instance",
    "UserLabel": "{{ user_label | default('') }}"
}