mv ip.json ip.json.j2
mv iqn.json iqn.json.j2
mv mac.json mac.json.j2
mv notes.txt notes.txt.j2
mv resource.json resource.json.j2
mv uuid.json uuid.json.j2
mv wwnn.json wwnn.json.j2
mv wwpn.json wwpn.json.j2
