---
active_directory:
  azure_stack_lcm_user: {{ active_directory.azure_stack_lcm_user }}
  azure_stack_ou: {{ active_directory.azure_stack_ou }}
  domain: {{ active_directory.domain }}
  domain_administrator: {{ active_directory.domain_administrator }}
azure_stack:
  region: <your-azure-cloud-region>
  resource_group: <your-azure-cloud-resource_group>
  tenant: <your-azure-cloud-tenant>
clusters:
{%- for e in clusters %}
  - cluster_name: {{e.name}}
    members:
  {%- for i in e.members %}
     - {{i.hostname}}.{{active_directory.domain}}
  {%- endfor %}
{%- endfor %}
{%- if install_server %}
install_server:
  drivers_cd_mount: '{{install_server.drivers_cd_mount}}\'
  reminst_drive: '{{install_server.reminst_drive}}\'
{%- endif %}
operating_system: W2K22
{%- if proxy %}
proxy:
  url: {{proxy.host}}
  {%- if proxy.username %}
  username: {{proxy.username}}
  {%- endif %}
{%- endif %}
server_model: {{server_model}}
