---
active_directory:
  azure_stack_lcm_user: {{ active_directory.azure_stack_lcm_user }}
  azure_stack_ou: {{ active_directory.azure_stack_ou }}
  domain: {{ active_directory.domain }}
  domain_administrator: {{ active_directory.domain_administrator }}
clusters:
{%- for e in clusters %}
  - cluster_name: {{e.name}}
    members:
  {%- for i in e.members %}
     - {{i.hostname}}.{{active_directory.domain}}
  {%- endfor %}
{%- endfor %}
{%- if file_share_witness %}
file_share_witness:
  host: {{file_share_witness.host}}
  share_name: {{file_share_witness.share_name}}
  type: domain
{%- endif %}
{%- if install_server %}
install_server:
  drivers_cd_mount: '{{install_server.drivers_cd_mount}}\'
  reminst_drive: '{{install_server.reminst_drive}}\'
{%- endif %}
operating_system: W2K22
{%- if proxy %}
proxy:
  url: {{proxy.host}}
  {%- if proxy.username %}
  username: {{proxy.username}}
  {%- endif %}
{%- endif %}
server_model: {{server_model}}
