---
kind: Secret
apiVersion: v1
metadata:
  name: pullsecret-{{ cluster.name }}
  namespace: {{ cluster.name }}
data:
  '.dockerconfigjson': {{ cluster.pull_secret | b64encode }}
type: kubernetes.io/dockerconfigjson
