---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ cluster.name }}-pull-secret"
  namespace: {{ cluster.name }}
data:
  '.dockerconfigjson': '{{ cluster.pull_secret | b64encode }}'
type: 'kubernetes.io/dockerconfigjson'
