---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ cluster.name }}
  namespace: {{ cluster.name }}
  labels:
    agentclusterinstalls.extensions.hive.openshift.io/location: {{ cluster.label.location }}
    networkType: static
spec:
{%- if cluster.ntp_servers is defined %}
  additionalNTPSources:
  {%- for element in cluster.ntp_servers %}
    - {{ element }}
  {%- endfor %}
{%- endif %}
  agentLabels:
    agentclusterinstalls.extensions.hive.openshift.io/location: {{ cluster.label.location }}
  cpuArchitecture: x86_64
  nmStateConfigLabelSelector:
      matchLabels:
        infraenvs.agent-install.openshift.io: {{ cluster.name }}
  pullSecretRef:
    name: pullsecret-{{ cluster.name }}
  sshAuthorizedKey: {{ cluster.ssh_public_key }}
{%- if cluster.proxy is defined %}
  proxy:
    httpProxy: {{ cluster.proxy.http_proxy }}
    httpsProxy: {{ cluster.proxy.https_proxy }}
    noProxy: {{ cluster.proxy.no_proxy }}
{%- endif %}
status:
  agentLabelSelector:
    matchLabels:
      'agentclusterinstalls.extensions.hive.openshift.io/location': {{ cluster.label.location }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: capi-provider-role
  namespace: {{ cluster.name }}
rules:
  - verbs:
      - '*'
    apiGroups:
      - agent-install.openshift.io
    resources:
      - agents
