{%- for element in cluster.nodes %}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: "{{ cluster.name }}-nmstate-{{ element.hostname }}"
  namespace: "{{ cluster.name }}"
  labels:
    infraenvs.agent-install.openshift.io: {{ cluster.name }}
    agent-install.openshift.io/role: master
    cluster-resource: {{ element.hostname }}
spec:
  config:
    dns-resolver:
      config:
        search:
          - {{ cluster.base_domain }}
        server:
  {%- for item in cluster.dns_servers %}
          - {{ item }}
  {%- endfor %}
    interfaces:
  {%- for item in element.config_interfaces %}
    {%- if item.type == "ethernet" %}
      - name: {{ item.name }}
        ipv4:
          address:
            - ip: {{ item.ip.address }}
              prefix-length: {{ item.ip.prefix }}
          dhcp: false
          enabled: true
        mtu: {{ item.mtu | default(9000) }}
        state: up
        type: ethernet
    {%- elif item.type == "bond" %}
      - name: {{ item.name }}
        ipv4:
          address:
            - ip: {{ item.ip.address }}
              prefix-length: {{ item.ip.prefix }}
          dhcp: false
          enabled: true
        link-aggregation:
          mode: 802.3ad
          options:
            miimon: '140'
          port:
      {%- for port in item.port_members %}
            - {{ port }}
      {%- endfor %}
        mtu: {{ item.mtu | default(9000) }}
        state: up
        type: bond
    {%- endif %}
  {%- endfor %}
    routes:
      config:
  {%- for item in element.routes %}
      - destination: {{ item.destination }}
        next-hop-address: {{ item.gateway }}
        next-hop-interface: {{ item.interface }}
        table-id: {{ item.table_id | default(254) }}
  {%- endfor %}
  interfaces:
  {%- for item in element.physical_interfaces %}
    - name: {{ item.name }}
      macAddress: {{ item.mac_address }}
  {%- endfor %}
{%- endfor %}