---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: clife
  namespace: cilium
spec:
  channel: {{ cluster.cilium.channel }}
  installPlanApproval: Manual
  name: clife
  source: certified-operators
  sourceNamespace: openshift-marketplace
  config:
    env:
      - name: KUBERNETES_SERVICE_HOST
        value: {{ cluster.vip.api }}
      - name: KUBERNETES_SERVICE_PORT
        value: "443"
