---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: {{ cluster.name }}
  namespace: {{ cluster.name }}
  # labels:
  #   agentclusterinstalls.extensions.hive.openshift.io/location: {{ cluster.label.location }}
spec:
  clusterDeploymentRef:
    name: {{ cluster.name }}
  imageSetRef:
    name: 'img{{ cluster.version }}-x86-64-appsub'
  networking:
    networkType: {{ cluster.network_type }}
    clusterNetwork:
      - cidr: {{ cluster.networks.cluster.cidr }}
        hostPrefix: {{ cluster.networks.cluster.host_prefix }}
    machineNetwork:
      - cidr: {{ cluster.networks.machine.cidr }}
    serviceNetwork:
      - {{ cluster.networks.service.cidr }}
  provisionRequirements:
    controlPlaneAgents: {{ cluster.agents.control_plane }}
    workerAgents: {{ cluster.agents.worker }}
  sshPublicKey: {{ cluster.ssh_public_key }}
  apiVIP: {{ cluster.vip.api }}
  ingressVIP: {{ cluster.vip.ingress }}

