---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ cluster.name }}
  namespace: {{ cluster.name }}
spec:
  baseDomain: {{ cluster.base_domain }}
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: {{ cluster.name }}
    version: v1beta1
  clusterName: {{ cluster.name }}
  platform:
    agentBareMetal:
      agentSelector:
        matchLabels:
          agentclusterinstalls.extensions.hive.openshift.io/location: {{ cluster.label.location }}
  pullSecretRef:
    name: pullsecret-{{ cluster.name }}
