{
    "BootDevices": [
        {
            "ClassId": "boot.VirtualMedia",
            "Enabled": true,
            "Name": "kvm",
            "ObjectType": "boot.VirtualMedia",
            "Subtype": "kvm-mapped-dvd"
        },
        {
            "Bootloader": {
                "ClassId": "boot.Bootloader",
                "Description": "",
                "Name": "BOOTx64.EFI",
                "ObjectType": "boot.Bootloader",
                "Path": "\\EFI\\BOOT\\"
            },
            "ClassId": "boot.San",
            "Enabled": true,
            "InterfaceName": "vhba1",
            "Lun": 0,
            "Name": "RICH-fcp-lif-01-1a",
            "ObjectType": "boot.San",
            "Slot": "MLOM",
            "Wwpn": "20:02:00:a0:98:aa:1c:8d"
        },
        {
            "Bootloader": {
                "ClassId": "boot.Bootloader",
                "Description": "",
                "Name": "BOOTx64.EFI",
                "ObjectType": "boot.Bootloader",
                "Path": "\\EFI\\BOOT\\"
            },
            "ClassId": "boot.San",
            "Enabled": true,
            "InterfaceName": "vhba1",
            "Lun": 0,
            "Name": "RICH-fcp-lif-02-1a",
            "ObjectType": "boot.San",
            "Slot": "MLOM",
            "Wwpn": "20:03:00:a0:98:aa:1c:8d"
        },
        {
            "Bootloader": {
                "ClassId": "boot.Bootloader",
                "Description": "",
                "Name": "BOOTx64.EFI",
                "ObjectType": "boot.Bootloader",
                "Path": "\\EFI\\BOOT\\"
            },
            "ClassId": "boot.San",
            "Enabled": true,
            "InterfaceName": "vhba2",
            "Lun": 0,
            "Name": "RICH-fcp-lif-01-1c",
            "ObjectType": "boot.San",
            "Slot": "MLOM",
            "Wwpn": "20:04:00:a0:98:aa:1c:8d"
        },
        {
            "Bootloader": {
                "ClassId": "boot.Bootloader",
                "Description": "",
                "Name": "BOOTx64.EFI",
                "ObjectType": "boot.Bootloader",
                "Path": "\\EFI\\BOOT\\"
            },
            "ClassId": "boot.San",
            "Enabled": true,
            "InterfaceName": "vhba2",
            "Lun": 0,
            "Name": "RICH-fcp-lif-02-1c",
            "ObjectType": "boot.San",
            "Slot": "MLOM",
            "Wwpn": "20:0a:00:a0:98:aa:1c:8d"
        },
        {
            "ClassId": "boot.VirtualMedia",
            "Enabled": true,
            "Name": "cimc",
            "ObjectType": "boot.VirtualMedia",
            "Subtype": "cimc-mapped-dvd"
        },
        {
            "ClassId": "boot.UefiShell",
            "Enabled": true,
            "Name": "uefishell",
            "ObjectType": "boot.UefiShell"
        }
    ],
    "ConfiguredBootMode": "Uefi",
    "Description": "{{ description | default('') }}",
    "EnforceUefiSecureBoot": true,
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}