{
    "Description": "vsan-b FC Zone Policy",
    "FcTargetMembers": [
        {
            "ClassId": "fabric.FcZoneMember",
            "Name": "netapp01",
            "ObjectType": "fabric.FcZoneMember",
            "SwitchId": "A",
            "VsanId": 200,
            "Wwpn": "50:00:00:25:B5:0B:00:01"
        },
        {
            "ClassId": "fabric.FcZoneMember",
            "Name": "pure01",
            "ObjectType": "fabric.FcZoneMember",
            "SwitchId": "B",
            "VsanId": 200,
            "Wwpn": "50:00:00:25:B5:0B:00:02"
        }
    ],
    "FcTargetZoningType": "SIMT",
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}