{
    "Cdn": {
        "ClassId": "vnic.Cdn",
        "ObjectType": "vnic.Cdn",
        "Source": "vnic",
        "Value": "mgmt-a"
    },
    "EthAdapterPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "65d3788bfccacb17015cca9d",
        "ObjectType": "vnic.EthAdapterPolicy",
        "link": "https://intersight.com/api/v1/vnic/EthAdapterPolicies/65d3788bfccacb17015cca9d"
    },
    "EthNetworkPolicy": null,
    "EthQosPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "660c2bbbb1fc6b6e01cb49ec",
        "ObjectType": "vnic.EthQosPolicy",
        "link": "https://intersight.com/api/v1/vnic/EthQosPolicies/660c2bbbb1fc6b6e01cb49ec"
    },
    "FabricEthNetworkControlPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "660c2bbb6f62693001b99a60",
        "ObjectType": "fabric.EthNetworkControlPolicy",
        "link": "https://intersight.com/api/v1/fabric/EthNetworkControlPolicies/660c2bbb6f62693001b99a60"
    },
    "FabricEthNetworkGroupPolicy": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "646799416f62693001ff806b",
            "ObjectType": "fabric.EthNetworkGroupPolicy",
            "link": "https://intersight.com/api/v1/fabric/EthNetworkGroupPolicies/646799416f62693001ff806b"
        }
    ],
    "FailoverEnabled": false,
    "IpLease": null,
    "IscsiBootPolicy": null,
    "IscsiIpV4AddressAllocationType": "None",
    "IscsiIpV4Config": {
        "ClassId": "ippool.IpV4Config",
        "Gateway": "",
        "Netmask": "",
        "ObjectType": "ippool.IpV4Config",
        "PrimaryDns": "",
        "SecondaryDns": ""
    },
    "IscsiIpV6AddressAllocationType": "None",
    "IscsiIpV6Config": null,
    "IscsiIpv4Address": "",
    "IscsiIpv6Address": "",
    "LanConnectivityPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "6467a43c2f0dcb4401a915fb",
        "ObjectType": "vnic.LanConnectivityPolicy",
        "link": "https://intersight.com/api/v1/vnic/LanConnectivityPolicies/6467a43c2f0dcb4401a915fb"
    },
    "LcpVnic": null,
    "MacAddress": "",
    "MacAddressType": "POOL",
    "MacLease": null,
    "MacPool": {
        "ClassId": "mo.MoRef",
        "Moid": "6467a421696275310148c858",
        "ObjectType": "macpool.Pool",
        "link": "https://intersight.com/api/v1/macpool/Pools/6467a421696275310148c858"
    },
    "Name": "mgmt-a",
    "OldInfo": null,
    "Order": 0,
    "OverriddenList": [],
    "PinGroupName": "",
    "Placement": {
        "AutoPciLink": false,
        "AutoSlotId": false,
        "ClassId": "vnic.PlacementSettings",
        "Id": "MLOM",
        "ObjectType": "vnic.PlacementSettings",
        "PciLink": 0,
        "PciLinkAssignmentMode": "Custom",
        "SwitchId": "A",
        "Uplink": 0
    },
    "Profile": null,
    "SpVnics": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf439b83bdc99f017e5c96",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf439b83bdc99f017e5c96"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43a083bdc99f017e5f8c",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43a083bdc99f017e5f8c"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43a183bdc99f017e600f",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43a183bdc99f017e600f"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43aa83bdc99f017e639d",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43aa83bdc99f017e639d"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43ad83bdc99f017e64de",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43ad83bdc99f017e64de"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43af83bdc99f017e65c8",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43af83bdc99f017e65c8"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43b083bdc99f017e6657",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43b083bdc99f017e6657"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43b383bdc99f017e6809",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43b383bdc99f017e6809"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43b483bdc99f017e68de",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/64bf43b483bdc99f017e68de"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "66cfb712877074be017edcf8",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/66cfb712877074be017edcf8"
        }
    ],
    "SrcTemplate": null,
    "SriovSettings": {
        "ClassId": "vnic.SriovSettings",
        "CompCountPerVf": 5,
        "Enabled": false,
        "IntCountPerVf": 8,
        "ObjectType": "vnic.SriovSettings",
        "RxCountPerVf": 4,
        "TxCountPerVf": 1,
        "VfCount": 64
    },
    "Stale": false,
    "StandbyVifId": 0,
    "StaticMacAddress": "",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": [],
{%- endif %}
    "TemplateActions": [],
    "TemplateSyncErrors": [],
    "TemplateSyncStatus": "None",
    "UsnicSettings": {
        "ClassId": "vnic.UsnicSettings",
        "Cos": 5,
        "Count": 0,
        "ObjectType": "vnic.UsnicSettings",
        "UsnicAdapterPolicy": ""
    },
    "VifId": 0,
    "VmqSettings": {
        "ClassId": "vnic.VmqSettings",
        "Enabled": false,
        "MultiQueueSupport": false,
        "NumInterrupts": 16,
        "NumSubVnics": 64,
        "NumVmqs": 4,
        "ObjectType": "vnic.VmqSettings",
        "VmmqAdapterPolicy": ""
    }
}