{
    "AzureQosEnabled": false,
    "Description": "{{ description | default('') }}",
    "IqnAllocationType": "None",
    "IqnPool": null,
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "PlacementMode": "custom",
    "StaticIqnName": "",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "TargetPlatform": "FIAttached"
}