{
    "CipherSuite": "GCM-AES-XPN-256",
    "ConfidentialityOffset": "CONF-OFFSET-0",
    "Description": "",
    "FallbackKeyChain": {
        "ClassId": "fabric.SecKeyChain",
        "Name": "",
        "ObjectType": "fabric.SecKeyChain",
        "SecKeys": []
    },
    "IncludeIcvIndicator": false,
    "KeyServerPriority": 16,
    "MacSecEaPol": {
        "ClassId": "fabric.MacSecEaPol",
        "EaPolEthertype": "0x888e",
        "EaPolMacAddress": "0180.C200.0003",
        "ObjectType": "fabric.MacSecEaPol"
    },
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "PrimaryKeyChain": {
        "ClassId": "fabric.SecKeyChain",
        "Name": "xyz",
        "ObjectType": "fabric.SecKeyChain",
        "SecKeys": [
            {
                "ClassId": "fabric.SecKey",
                "CryptographicAlgorithm": "AES_256_CMAC",
                "Id": "12",
                "IsOctetStringSet": true,
                "KeyType": "Type-6",
                "ObjectType": "fabric.SecKey",
                "SendLifetimeDuration": 0,
                "SendLifetimeEndTime": "0001-01-01T00:00:00Z",
                "SendLifetimeInfinite": false,
                "SendLifetimeStartTime": "0001-01-01T00:00:00Z",
                "SendLifetimeTimeZone": "UTC",
                "SendLifetimeUnlimited": true
            }
        ]
    },
    "ReplayWindowSize": 148809600,
    "SakExpiryTime": 0,
    "SecurityPolicy": "Should-secure",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}