{
    "AdminSpeed": "8Gbps",
    "AggregatePortId": 0,
    "FillPattern": "Idle",
    "PortId": 1,
    "PortPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "6985ee9e6f6269300156060c",
        "ObjectType": "fabric.PortPolicy",
        "link": "https://intersight.com/api/v1/fabric/PortPolicies/6985ee9e6f6269300156060c"
    },
    "SlotId": 1,
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "UserLabel": "",
    "VsanId": 100
}