{
    "AdminSpeed": "{{ admin_speed | default('Auto') }}",
    "EthNetworkControlPolicy": {
        "Moid": "{{ ethernet_network_control_policy_moid }}",
        "ObjectType": "fabric.EthNetworkControlPolicy"
    },
    "EthNetworkGroupPolicy": {
        "Moid": "{{ ethernet_network_group_policy_moid }}",
        "ObjectType": "fabric.EthNetworkGroupPolicy",
        "link": "https://intersight.com/api/v1/fabric/EthNetworkGroupPolicies/690e0f2b6f6269300155718a"
    },
    "Fec": "{{ fec | default('Auto') }}",
    "LinkAggregationPolicy": null,
    "Mode": "{{ mode | default('trunk') }}",
    "PcId": {{ pc_id | default(1) }},
    "PortPolicy": {
        "Moid": "{{ port_policy_moid}}",
        "ObjectType": "fabric.PortPolicy"
    },
    "Ports": [
        {
            "AggregatePortId": 0,
            "ObjectType": "fabric.PortIdentifier",
            "PortId": 47,
            "SlotId": 1
        },
        {
            "AggregatePortId": 0,
            "ObjectType": "fabric.PortIdentifier",
            "PortId": 48,
            "SlotId": 1
        }
    ],
    "Priority": "{{ priority | default('Best Effort') }}",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": [],
{%- endif %}
    "UserLabel": "{{ user_label | default('') }}"
}