{
    "AdminSpeed": "32Gbps",
    "FillPattern": "Idle",
    "PcId": 1,
    "PortPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "6605c55a6f62693001b4e1c0",
        "ObjectType": "fabric.PortPolicy",
        "link": "https://intersight.com/api/v1/fabric/PortPolicies/6605c55a6f62693001b4e1c0"
    },
    "Ports": [
        {
            "AggregatePortId": 0,
            "ClassId": "fabric.PortIdentifier",
            "ObjectType": "fabric.PortIdentifier",
            "PortId": 1,
            "SlotId": 1
        },
        {
            "AggregatePortId": 0,
            "ClassId": "fabric.PortIdentifier",
            "ObjectType": "fabric.PortIdentifier",
            "PortId": 3,
            "SlotId": 1
        }
    ],
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "UserLabel": "",
    "VsanId": 100
}