{
    "FcAdapterPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "65d3788cfccacb17015ccd69",
        "ObjectType": "vnic.FcAdapterPolicy",
        "link": "https://intersight.com/api/v1/vnic/FcAdapterPolicies/65d3788cfccacb17015ccd69"
    },
    "FcNetworkPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "65d3788cfccacb17015ccbd1",
        "ObjectType": "vnic.FcNetworkPolicy",
        "link": "https://intersight.com/api/v1/vnic/FcNetworkPolicies/65d3788cfccacb17015ccbd1"
    },
    "FcQosPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "65d3788cfccacb17015ccd0a",
        "ObjectType": "vnic.FcQosPolicy",
        "link": "https://intersight.com/api/v1/vnic/FcQosPolicies/65d3788cfccacb17015ccd0a"
    },
    "FcZonePolicies": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "66d9cc476f62693001f4d1d4",
            "ObjectType": "fabric.FcZonePolicy",
            "link": "https://intersight.com/api/v1/fabric/FcZonePolicies/66d9cc476f62693001f4d1d4"
        }
    ],
    "Name": "vhba1",
    "OldInfo": null,
    "Order": 8,
    "OverriddenList": [],
    "PersistentBindings": false,
    "PinGroupName": "",
    "Placement": {
        "AutoPciLink": false,
        "AutoSlotId": false,
        "ClassId": "vnic.PlacementSettings",
        "Id": "MLOM",
        "ObjectType": "vnic.PlacementSettings",
        "PciLink": 0,
        "PciLinkAssignmentMode": "Custom",
        "SwitchId": "A",
        "Uplink": 0
    },
    "Profile": null,
    "SanConnectivityPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "6467a4c32f0dcb4401a941da",
        "ObjectType": "vnic.SanConnectivityPolicy",
        "link": "https://intersight.com/api/v1/vnic/SanConnectivityPolicies/6467a4c32f0dcb4401a941da"
    },
    "ScpVhba": null,
    "SpVhbas": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf439983bdc99f017e5c06",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf439983bdc99f017e5c06"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf439f83bdc99f017e5f42",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf439f83bdc99f017e5f42"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43a283bdc99f017e608c",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf43a283bdc99f017e608c"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43ab83bdc99f017e6438",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf43ab83bdc99f017e6438"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43ac83bdc99f017e6481",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf43ac83bdc99f017e6481"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43ae83bdc99f017e657a",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf43ae83bdc99f017e657a"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43b183bdc99f017e66ed",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf43b183bdc99f017e66ed"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43b283bdc99f017e67a1",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf43b283bdc99f017e67a1"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "64bf43b383bdc99f017e6897",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/64bf43b383bdc99f017e6897"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "66cfb712877074be017edd6b",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/66cfb712877074be017edd6b"
        }
    ],
    "SrcTemplate": null,
    "Stale": false,
    "StaticWwpnAddress": "",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": [],
{%- endif %}
    "TemplateActions": [],
    "TemplateSyncErrors": [],
    "TemplateSyncStatus": "None",
    "Type": "fc-initiator",
    "VifId": 0,
    "Wwpn": "",
    "WwpnAddressType": "POOL",
    "WwpnLease": null,
    "WwpnPool": {
        "ClassId": "mo.MoRef",
        "Moid": "6467a418696275310148c70d",
        "ObjectType": "fcpool.Pool",
        "link": "https://intersight.com/api/v1/fcpool/Pools/6467a418696275310148c70d"
    }
}