{
    "DefaultZoning": "Disabled",
    "FcNetworkPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "64679e716f62693001033422",
        "ObjectType": "fabric.FcNetworkPolicy",
        "link": "https://intersight.com/api/v1/fabric/FcNetworkPolicies/64679e716f62693001033422"
    },
    "FcZoneSharingMode": "",
    "FcoeVlan": 100,
    "Name": "vsan-100",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "VsanId": 100,
    "VsanScope": "Storage"
}