---
apiVersion: v1
kind: Namespace
metadata:
  name: authorino-operator
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: authorino-operator-group
  namespace: authorino-operator
spec: {} # <-- FIX: An empty spec allows for a supported InstallMode
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: authorino-operator
  namespace: authorino-operator
spec:
  channel: "stable"
  name: authorino-operator
  source: community-operators
  sourceNamespace: openshift-marketplace
