apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - logging-uiplugin.yaml
  - troubleshooting-panel-uiplugin.yaml

commonLabels:
  app.kubernetes.io/name: logging-ui-plugins
  app.kubernetes.io/component: console-integration
  app.kubernetes.io/part-of: openshift-logging
