---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
  labels:
    name: external-secrets
    app.kubernetes.io/name: external-secrets
    app.kubernetes.io/part-of: external-secrets-operator
