---
active_directory:
  administrator: {{ domainAdministrator }}
  azurestack_admin: {{ administrator }}
  azurestack_ou: {{ azurestack_ou }}
  azurestack_prefix: {{ azurestack_prefix }}
  domain: {{ domain }}
clusters:
{%- for e in clusters %}
  - cluster_name: {{e.name}}
    members:
  {%- for i in e.members %}
     - {{i.hostname}}.{{domain}}
  {%- endfor %}
{%- endfor %}
{%- if file_share_witness %}
file_share_witness:
  host: {{file_share_witness.host}}
  share_name: {{file_share_witness.share_name}}
  type: domain
{%- endif %}
install_server:
  drivers_cd_mount: '{{install_server.drivers_cd_mount}}\'
  reminst_share_path: '{{install_server.reminst_share_path}}\'
operating_system: W2K22
{%- if proxy %}
proxy:
  url: {{proxy.host}}
  {%- if proxy.username %}
  username: {{proxy.username}}
  {%- endif %}
{%- endif %}
server_model: {{server_model}}
