{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "Settings": [
{%- if add_vic_adapter_configuration is defined %}
    {%- for item in add_vic_adapter_configuration -%}
        {
            "DceInterfaceSettings": [
                {
                    "FecMode": {% if item.dce_interface_settings is defined %}"{{ item.dce_interface_settings.dce_interface_1_fec_mode }}"{% else %}"cl91"{% endif %},
                    "InterfaceId": 0,
                    "ObjectType": "adapter.DceInterfaceSettings"
                },
                {
                    "FecMode": {% if item.dce_interface_settings is defined %}"{{ item.dce_interface_settings.dce_interface_2_fec_mode }}"{% else %}"cl91"{% endif %},
                    "InterfaceId": 1,
                    "ObjectType": "adapter.DceInterfaceSettings"
                },
                {
                    "FecMode": {% if item.dce_interface_settings is defined %}"{{ item.dce_interface_settings.dce_interface_3_fec_mode }}"{% else %}"cl91"{% endif %},
                    "InterfaceId": 2,
                    "ObjectType": "adapter.DceInterfaceSettings"
                },
                {
                    "FecMode": {% if item.dce_interface_settings is defined %}"{{ item.dce_interface_settings.dce_interface_4_fec_mode }}"{% else %}"cl91"{% endif %},
                    "InterfaceId": 3,
                    "ObjectType": "adapter.DceInterfaceSettings"
                }
            ],
            "EthSettings": {
                "LldpEnabled": {{ item.enable_lldp | default('true') }},
                "ObjectType": "adapter.EthSettings"
            },
            "FcSettings": {
                "FipEnabled": {{ item.enable_fip | default('true') }},
                "ObjectType": "adapter.FcSettings"
            },
            "ObjectType": "adapter.AdapterConfig",
            "PhysicalNicModeSettings": {
                "ObjectType": "adapter.PhysicalNicModeSettings",
                "PhyNicEnabled": {{ item.enable_physical_nic_mode | default('false') }}
            },
            "PortChannelSettings": {
                "Enabled": {{ item.enable_port_channel | default('true') }},
                "ObjectType": "adapter.PortChannelSettings"
            },
            "SlotId": "{{ item.slot_id | default('MLOM') }}",
        }{% if not loop.last %},{% endif %}
    {%- endfor -%}
{%- endif %}
    ],
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": []
{%- endif %}
}