{
    "AdminState": "{% if enable == true %}'Enabled'{% else %}'Disabled'{% endif %}",
    "AuditdLogLevel": "{{ minimum_severity_to_report | default('notifications') }}",
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "ObjectType": "auditd.Policy",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": []
{%- endif %}
}