{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- else %}
    "Tags": [],
{%- endif %}
    "AcpiSratSpFlagEn": "{{ acpi_srat_sp_flag_en | default('platform-default') }}",
    "AcsControlGpu1state": "{{ acs_control_gpu1state | default('platform-default') }}",
    "AcsControlGpu2state": "{{ acs_control_gpu2state | default('platform-default') }}",
    "AcsControlGpu3state": "{{ acs_control_gpu3state | default('platform-default') }}",
    "AcsControlGpu4state": "{{ acs_control_gpu4state | default('platform-default') }}",
    "AcsControlGpu5state": "{{ acs_control_gpu5state | default('platform-default') }}",
    "AcsControlGpu6state": "{{ acs_control_gpu6state | default('platform-default') }}",
    "AcsControlGpu7state": "{{ acs_control_gpu7state | default('platform-default') }}",
    "AcsControlGpu8state": "{{ acs_control_gpu8state | default('platform-default') }}",
    "AcsControlSlot11state": "{{ acs_control_slot11state | default('platform-default') }}",
    "AcsControlSlot12state": "{{ acs_control_slot12state | default('platform-default') }}",
    "AcsControlSlot13state": "{{ acs_control_slot13state | default('platform-default') }}",
    "AcsControlSlot14state": "{{ acs_control_slot14state | default('platform-default') }}",
    "AdaptiveRefreshMgmtLevel": "{{ adaptive_refresh_mgmt_level | default('platform-default') }}",
    "AdjacentCacheLinePrefetch": "{{ adjacent_cache_line_prefetch | default('platform-default') }}",
    "AdvancedMemTest": "{{ advanced_mem_test | default('platform-default') }}",
    "AllUsbDevices": "{{ all_usb_devices | default('platform-default') }}",
    "Altitude": "{{ altitude | default('platform-default') }}",
    "AspmSupport": "{{ aspm_support | default('platform-default') }}",
    "AssertNmiOnPerr": "{{ assert_nmi_on_perr | default('platform-default') }}",
    "AssertNmiOnSerr": "{{ assert_nmi_on_serr | default('platform-default') }}",
    "AutoCcState": "{{ auto_cc_state | default('platform-default') }}",
    "AutonumousCstateEnable": "{{ autonumous_cstate_enable | default('platform-default') }}",
    "BaudRate": "{{ baud_rate | default('platform-default') }}",
    "BmeDmaMitigation": "{{ bme_dma_mitigation | default('platform-default') }}",
    "BootOptionNumRetry": "{{ boot_option_num_retry | default('platform-default') }}",
    "BootOptionReCoolDown": "{{ boot_option_re_cool_down | default('platform-default') }}",
    "BootOptionRetry": "{{ boot_option_retry | default('platform-default') }}",
    "BootPerformanceMode": "{{ boot_performance_mode | default('platform-default') }}",
    "BurstAndPostponedRefresh": "{{ burst_and_postponed_refresh | default('platform-default') }}",
    "C1autoDemotion": "{{ c1auto_demotion | default('platform-default') }}",
    "C1autoUnDemotion": "{{ c1auto_un_demotion | default('platform-default') }}",
    "CbsCmnApbdis": "{{ cbs_cmn_apbdis | default('platform-default') }}",
    "CbsCmnApbdisDfPstateRs": "{{ cbs_cmn_apbdis_df_pstate_rs | default('platform-default') }}",
    "CbsCmnCpuAvx512": "{{ cbs_cmn_cpu_avx512 | default('platform-default') }}",
    "CbsCmnCpuCpb": "{{ cbs_cmn_cpu_cpb | default('platform-default') }}",
    "CbsCmnCpuGenDowncoreCtrl": "{{ cbs_cmn_cpu_gen_downcore_ctrl | default('platform-default') }}",
    "CbsCmnCpuGlobalCstateCtrl": "{{ cbs_cmn_cpu_global_cstate_ctrl | default('platform-default') }}",
    "CbsCmnCpuL1streamHwPrefetcher": "{{ cbs_cmn_cpu_l1stream_hw_prefetcher | default('platform-default') }}",
    "CbsCmnCpuL2streamHwPrefetcher": "{{ cbs_cmn_cpu_l2stream_hw_prefetcher | default('platform-default') }}",
    "CbsCmnCpuSevAsidSpaceLimit": "{{ cbs_cmn_cpu_sev_asid_space_limit | default('platform-default') }}",
    "CbsCmnCpuSmee": "{{ cbs_cmn_cpu_smee | default('platform-default') }}",
    "CbsCmnCpuStreamingStoresCtrl": "{{ cbs_cmn_cpu_streaming_stores_ctrl | default('platform-default') }}",
    "CbsCmnDeterminismSlider": "{{ cbs_cmn_determinism_slider | default('platform-default') }}",
    "CbsCmnEdcControlThrottle": "{{ cbs_cmn_edc_control_throttle | default('platform-default') }}",
    "CbsCmnEfficiencyModeEn": "{{ cbs_cmn_efficiency_mode_en | default('platform-default') }}",
    "CbsCmnEfficiencyModeEnRs": "{{ cbs_cmn_efficiency_mode_en_rs | default('platform-default') }}",
    "CbsCmnFixedSocPstate": "{{ cbs_cmn_fixed_soc_pstate | default('platform-default') }}",
    "CbsCmnGnbNbIommu": "{{ cbs_cmn_gnb_nb_iommu | default('platform-default') }}",
    "CbsCmnGnbSmuDfCstates": "{{ cbs_cmn_gnb_smu_df_cstates | default('platform-default') }}",
    "CbsCmnGnbSmuDffoRs": "{{ cbs_cmn_gnb_smu_dffo_rs | default('platform-default') }}",
    "CbsCmnGnbSmuDlwmSupport": "{{ cbs_cmn_gnb_smu_dlwm_support | default('platform-default') }}",
    "CbsCmnGnbSmucppc": "{{ cbs_cmn_gnb_smucppc | default('platform-default') }}",
    "CbsCmnMemCtrlBankGroupSwapDdr4": "{{ cbs_cmn_mem_ctrl_bank_group_swap_ddr4 | default('platform-default') }}",
    "CbsCmnMemCtrllerPwrDnEnDdr": "{{ cbs_cmn_mem_ctrller_pwr_dn_en_ddr | default('platform-default') }}",
    "CbsCmnMemMapBankInterleaveDdr4": "{{ cbs_cmn_mem_map_bank_interleave_ddr4 | default('platform-default') }}",
    "CbsCmnMemSpeedDdr47xx2": "{{ cbs_cmn_mem_speed_ddr47xx2 | default('platform-default') }}",
    "CbsCmnMemSpeedDdr47xx3": "{{ cbs_cmn_mem_speed_ddr47xx3 | default('platform-default') }}",
    "CbsCmnPreferredIo7xx2": "{{ cbs_cmn_preferred_io7xx2 | default('platform-default') }}",
    "CbsCmnPreferredIo7xx3": "{{ cbs_cmn_preferred_io7xx3 | default('platform-default') }}",
    "CbsCmncTdpCtl": "{{ cbs_cmnc_tdp_ctl | default('platform-default') }}",
    "CbsCmnxGmiForceLinkWidthRs": "{{ cbs_cmnx_gmi_force_link_width_rs | default('platform-default') }}",
    "CbsCpuCcdCtrlSsp": "{{ cbs_cpu_ccd_ctrl_ssp | default('platform-default') }}",
    "CbsCpuCoreCtrl": "{{ cbs_cpu_core_ctrl | default('platform-default') }}",
    "CbsCpuDownCoreCtrlBergamo": "{{ cbs_cpu_down_core_ctrl_bergamo | default('platform-default') }}",
    "CbsCpuDownCoreCtrlGenoa": "{{ cbs_cpu_down_core_ctrl_genoa | default('platform-default') }}",
    "CbsCpuSmtCtrl": "{{ cbs_cpu_smt_ctrl | default('platform-default') }}",
    "CbsDbgCpuGenCpuWdt": "{{ cbs_dbg_cpu_gen_cpu_wdt | default('platform-default') }}",
    "CbsDbgCpuLapicMode": "{{ cbs_dbg_cpu_lapic_mode | default('platform-default') }}",
    "CbsDbgCpuSnpMemCover": "{{ cbs_dbg_cpu_snp_mem_cover | default('platform-default') }}",
    "CbsDbgCpuSnpMemSizeCover": "{{ cbs_dbg_cpu_snp_mem_size_cover | default('platform-default') }}",
    "CbsDfCmn4linkMaxXgmiSpeed": "{{ cbs_df_cmn4link_max_xgmi_speed | default('platform-default') }}",
    "CbsDfCmnAcpiSratL3numa": "{{ cbs_df_cmn_acpi_srat_l3numa | default('platform-default') }}",
    "CbsDfCmnDramNps": "{{ cbs_df_cmn_dram_nps | default('platform-default') }}",
    "CbsDfCmnDramScrubTime": "{{ cbs_df_cmn_dram_scrub_time | default('platform-default') }}",
    "CbsDfCmnMemIntlv": "{{ cbs_df_cmn_mem_intlv | default('platform-default') }}",
    "CbsDfCmnMemIntlvControl": "{{ cbs_df_cmn_mem_intlv_control | default('platform-default') }}",
    "CbsDfCmnMemIntlvSize": "{{ cbs_df_cmn_mem_intlv_size | default('platform-default') }}",
    "CbsDfDbgXgmiLinkCfg": "{{ cbs_df_dbg_xgmi_link_cfg | default('platform-default') }}",
    "CbsGnbDbgPcieTbtSupport": "{{ cbs_gnb_dbg_pcie_tbt_support | default('platform-default') }}",
    "CbsSevSnpSupport": "{{ cbs_sev_snp_support | default('platform-default') }}",
    "CdnEnable": "{{ cdn_enable | default('platform-default') }}",
    "CdnSupport": "{{ cdn_support | default('platform-default') }}",
    "ChannelInterLeave": "{{ channel_inter_leave | default('platform-default') }}",
    "CiscoAdaptiveMemTraining": "{{ cisco_adaptive_mem_training | default('platform-default') }}",
    "CiscoDebugLevel": "{{ cisco_debug_level | default('platform-default') }}",
    "CiscoOpromLaunchOptimization": "{{ cisco_oprom_launch_optimization | default('platform-default') }}",
    "CiscoXgmiMaxSpeed": "{{ cisco_xgmi_max_speed | default('platform-default') }}",
    "CkeLowPolicy": "{{ cke_low_policy | default('platform-default') }}",
    "ClosedLoopThermThrotl": "{{ closed_loop_therm_throtl | default('platform-default') }}",
    "CmciEnable": "{{ cmci_enable | default('platform-default') }}",
    "ConfigTdp": "{{ config_tdp | default('platform-default') }}",
    "ConfigTdpLevel": "{{ config_tdp_level | default('platform-default') }}",
    "ConsoleRedirection": "{{ console_redirection | default('platform-default') }}",
    "CoreMultiProcessing": "{{ core_multi_processing | default('platform-default') }}",
    "CpuEnergyPerformance": "{{ cpu_energy_performance | default('platform-default') }}",
    "CpuFrequencyFloor": "{{ cpu_frequency_floor | default('platform-default') }}",
    "CpuPaLimit": "{{ cpu_pa_limit | default('platform-default') }}",
    "CpuPerfEnhancement": "{{ cpu_perf_enhancement | default('platform-default') }}",
    "CpuPerformance": "{{ cpu_performance | default('platform-default') }}",
    "CpuPowerManagement": "{{ cpu_power_management | default('platform-default') }}",
    "CrQos": "{{ cr_qos | default('platform-default') }}",
    "CrfastgoConfig": "{{ crfastgo_config | default('platform-default') }}",
    "DcpmmFirmwareDowngrade": "{{ dcpmm_firmware_downgrade | default('platform-default') }}",
    "DemandScrub": "{{ demand_scrub | default('platform-default') }}",
    "DfxOsbEn": "{{ dfx_osb_en | default('platform-default') }}",
    "DirectCacheAccess": "{{ direct_cache_access | default('platform-default') }}",
    "DmaCtrlOptIn": "{{ dma_ctrl_opt_in | default('platform-default') }}",
    "DramClockThrottling": "{{ dram_clock_throttling | default('platform-default') }}",
    "DramRefreshRate": "{{ dram_refresh_rate | default('platform-default') }}",
    "DramSwThermalThrottling": "{{ dram_sw_thermal_throttling | default('platform-default') }}",
    "EadrSupport": "{{ eadr_support | default('platform-default') }}",
    "EdpcEn": "{{ edpc_en | default('platform-default') }}",
    "EnableClockSpreadSpec": "{{ enable_clock_spread_spec | default('platform-default') }}",
    "EnableMktme": "{{ enable_mktme | default('platform-default') }}",
    "EnableRmt": "{{ enable_rmt | default('platform-default') }}",
    "EnableSgx": "{{ enable_sgx | default('platform-default') }}",
    "EnableTdx": "{{ enable_tdx | default('platform-default') }}",
    "EnableTdxSeamldr": "{{ enable_tdx_seamldr | default('platform-default') }}",
    "EnableTme": "{{ enable_tme | default('platform-default') }}",
    "EnergyEfficientTurbo": "{{ energy_efficient_turbo | default('platform-default') }}",
    "EngPerfTuning": "{{ eng_perf_tuning | default('platform-default') }}",
    "EnhancedIntelSpeedStepTech": "{{ enhanced_intel_speed_step_tech | default('platform-default') }}",
    "EpochUpdate": "{{ epoch_update | default('platform-default') }}",
    "EppEnable": "{{ epp_enable | default('platform-default') }}",
    "EppProfile": "{{ epp_profile | default('platform-default') }}",
    "ErrorCheckScrub": "{{ error_check_scrub | default('platform-default') }}",
    "ExecuteDisableBit": "{{ execute_disable_bit | default('platform-default') }}",
    "ExtendedApic": "{{ extended_apic | default('platform-default') }}",
    "FlowControl": "{{ flow_control | default('platform-default') }}",
    "Frb2enable": "{{ frb2enable | default('platform-default') }}",
    "GpuDirectCpu1": "{{ gpu_direct_cpu1 | default('platform-default') }}",
    "GpuDirectCpu2": "{{ gpu_direct_cpu2 | default('platform-default') }}",
    "GpuDirectCpu3": "{{ gpu_direct_cpu3 | default('platform-default') }}",
    "GpuDirectCpu4": "{{ gpu_direct_cpu4 | default('platform-default') }}",
    "HardwarePrefetch": "{{ hardware_prefetch | default('platform-default') }}",
    "HwpmEnable": "{{ hwpm_enable | default('platform-default') }}",
    "ImcInterleave": "{{ imc_interleave | default('platform-default') }}",
    "IntelDynamicSpeedSelect": "{{ intel_dynamic_speed_select | default('platform-default') }}",
    "IntelHyperThreadingTech": "{{ intel_hyper_threading_tech | default('platform-default') }}",
    "IntelSpeedSelect": "{{ intel_speed_select | default('platform-default') }}",
    "IntelTurboBoostTech": "{{ intel_turbo_boost_tech | default('platform-default') }}",
    "IntelVirtualizationTechnology": "{{ intel_virtualization_technology | default('platform-default') }}",
    "IntelVtForDirectedIo": "{{ intel_vt_for_directed_io | default('platform-default') }}",
    "IntelVtdCoherencySupport": "{{ intel_vtd_coherency_support | default('platform-default') }}",
    "IntelVtdInterruptRemapping": "{{ intel_vtd_interrupt_remapping | default('platform-default') }}",
    "IntelVtdPassThroughDmaSupport": "{{ intel_vtd_pass_through_dma_support | default('platform-default') }}",
    "IntelVtdatsSupport": "{{ intel_vtdats_support | default('platform-default') }}",
    "IoatConfigCpm": "{{ ioat_config_cpm | default('platform-default') }}",
    "IohErrorEnable": "{{ ioh_error_enable | default('platform-default') }}",
    "IohResource": "{{ ioh_resource | default('platform-default') }}",
    "IpPrefetch": "{{ ip_prefetch | default('platform-default') }}",
    "Ipv4http": "{{ ipv4http | default('platform-default') }}",
    "Ipv4pxe": "{{ ipv4pxe | default('platform-default') }}",
    "Ipv6http": "{{ ipv6http | default('platform-default') }}",
    "Ipv6pxe": "{{ ipv6pxe | default('platform-default') }}",
    "KtiPrefetch": "{{ kti_prefetch | default('platform-default') }}",
    "LatencyOptimizedMode": "{{ latency_optimized_mode | default('platform-default') }}",
    "LegacyOsRedirection": "{{ legacy_os_redirection | default('platform-default') }}",
    "LegacyUsbSupport": "{{ legacy_usb_support | default('platform-default') }}",
    "LlcAlloc": "{{ llc_alloc | default('platform-default') }}",
    "LlcPrefetch": "{{ llc_prefetch | default('platform-default') }}",
    "LomPort0state": "{{ lom_port0state | default('platform-default') }}",
    "LomPort1state": "{{ lom_port1state | default('platform-default') }}",
    "LomPort2state": "{{ lom_port2state | default('platform-default') }}",
    "LomPort3state": "{{ lom_port3state | default('platform-default') }}",
    "LomPortsAllState": "{{ lom_ports_all_state | default('platform-default') }}",
    "LvDdrMode": "{{ lv_ddr_mode | default('platform-default') }}",
    "MakeDeviceNonBootable": "{{ make_device_non_bootable | default('platform-default') }}",
    "MemoryBandwidthBoost": "{{ memory_bandwidth_boost | default('platform-default') }}",
    "MemoryInterLeave": "{{ memory_inter_leave | default('platform-default') }}",
    "MemoryMappedIoAbove4gb": "{{ memory_mapped_io_above4gb | default('platform-default') }}",
    "MemoryRefreshRate": "{{ memory_refresh_rate | default('platform-default') }}",
    "MemorySizeLimit": "{{ memory_size_limit | default('platform-default') }}",
    "MemoryThermalThrottling": "{{ memory_thermal_throttling | default('platform-default') }}",
    "MirroringMode": "{{ mirroring_mode | default('platform-default') }}",
    "MmcfgBase": "{{ mmcfg_base | default('platform-default') }}",
    "MmiohBase": "{{ mmioh_base | default('platform-default') }}",
    "MmiohSize": "{{ mmioh_size | default('platform-default') }}",
    "NetworkStack": "{{ network_stack | default('platform-default') }}",
    "NumaOptimized": "{{ numa_optimized | default('platform-default') }}",
    "NvmdimmPerformConfig": "{{ nvmdimm_perform_config | default('platform-default') }}",
    "Onboard10gbitLom": "{{ onboard10gbit_lom | default('platform-default') }}",
    "OnboardGbitLom": "{{ onboard_gbit_lom | default('platform-default') }}",
    "OnboardScuStorageSupport": "{{ onboard_scu_storage_support | default('platform-default') }}",
    "OnboardScuStorageSwStack": "{{ onboard_scu_storage_sw_stack | default('platform-default') }}",
    "OperationMode": "{{ operation_mode | default('platform-default') }}",
    "OptimizedPowerMode": "{{ optimized_power_mode | default('platform-default') }}",
    "OsBootWatchdogTimer": "{{ os_boot_watchdog_timer | default('platform-default') }}",
    "OsBootWatchdogTimerPolicy": "{{ os_boot_watchdog_timer_policy | default('platform-default') }}",
    "OsBootWatchdogTimerTimeout": "{{ os_boot_watchdog_timer_timeout | default('platform-default') }}",
    "OutOfBandMgmtPort": "{{ out_of_band_mgmt_port | default('platform-default') }}",
    "PackageCstateLimit": "{{ package_cstate_limit | default('platform-default') }}",
    "PanicHighWatermark": "{{ panic_high_watermark | default('platform-default') }}",
    "PartialCacheLineSparing": "{{ partial_cache_line_sparing | default('platform-default') }}",
    "PartialMirrorModeConfig": "{{ partial_mirror_mode_config | default('platform-default') }}",
    "PartialMirrorPercent": "{{ partial_mirror_percent | default('platform-default') }}",
    "PartialMirrorValue1": "{{ partial_mirror_value1 | default('platform-default') }}",
    "PartialMirrorValue2": "{{ partial_mirror_value2 | default('platform-default') }}",
    "PartialMirrorValue3": "{{ partial_mirror_value3 | default('platform-default') }}",
    "PartialMirrorValue4": "{{ partial_mirror_value4 | default('platform-default') }}",
    "PatrolScrub": "{{ patrol_scrub | default('platform-default') }}",
    "PatrolScrubDuration": "{{ patrol_scrub_duration | default('platform-default') }}",
    "PcIeRasSupport": "{{ pc_ie_ras_support | default('platform-default') }}",
    "PcIeSsdHotPlugSupport": "{{ pc_ie_ssd_hot_plug_support | default('platform-default') }}",
    "PchPciePllSsc": "{{ pch_pcie_pll_ssc | default('platform-default') }}",
    "PchUsb30mode": "{{ pch_usb30mode | default('platform-default') }}",
    "PciOptionRoMs": "{{ pci_option_ro_ms | default('platform-default') }}",
    "PciRomClp": "{{ pci_rom_clp | default('platform-default') }}",
    "PcieAriSupport": "{{ pcie_ari_support | default('platform-default') }}",
    "PciePllSsc": "{{ pcie_pll_ssc | default('platform-default') }}",
    "PcieSlotMraid1linkSpeed": "{{ pcie_slot_mraid1link_speed | default('platform-default') }}",
    "PcieSlotMraid1optionRom": "{{ pcie_slot_mraid1option_rom | default('platform-default') }}",
    "PcieSlotMraid2linkSpeed": "{{ pcie_slot_mraid2link_speed | default('platform-default') }}",
    "PcieSlotMraid2optionRom": "{{ pcie_slot_mraid2option_rom | default('platform-default') }}",
    "PcieSlotMstorraidLinkSpeed": "{{ pcie_slot_mstorraid_link_speed | default('platform-default') }}",
    "PcieSlotMstorraidOptionRom": "{{ pcie_slot_mstorraid_option_rom | default('platform-default') }}",
    "PcieSlotNvme1linkSpeed": "{{ pcie_slot_nvme1link_speed | default('platform-default') }}",
    "PcieSlotNvme1optionRom": "{{ pcie_slot_nvme1option_rom | default('platform-default') }}",
    "PcieSlotNvme2linkSpeed": "{{ pcie_slot_nvme2link_speed | default('platform-default') }}",
    "PcieSlotNvme2optionRom": "{{ pcie_slot_nvme2option_rom | default('platform-default') }}",
    "PcieSlotNvme3linkSpeed": "{{ pcie_slot_nvme3link_speed | default('platform-default') }}",
    "PcieSlotNvme3optionRom": "{{ pcie_slot_nvme3option_rom | default('platform-default') }}",
    "PcieSlotNvme4linkSpeed": "{{ pcie_slot_nvme4link_speed | default('platform-default') }}",
    "PcieSlotNvme4optionRom": "{{ pcie_slot_nvme4option_rom | default('platform-default') }}",
    "PcieSlotNvme5linkSpeed": "{{ pcie_slot_nvme5link_speed | default('platform-default') }}",
    "PcieSlotNvme5optionRom": "{{ pcie_slot_nvme5option_rom | default('platform-default') }}",
    "PcieSlotNvme6linkSpeed": "{{ pcie_slot_nvme6link_speed | default('platform-default') }}",
    "PcieSlotNvme6optionRom": "{{ pcie_slot_nvme6option_rom | default('platform-default') }}",
    "PcieSlotsCdnEnable": "{{ pcie_slots_cdn_enable | default('platform-default') }}",
    "PopSupport": "{{ pop_support | default('platform-default') }}",
    "PostErrorPause": "{{ post_error_pause | default('platform-default') }}",
    "PostPackageRepair": "{{ post_package_repair | default('platform-default') }}",
    "PreBootDmaProtection": "{{ pre_boot_dma_protection | default('platform-default') }}",
    "PrmrrSize": "{{ prmrr_size | default('platform-default') }}",
    "ProcessorC1e": "{{ processor_c1e | default('platform-default') }}",
    "ProcessorC3report": "{{ processor_c3report | default('platform-default') }}",
    "ProcessorC6report": "{{ processor_c6report | default('platform-default') }}",
    "ProcessorCstate": "{{ processor_cstate | default('platform-default') }}",
    "Psata": "{{ psata | default('platform-default') }}",
    "PstateCoordType": "{{ pstate_coord_type | default('platform-default') }}",
    "PuttyKeyPad": "{{ putty_key_pad | default('platform-default') }}",
    "PwrPerfTuning": "{{ pwr_perf_tuning | default('platform-default') }}",
    "QpiLinkFrequency": "{{ qpi_link_frequency | default('platform-default') }}",
    "QpiLinkSpeed": "{{ qpi_link_speed | default('platform-default') }}",
    "QpiSnoopMode": "{{ qpi_snoop_mode | default('platform-default') }}",
    "RankInterLeave": "{{ rank_inter_leave | default('platform-default') }}",
    "RedirectionAfterPost": "{{ redirection_after_post | default('platform-default') }}",
    "ResizeBarSupport": "{{ resize_bar_support | default('platform-default') }}",
    "RuntimePostPackageRepair": "{{ runtime_post_package_repair | default('platform-default') }}",
    "SataModeSelect": "{{ sata_mode_select | default('platform-default') }}",
    "SelectMemoryRasConfiguration": "{{ select_memory_ras_configuration | default('platform-default') }}",
    "SelectPprType": "{{ select_ppr_type | default('platform-default') }}",
    "SerialMux": "{{ serial_mux | default('platform-default') }}",
    "SerialPortAenable": "{{ serial_port_aenable | default('platform-default') }}",
    "Sev": "{{ sev | default('platform-default') }}",
    "SgxAutoRegistrationAgent": "{{ sgx_auto_registration_agent | default('platform-default') }}",
    "SgxEpoch0": "{{ sgx_epoch0 | default('platform-default') }}",
    "SgxEpoch1": "{{ sgx_epoch1 | default('platform-default') }}",
    "SgxFactoryReset": "{{ sgx_factory_reset | default('platform-default') }}",
    "SgxLePubKeyHash0": "{{ sgx_le_pub_key_hash0 | default('platform-default') }}",
    "SgxLePubKeyHash1": "{{ sgx_le_pub_key_hash1 | default('platform-default') }}",
    "SgxLePubKeyHash2": "{{ sgx_le_pub_key_hash2 | default('platform-default') }}",
    "SgxLePubKeyHash3": "{{ sgx_le_pub_key_hash3 | default('platform-default') }}",
    "SgxLeWr": "{{ sgx_le_wr | default('platform-default') }}",
    "SgxPackageInfoInBandAccess": "{{ sgx_package_info_in_band_access | default('platform-default') }}",
    "SgxQos": "{{ sgx_qos | default('platform-default') }}",
    "Sha1pcrBank": "{{ sha1pcr_bank | default('platform-default') }}",
    "Sha256pcrBank": "{{ sha256pcr_bank | default('platform-default') }}",
    "Sha384pcrBank": "{{ sha384pcr_bank | default('platform-default') }}",
    "SinglePctlEnable": "{{ single_pctl_enable | default('platform-default') }}",
    "Slot10linkSpeed": "{{ slot10link_speed | default('platform-default') }}",
    "Slot10state": "{{ slot10state | default('platform-default') }}",
    "Slot11linkSpeed": "{{ slot11link_speed | default('platform-default') }}",
    "Slot11state": "{{ slot11state | default('platform-default') }}",
    "Slot12linkSpeed": "{{ slot12link_speed | default('platform-default') }}",
    "Slot12state": "{{ slot12state | default('platform-default') }}",
    "Slot13state": "{{ slot13state | default('platform-default') }}",
    "Slot14state": "{{ slot14state | default('platform-default') }}",
    "Slot1linkSpeed": "{{ slot1link_speed | default('platform-default') }}",
    "Slot1state": "{{ slot1state | default('platform-default') }}",
    "Slot2linkSpeed": "{{ slot2link_speed | default('platform-default') }}",
    "Slot2state": "{{ slot2state | default('platform-default') }}",
    "Slot3linkSpeed": "{{ slot3link_speed | default('platform-default') }}",
    "Slot3state": "{{ slot3state | default('platform-default') }}",
    "Slot4linkSpeed": "{{ slot4link_speed | default('platform-default') }}",
    "Slot4state": "{{ slot4state | default('platform-default') }}",
    "Slot5linkSpeed": "{{ slot5link_speed | default('platform-default') }}",
    "Slot5state": "{{ slot5state | default('platform-default') }}",
    "Slot6linkSpeed": "{{ slot6link_speed | default('platform-default') }}",
    "Slot6state": "{{ slot6state | default('platform-default') }}",
    "Slot7linkSpeed": "{{ slot7link_speed | default('platform-default') }}",
    "Slot7state": "{{ slot7state | default('platform-default') }}",
    "Slot8linkSpeed": "{{ slot8link_speed | default('platform-default') }}",
    "Slot8state": "{{ slot8state | default('platform-default') }}",
    "Slot9linkSpeed": "{{ slot9link_speed | default('platform-default') }}",
    "Slot9state": "{{ slot9state | default('platform-default') }}",
    "SlotFlomLinkSpeed": "{{ slot_flom_link_speed | default('platform-default') }}",
    "SlotFrontNvme10linkSpeed": "{{ slot_front_nvme10link_speed | default('platform-default') }}",
    "SlotFrontNvme10optionRom": "{{ slot_front_nvme10option_rom | default('platform-default') }}",
    "SlotFrontNvme11linkSpeed": "{{ slot_front_nvme11link_speed | default('platform-default') }}",
    "SlotFrontNvme11optionRom": "{{ slot_front_nvme11option_rom | default('platform-default') }}",
    "SlotFrontNvme12linkSpeed": "{{ slot_front_nvme12link_speed | default('platform-default') }}",
    "SlotFrontNvme12optionRom": "{{ slot_front_nvme12option_rom | default('platform-default') }}",
    "SlotFrontNvme13linkSpeed": "{{ slot_front_nvme13link_speed | default('platform-default') }}",
    "SlotFrontNvme13optionRom": "{{ slot_front_nvme13option_rom | default('platform-default') }}",
    "SlotFrontNvme14linkSpeed": "{{ slot_front_nvme14link_speed | default('platform-default') }}",
    "SlotFrontNvme14optionRom": "{{ slot_front_nvme14option_rom | default('platform-default') }}",
    "SlotFrontNvme15linkSpeed": "{{ slot_front_nvme15link_speed | default('platform-default') }}",
    "SlotFrontNvme15optionRom": "{{ slot_front_nvme15option_rom | default('platform-default') }}",
    "SlotFrontNvme16linkSpeed": "{{ slot_front_nvme16link_speed | default('platform-default') }}",
    "SlotFrontNvme16optionRom": "{{ slot_front_nvme16option_rom | default('platform-default') }}",
    "SlotFrontNvme17linkSpeed": "{{ slot_front_nvme17link_speed | default('platform-default') }}",
    "SlotFrontNvme17optionRom": "{{ slot_front_nvme17option_rom | default('platform-default') }}",
    "SlotFrontNvme18linkSpeed": "{{ slot_front_nvme18link_speed | default('platform-default') }}",
    "SlotFrontNvme18optionRom": "{{ slot_front_nvme18option_rom | default('platform-default') }}",
    "SlotFrontNvme19linkSpeed": "{{ slot_front_nvme19link_speed | default('platform-default') }}",
    "SlotFrontNvme19optionRom": "{{ slot_front_nvme19option_rom | default('platform-default') }}",
    "SlotFrontNvme1linkSpeed": "{{ slot_front_nvme1link_speed | default('platform-default') }}",
    "SlotFrontNvme1optionRom": "{{ slot_front_nvme1option_rom | default('platform-default') }}",
    "SlotFrontNvme20linkSpeed": "{{ slot_front_nvme20link_speed | default('platform-default') }}",
    "SlotFrontNvme20optionRom": "{{ slot_front_nvme20option_rom | default('platform-default') }}",
    "SlotFrontNvme21linkSpeed": "{{ slot_front_nvme21link_speed | default('platform-default') }}",
    "SlotFrontNvme21optionRom": "{{ slot_front_nvme21option_rom | default('platform-default') }}",
    "SlotFrontNvme22linkSpeed": "{{ slot_front_nvme22link_speed | default('platform-default') }}",
    "SlotFrontNvme22optionRom": "{{ slot_front_nvme22option_rom | default('platform-default') }}",
    "SlotFrontNvme23linkSpeed": "{{ slot_front_nvme23link_speed | default('platform-default') }}",
    "SlotFrontNvme23optionRom": "{{ slot_front_nvme23option_rom | default('platform-default') }}",
    "SlotFrontNvme24linkSpeed": "{{ slot_front_nvme24link_speed | default('platform-default') }}",
    "SlotFrontNvme24optionRom": "{{ slot_front_nvme24option_rom | default('platform-default') }}",
    "SlotFrontNvme25linkSpeed": "{{ slot_front_nvme25link_speed | default('platform-default') }}",
    "SlotFrontNvme25optionRom": "{{ slot_front_nvme25option_rom | default('platform-default') }}",
    "SlotFrontNvme26linkSpeed": "{{ slot_front_nvme26link_speed | default('platform-default') }}",
    "SlotFrontNvme26optionRom": "{{ slot_front_nvme26option_rom | default('platform-default') }}",
    "SlotFrontNvme27linkSpeed": "{{ slot_front_nvme27link_speed | default('platform-default') }}",
    "SlotFrontNvme27optionRom": "{{ slot_front_nvme27option_rom | default('platform-default') }}",
    "SlotFrontNvme28linkSpeed": "{{ slot_front_nvme28link_speed | default('platform-default') }}",
    "SlotFrontNvme28optionRom": "{{ slot_front_nvme28option_rom | default('platform-default') }}",
    "SlotFrontNvme29linkSpeed": "{{ slot_front_nvme29link_speed | default('platform-default') }}",
    "SlotFrontNvme29optionRom": "{{ slot_front_nvme29option_rom | default('platform-default') }}",
    "SlotFrontNvme2linkSpeed": "{{ slot_front_nvme2link_speed | default('platform-default') }}",
    "SlotFrontNvme2optionRom": "{{ slot_front_nvme2option_rom | default('platform-default') }}",
    "SlotFrontNvme30linkSpeed": "{{ slot_front_nvme30link_speed | default('platform-default') }}",
    "SlotFrontNvme30optionRom": "{{ slot_front_nvme30option_rom | default('platform-default') }}",
    "SlotFrontNvme31linkSpeed": "{{ slot_front_nvme31link_speed | default('platform-default') }}",
    "SlotFrontNvme31optionRom": "{{ slot_front_nvme31option_rom | default('platform-default') }}",
    "SlotFrontNvme32linkSpeed": "{{ slot_front_nvme32link_speed | default('platform-default') }}",
    "SlotFrontNvme32optionRom": "{{ slot_front_nvme32option_rom | default('platform-default') }}",
    "SlotFrontNvme3linkSpeed": "{{ slot_front_nvme3link_speed | default('platform-default') }}",
    "SlotFrontNvme3optionRom": "{{ slot_front_nvme3option_rom | default('platform-default') }}",
    "SlotFrontNvme4linkSpeed": "{{ slot_front_nvme4link_speed | default('platform-default') }}",
    "SlotFrontNvme4optionRom": "{{ slot_front_nvme4option_rom | default('platform-default') }}",
    "SlotFrontNvme5linkSpeed": "{{ slot_front_nvme5link_speed | default('platform-default') }}",
    "SlotFrontNvme5optionRom": "{{ slot_front_nvme5option_rom | default('platform-default') }}",
    "SlotFrontNvme6linkSpeed": "{{ slot_front_nvme6link_speed | default('platform-default') }}",
    "SlotFrontNvme6optionRom": "{{ slot_front_nvme6option_rom | default('platform-default') }}",
    "SlotFrontNvme7linkSpeed": "{{ slot_front_nvme7link_speed | default('platform-default') }}",
    "SlotFrontNvme7optionRom": "{{ slot_front_nvme7option_rom | default('platform-default') }}",
    "SlotFrontNvme8linkSpeed": "{{ slot_front_nvme8link_speed | default('platform-default') }}",
    "SlotFrontNvme8optionRom": "{{ slot_front_nvme8option_rom | default('platform-default') }}",
    "SlotFrontNvme9linkSpeed": "{{ slot_front_nvme9link_speed | default('platform-default') }}",
    "SlotFrontNvme9optionRom": "{{ slot_front_nvme9option_rom | default('platform-default') }}",
    "SlotFrontSlot5linkSpeed": "{{ slot_front_slot5link_speed | default('platform-default') }}",
    "SlotFrontSlot6linkSpeed": "{{ slot_front_slot6link_speed | default('platform-default') }}",
    "SlotGpu1state": "{{ slot_gpu1state | default('platform-default') }}",
    "SlotGpu2state": "{{ slot_gpu2state | default('platform-default') }}",
    "SlotGpu3state": "{{ slot_gpu3state | default('platform-default') }}",
    "SlotGpu4state": "{{ slot_gpu4state | default('platform-default') }}",
    "SlotGpu5state": "{{ slot_gpu5state | default('platform-default') }}",
    "SlotGpu6state": "{{ slot_gpu6state | default('platform-default') }}",
    "SlotGpu7state": "{{ slot_gpu7state | default('platform-default') }}",
    "SlotGpu8state": "{{ slot_gpu8state | default('platform-default') }}",
    "SlotHbaLinkSpeed": "{{ slot_hba_link_speed | default('platform-default') }}",
    "SlotHbaState": "{{ slot_hba_state | default('platform-default') }}",
    "SlotLom1link": "{{ slot_lom1link | default('platform-default') }}",
    "SlotLom2link": "{{ slot_lom2link | default('platform-default') }}",
    "SlotMezzState": "{{ slot_mezz_state | default('platform-default') }}",
    "SlotMlomLinkSpeed": "{{ slot_mlom_link_speed | default('platform-default') }}",
    "SlotMlomState": "{{ slot_mlom_state | default('platform-default') }}",
    "SlotMraidLinkSpeed": "{{ slot_mraid_link_speed | default('platform-default') }}",
    "SlotMraidState": "{{ slot_mraid_state | default('platform-default') }}",
    "SlotN10state": "{{ slot_n10state | default('platform-default') }}",
    "SlotN11state": "{{ slot_n11state | default('platform-default') }}",
    "SlotN12state": "{{ slot_n12state | default('platform-default') }}",
    "SlotN13state": "{{ slot_n13state | default('platform-default') }}",
    "SlotN14state": "{{ slot_n14state | default('platform-default') }}",
    "SlotN15state": "{{ slot_n15state | default('platform-default') }}",
    "SlotN16state": "{{ slot_n16state | default('platform-default') }}",
    "SlotN17state": "{{ slot_n17state | default('platform-default') }}",
    "SlotN18state": "{{ slot_n18state | default('platform-default') }}",
    "SlotN19state": "{{ slot_n19state | default('platform-default') }}",
    "SlotN1state": "{{ slot_n1state | default('platform-default') }}",
    "SlotN20state": "{{ slot_n20state | default('platform-default') }}",
    "SlotN21state": "{{ slot_n21state | default('platform-default') }}",
    "SlotN22state": "{{ slot_n22state | default('platform-default') }}",
    "SlotN23state": "{{ slot_n23state | default('platform-default') }}",
    "SlotN24state": "{{ slot_n24state | default('platform-default') }}",
    "SlotN2state": "{{ slot_n2state | default('platform-default') }}",
    "SlotN3state": "{{ slot_n3state | default('platform-default') }}",
    "SlotN4state": "{{ slot_n4state | default('platform-default') }}",
    "SlotN5state": "{{ slot_n5state | default('platform-default') }}",
    "SlotN6state": "{{ slot_n6state | default('platform-default') }}",
    "SlotN7state": "{{ slot_n7state | default('platform-default') }}",
    "SlotN8state": "{{ slot_n8state | default('platform-default') }}",
    "SlotN9state": "{{ slot_n9state | default('platform-default') }}",
    "SlotRaidLinkSpeed": "{{ slot_raid_link_speed | default('platform-default') }}",
    "SlotRaidState": "{{ slot_raid_state | default('platform-default') }}",
    "SlotRearNvme1linkSpeed": "{{ slot_rear_nvme1link_speed | default('platform-default') }}",
    "SlotRearNvme1state": "{{ slot_rear_nvme1state | default('platform-default') }}",
    "SlotRearNvme2linkSpeed": "{{ slot_rear_nvme2link_speed | default('platform-default') }}",
    "SlotRearNvme2state": "{{ slot_rear_nvme2state | default('platform-default') }}",
    "SlotRearNvme3linkSpeed": "{{ slot_rear_nvme3link_speed | default('platform-default') }}",
    "SlotRearNvme3state": "{{ slot_rear_nvme3state | default('platform-default') }}",
    "SlotRearNvme4linkSpeed": "{{ slot_rear_nvme4link_speed | default('platform-default') }}",
    "SlotRearNvme4state": "{{ slot_rear_nvme4state | default('platform-default') }}",
    "SlotRearNvme5state": "{{ slot_rear_nvme5state | default('platform-default') }}",
    "SlotRearNvme6state": "{{ slot_rear_nvme6state | default('platform-default') }}",
    "SlotRearNvme7state": "{{ slot_rear_nvme7state | default('platform-default') }}",
    "SlotRearNvme8state": "{{ slot_rear_nvme8state | default('platform-default') }}",
    "SlotRiser1linkSpeed": "{{ slot_riser1link_speed | default('platform-default') }}",
    "SlotRiser1slot1linkSpeed": "{{ slot_riser1slot1link_speed | default('platform-default') }}",
    "SlotRiser1slot2linkSpeed": "{{ slot_riser1slot2link_speed | default('platform-default') }}",
    "SlotRiser1slot3linkSpeed": "{{ slot_riser1slot3link_speed | default('platform-default') }}",
    "SlotRiser2linkSpeed": "{{ slot_riser2link_speed | default('platform-default') }}",
    "SlotRiser2slot4linkSpeed": "{{ slot_riser2slot4link_speed | default('platform-default') }}",
    "SlotRiser2slot5linkSpeed": "{{ slot_riser2slot5link_speed | default('platform-default') }}",
    "SlotRiser2slot6linkSpeed": "{{ slot_riser2slot6link_speed | default('platform-default') }}",
    "SlotSasState": "{{ slot_sas_state | default('platform-default') }}",
    "SlotSsdSlot1linkSpeed": "{{ slot_ssd_slot1link_speed | default('platform-default') }}",
    "SlotSsdSlot2linkSpeed": "{{ slot_ssd_slot2link_speed | default('platform-default') }}",
    "Smee": "{{ smee | default('platform-default') }}",
    "SmtMode": "{{ smt_mode | default('platform-default') }}",
    "Snc": "{{ snc | default('platform-default') }}",
    "SnoopyModeFor2lm": "{{ snoopy_mode_for2lm | default('platform-default') }}",
    "SnoopyModeForAd": "{{ snoopy_mode_for_ad | default('platform-default') }}",
    "SparingMode": "{{ sparing_mode | default('platform-default') }}",
    "SrIov": "{{ sr_iov | default('platform-default') }}",
    "StreamerPrefetch": "{{ streamer_prefetch | default('platform-default') }}",
    "SvmMode": "{{ svm_mode | default('platform-default') }}",
    "TerminalType": "{{ terminal_type | default('platform-default') }}",
    "TpmControl": "{{ tpm_control | default('platform-default') }}",
    "TpmPendingOperation": "{{ tpm_pending_operation | default('platform-default') }}",
    "TpmPpiRequired": "{{ tpm_ppi_required | default('platform-default') }}",
    "TpmSupport": "{{ tpm_support | default('platform-default') }}",
    "Tsme": "{{ tsme | default('platform-default') }}",
    "TxtSupport": "{{ txt_support | default('platform-default') }}",
    "UcsmBootOrderRule": "{{ ucsm_boot_order_rule | default('platform-default') }}",
    "UefiMemMapSpFlagEn": "{{ uefi_mem_map_sp_flag_en | default('platform-default') }}",
    "UfsDisable": "{{ ufs_disable | default('platform-default') }}",
    "UfsDisableIo": "{{ ufs_disable_io | default('platform-default') }}",
    "UmaBasedClustering": "{{ uma_based_clustering | default('platform-default') }}",
    "UpiLinkEnablement": "{{ upi_link_enablement | default('platform-default') }}",
    "UpiPowerManagement": "{{ upi_power_management | default('platform-default') }}",
    "UsbEmul6064": "{{ usb_emul6064 | default('platform-default') }}",
    "UsbPortFront": "{{ usb_port_front | default('platform-default') }}",
    "UsbPortInternal": "{{ usb_port_internal | default('platform-default') }}",
    "UsbPortKvm": "{{ usb_port_kvm | default('platform-default') }}",
    "UsbPortRear": "{{ usb_port_rear | default('platform-default') }}",
    "UsbPortSdCard": "{{ usb_port_sd_card | default('platform-default') }}",
    "UsbPortVmedia": "{{ usb_port_vmedia | default('platform-default') }}",
    "UsbXhciSupport": "{{ usb_xhci_support | default('platform-default') }}",
    "VgaPriority": "{{ vga_priority | default('platform-default') }}",
    "VirtualNuma": "{{ virtual_numa | default('platform-default') }}",
    "VmdEnable": "{{ vmd_enable | default('platform-default') }}",
    "VolMemoryMode": "{{ vol_memory_mode | default('platform-default') }}",
    "WorkLoadConfig": "{{ work_load_config | default('platform-default') }}",
    "X2apicOptOut": "{{ x2apic_opt_out | default('platform-default') }}",
    "XptPrefetch": "{{ xpt_prefetch | default('platform-default') }}",
    "XptRemotePrefetch": "{{ xpt_remote_prefetch | default('platform-default') }}"
}