{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": [],
{%- endif %}
    "VlanSettings": {
        "AllowedVlans": "{{ allowed_vlans | default('') }}",
        "ClassId": "fabric.VlanSettings",
        "NativeVlan": {{ native_vlan | default(1) }},
        "ObjectType": "fabric.VlanSettings",
        "QinqEnabled": {{ if qinq_vlan is defined }}true{{ else }}false{{ endif }},
        "QinqVlan": {{ qinq_vlan | default(2) }}
    }
}