{
    "Burst": {{ burst | default(10240) }},
    "Cos": {{ class_of_service | default(0) }},
    "Description": "{{ description | default('') }}",
    "Mtu": {{ mtu | default(1500) }},
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "Priority": "{{ priority | default('Bronze') }}",
    "RateLimit": {{ rate_limit | default(0) }},
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- else %}
    "Tags": [],
{%- endif %}
    "TrustHostCos": {{ enable_trust_host_cos | default('false') }}
}