{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "VlanSettings": {
        "AllowedVlans": "",
        "ClassId": "vnic.VlanSettings",
        "DefaultVlan": {{ default_vlan | default(0) }},
        "Mode": "{{ vlan_mode | default('ACCESS') }}",
        "ObjectType": "vnic.VlanSettings",
        "QinqEnabled": {% if qinq_vlan is defined %}true{% else %}false{% endif %},
        "QinqVlan": {{ qinq_vlan | default(2) }}
    }
}