{
    "CdpEnabled": {{ cdp_enable | default(false)}},
    "Description": "{{ description | default('') }}",
    "ForgeMac": "{{ mac_security_forge | default('allow')}}",
    "LldpSettings": {
        "ObjectType": "fabric.LldpSettings",
        "ReceiveEnabled": {{ lldp_enable_receive | default(false) }},
        "TransmitEnabled": {{ lldp_enable_transmit | default(false) }}
    },
    "MacRegistrationMode": "{{ mac_register_mode | default('nativeVlanOnly') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "UplinkFailAction": "{{ action_on_uplink_fail | default('linkDown') }}"
}