{
    "Description": "vsan-b FC Zone Policy",
    "FcTargetMembers": [
        {
            "ClassId": "fabric.FcZoneMember",
            "Name": "netapp01",
            "ObjectType": "fabric.FcZoneMember",
            "SwitchId": "A",
            "VsanId": 200,
            "Wwpn": "50:00:00:25:B5:0B:00:01"
        },
        {
            "ClassId": "fabric.FcZoneMember",
            "Name": "pure01",
            "ObjectType": "fabric.FcZoneMember",
            "SwitchId": "B",
            "VsanId": 200,
            "Wwpn": "50:00:00:25:B5:0B:00:02"
        }
    ],
    "FcTargetZoningType": "SIMT",
    "Name": "vsan-b",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "5ddea1e16972652d32b6493a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/5ddea1e16972652d32b6493a"
    },
    "Tags": [
        {
            "Key": "Module",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "easy-imm"
        },
        {
            "Key": "Version",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "4.2.11-20241017091918219"
        }
    ]
}