{
    "Burst": {{ burst | default(10240) }},
    "Cos": {{ class_of_service | default(3) }},
    "Description": "{{ description | default('') }}",
    "MaxDataFieldSize": {{ max_data_field_size | default(2112) }},
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "Priority": "FC",
    "RateLimit": {{ rate_limit | default(0) }}{% if tags is defined %},{% endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}