{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- else %}
    "Tags": [],
{%- endif %}
    "VsanSettings": {
        "DefaultVlanId": {{ default_vlan | default(0) }},
        "Id": {{ vsan_id | default(1) }},
        "ObjectType": "vnic.VsanSettings"
    }
}