{
    "Description": "{{ description | default('') }}",
    "ExcludeComponentList": [
        "none"
    ],
    "ModelBundleCombo": [
{%- for item in model_bundle_versions %}
  {% set outer_loop = loop %}  {% comment %} Alias the outer loop variable {% endcomment %}
  {%- for m in item.server_models %}
        {
            "BundleVersion": "{{ item.firmware_version }}",
            "ModelFamily": "{{ m }}",
            "ObjectType": "firmware.ModelBundleVersion"
        }{% if not loop.last or not outer_loop.last %},{% endif %}
  {%- endfor -%}
{%- endfor -%}
    ],
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "TargetPlatform": "{{ target_platform | default('FIAttached') }}"
}