{
    "Description": "",
    "Name": "asdf",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "5ddea1e16972652d32b6493a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/5ddea1e16972652d32b6493a"
    },
    "PerTypeCombinedSelector": [
        {
            "ClassId": "resource.PerTypeCombinedSelector",
            "CombinedSelector": "(Moid eq '5ddea1e16972652d32b64920')",
            "EmptyFilter": false,
            "ObjectType": "resource.PerTypeCombinedSelector",
            "SelectorObjectType": "resource.Group"
        }
    ],
    "Selectors": [
        {
            "ClassId": "resource.Selector",
            "ObjectType": "resource.Selector",
            "Selector": "/api/v1/resource/Groups?$filter=Moid in('5ddea1e16972652d32b64920')"
        }
    ],
    "Tags": [],
    "UsageCount": 0
}