{
    "ConnectionTimeOut": {{ tcp_connection_timeout | default(15) }},
    "Description": "{{ description | default('') }}",
    "DhcpTimeout": {{ dhcp_timeout | default(60) }},
    "LunBusyRetryCount": {{ lun_busy_retry_count | default(15) }},
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}