{
    "AutoTargetvendorName": "",
    "Chap": {
        "ClassId": "vnic.IscsiAuthProfile",
        "IsPasswordSet": false,
        "ObjectType": "vnic.IscsiAuthProfile",
        "UserId": ""
    },
    "Description": "boot iSCSI Boot Policy",
    "InitiatorIpPool": null,
    "InitiatorIpSource": "DHCP",
    "InitiatorStaticIpV4Address": "",
    "InitiatorStaticIpV4Config": {
        "ClassId": "ippool.IpV4Config",
        "Gateway": "",
        "Netmask": "",
        "ObjectType": "ippool.IpV4Config",
        "PrimaryDns": "",
        "SecondaryDns": ""
    },
    "InitiatorStaticIpV6Address": "",
    "InitiatorStaticIpV6Config": null,
    "IscsiAdapterPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "65d3788dfccacb17015ccf54",
        "ObjectType": "vnic.IscsiAdapterPolicy",
        "link": "https://intersight.com/api/v1/vnic/IscsiAdapterPolicies/65d3788dfccacb17015ccf54"
    },
    "IscsiIpType": "IPv4",
    "MutualChap": {
        "ClassId": "vnic.IscsiAuthProfile",
        "IsPasswordSet": false,
        "ObjectType": "vnic.IscsiAuthProfile",
        "UserId": ""
    },
    "Name": "boot",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "5ddea1e16972652d32b6493a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/5ddea1e16972652d32b6493a"
    },
    "PrimaryTargetPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "65d3788efccacb17015cd0a5",
        "ObjectType": "vnic.IscsiStaticTargetPolicy",
        "link": "https://intersight.com/api/v1/vnic/IscsiStaticTargetPolicies/65d3788efccacb17015cd0a5"
    },
    "SecondaryTargetPolicy": null,
    "Tags": [
        {
            "Key": "Module",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "easy-imm"
        },
        {
            "Key": "Version",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "4.2.11-20241017091918219"
        }
    ],
    "TargetSourceType": "Static"
}