{
    "Description": "{{ description | default('') }}",
    "IpAddress": "{{ ip_address | default('198.18.32.60') }}",
    "IscsiIpType": "{{ ip_protocol | default('IPv4') }}",
    "Lun": {
        "Bootable": true,
        "LunId": {{ lun_id | default(0) }},
        "ObjectType": "vnic.Lun"
    },
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "Port": {{ port | default(3260) }},
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "TargetName": "{{ target_name | default('iqn.1984-12.com.cisco:ucs000') }}"
}