{
    "AzureQosEnabled": false,
    "Description": "lcp-vic-gen4:mlom Lan Connectivity Policy",
    "EthIfs": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4bc2f0dcb4401a93ef7",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4bc2f0dcb4401a93ef7"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4bd2f0dcb4401a93f11",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4bd2f0dcb4401a93f11"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4bd2f0dcb4401a93f32",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4bd2f0dcb4401a93f32"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4bd2f0dcb4401a93f63",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4bd2f0dcb4401a93f63"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4be2f0dcb4401a93f99",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4be2f0dcb4401a93f99"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4be2f0dcb4401a93fdb",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4be2f0dcb4401a93fdb"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4be2f0dcb4401a94027",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4be2f0dcb4401a94027"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4bf2f0dcb4401a94065",
            "ObjectType": "vnic.EthIf",
            "link": "https://intersight.com/api/v1/vnic/EthIfs/6467a4bf2f0dcb4401a94065"
        }
    ],
    "IqnAllocationType": "None",
    "IqnPool": null,
    "Name": "lcp-vic-gen4:mlom",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "639ffbbe6972652d3243d65f",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/639ffbbe6972652d3243d65f"
    },
    "PlacementMode": "custom",
    "StaticIqnName": "",
    "Tags": [
        {
            "Key": "ezci",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "3.1.2"
        }
    ],
    "TargetPlatform": "FIAttached"
}