{
    "AzureQosEnabled": {{ enable_azure_stack_host_qos | default('false') }},
    "Description": "{{ description | default('') }}",
    "IqnAllocationType": "{{ iqn_allocation_type | default('None') }}",
{%- if iqn_pool_moid is defined -%}
    "IqnPool": {
        "Moid": "{{ iqn_pool_moid }}",
        "ObjectType": "iqnpool.Pool"
    },
{%- else -%}
    "IqnPool": null,
{%- endif -%}
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "PlacementMode": "{{ vnic_placement_mode | default('custom') }}",
    "StaticIqnName": "{{ iqn_static_identifier | default('') }}",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- else %}
    "Tags": [],
{%- endif %}
    "TargetPlatform": "{{ target_platform | default('FIAttached') }}"
}