{
    "Description": "mcast Multicast Policy",
    "Name": "mcast",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "639ffbbe6972652d3243d65f",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/639ffbbe6972652d3243d65f"
    },
    "QuerierIpAddress": "",
    "QuerierIpAddressPeer": "",
    "QuerierState": "Disabled",
    "SnoopingState": "Enabled",
    "SrcIpProxy": "Enabled",
    "Tags": [
        {
            "Key": "ezci",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "3.1.2"
        }
    ]
}