{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "QuerierIpAddress": "{{ querier_ip_address | default('') }}",
    "QuerierIpAddressPeer": "{{ querier_ip_address_peer | default('') }}",
    "QuerierState": "{{ querier_state | default('Disabled') }}",
    "SnoopingState": "{{ snooping_state | default('Enabled') }}",
    "SrcIpProxy": "{{ source_ip_proxy_state | default('Enabled') }}"{% if tags is defined %},{% endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}