{
    "AlternateIpv4dnsServer": {% if dns_servers_v4 is defined and dns_servers_v4 | length > 1 %}"{{ dns_servers_v4[1] }}"{% else %}""{% endif %},
    "AlternateIpv6dnsServer": {% if dns_servers_v6 is defined and dns_servers_v6 | length > 1 %}"{{ dns_servers_v6[1] }}"{% else %}"::"{% endif %},
    "Description": "{{ description | default('') }}",
    "DynamicDnsDomain": "{{ update_domain | default('') }}",
    "EnableDynamicDns": {{ enable_dynamic_dns | default(false) | bool }},
    "EnableIpv4dnsFromDhcp": {{ obtain_ipv4_dns_from_dhcp | default(false) | bool }},
    "EnableIpv6": {% if obtain_ipv6_dns_from_dhcp is defined or dns_servers_v6 is defined %}true{% else %}false{% endif %},
    "EnableIpv6dnsFromDhcp": {{ obtain_ipv6_dns_from_dhcp | default(false) | bool }},
    "Name": "{{ name | default('default') }}"
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "PreferredIpv4dnsServer": {% if dns_servers_v4 is defined and dns_servers_v4 | length > 0 %}"{{ dns_servers_v4[0] }}"{% else %}""{% endif %},
    "PreferredIpv6dnsServer": {% if dns_servers_v6 is defined and dns_servers_v6 | length > 0 %}"{{ dns_servers_v6[0] }}"{% else %}"::"{% endif %},
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}