{
    "AdminSpeed": "Auto",
    "AggregatePortId": 0,
    "EthNetworkControlPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "6722338e6f62693001e98766",
        "ObjectType": "fabric.EthNetworkControlPolicy",
        "link": "https://intersight.com/api/v1/fabric/EthNetworkControlPolicies/6722338e6f62693001e98766"
    },
    "EthNetworkGroupPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "672233906f62693001e988f9",
        "ObjectType": "fabric.EthNetworkGroupPolicy",
        "link": "https://intersight.com/api/v1/fabric/EthNetworkGroupPolicies/672233906f62693001e988f9"
    },
    "Fec": "Auto",
    "FlowControlPolicy": null,
    "LinkControlPolicy": null,
    "Mode": "access",
    "PortId": 2,
    "PortPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "672233926f62693001e98b4d",
        "ObjectType": "fabric.PortPolicy",
        "link": "https://intersight.com/api/v1/fabric/PortPolicies/672233926f62693001e98b4d"
    },
    "Priority": "Best Effort",
    "SlotId": 1,
    "Tags": [
        {
            "Key": "Module",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "easy-imm"
        },
        {
            "Key": "Version",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "4.2.11-20241017091918219"
        }
    ],
    "UserLabel": ""
}