{
    "AdminSpeed": "Auto",
    "AggregatePortId": 0,
    "Fec": "Auto",
    "LinkControlPolicy": null,
    "PortId": 7,
    "PortPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "6985ee9e6f6269300156060c",
        "ObjectType": "fabric.PortPolicy",
        "link": "https://intersight.com/api/v1/fabric/PortPolicies/6985ee9e6f6269300156060c"
    },
    "SlotId": 1,
    "Tags": [],
    "UserLabel": ""
}