{
    "CustomMode": "FibreChannel",
    "PortIdEnd": 8,
    "PortIdStart": 1,
    "PortPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "6605c55a6f62693001b4e1cc",
        "ObjectType": "fabric.PortPolicy",
        "link": "https://intersight.com/api/v1/fabric/PortPolicies/6605c55a6f62693001b4e1cc"
    },
    "SlotId": 1,
    "Tags": [
        {
            "Key": "Module",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "easy-imm"
        },
        {
            "Key": "Version",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "4.2.11-20241004054146474"
        }
    ]
}