{
    "AllocatedBudget": "{{ power_allocation | default(0) }}",
    "Description": "{{ description | default('') }}",
    "DynamicRebalancing": "{{ dynamic_power_rebalancing | default('Enabled') }}",
    "ExtendedPowerCapacity": "{{ extended_power_capacity | default('Enabled') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "PowerPriority": "{{ power_priority | default('Low') }}",
    "PowerProfiling": "{{ power_profiling | default('Enabled') }}",
    "PowerRestoreState": "{{ power_restore | default('LastState') }}",
    "PowerSaveMode": "{{ power_save_mode | default('Enabled') }}",
    "ProcessorPackagePowerLimit": "{{ processor_package_power_limit | default('Default') }}",
    "RedundancyMode": "{{ power_redundancy | default('Grid') }}"{% if tags is defined %},{% endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}