{
    "Description": "scp-vic-gen4:mlom San Connectivity Policy",
    "FcIfs": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4ca2f0dcb4401a943c2",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/6467a4ca2f0dcb4401a943c2"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4cb2f0dcb4401a943d5",
            "ObjectType": "vnic.FcIf",
            "link": "https://intersight.com/api/v1/vnic/FcIfs/6467a4cb2f0dcb4401a943d5"
        }
    ],
    "Name": "scp-vic-gen4:mlom",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "639ffbbe6972652d3243d65f",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/639ffbbe6972652d3243d65f"
    },
    "PlacementMode": "custom",
    "StaticWwnnAddress": "",
    "Tags": [
        {
            "Key": "ezci",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "3.1.2"
        }
    ],
    "TargetPlatform": "FIAttached",
    "WwnnAddressType": "POOL",
    "WwnnPool": {
        "ClassId": "mo.MoRef",
        "Moid": "6467a417696275310148c6da",
        "ObjectType": "fcpool.Pool",
        "link": "https://intersight.com/api/v1/fcpool/Pools/6467a417696275310148c6da"
    }
}