{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "PlacementMode": "{{ vhba_placement_mode | default('custom') }}",
    "StaticWwnnAddress": "{{ wwnn_static_address | default('') }}",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": [],
{%- endif %}
    "TargetPlatform": "{{ target_platform | default('FIAttached') }}",
    "WwnnAddressType": {% if wwnn_static_address is defined %}"STATIC"{% else %}"POOL"{% endif %},
{%- if wwnn_pool_moid is defined -%}
    "WwnnPool": {
        "Moid": "{{ wwnn_pool_moid }}",
        "ObjectType": "fcpool.Pool"
    }
{%- else -%}
    "WwnnPool": null
{%- endif -%}
}