{
    "AssociatedObjects": [],
    "BlockDates": [],
    "Description": "",
    "EnableBlockDates": false,
    "Name": "adsf",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "5ddea1e16972652d32b6493a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/5ddea1e16972652d32b6493a"
    },
    "ScheduleParams": [
        {
            "ClassId": "scheduler.OneTimeScheduleParams",
            "Duration": "PT1H",
            "Name": "web",
            "ObjectType": "scheduler.OneTimeScheduleParams",
            "StartTime": "2026-02-18T09:00:00Z",
            "TimeZone": "America/Anchorage"
        }
    ],
    "Tags": [],
    "UsageCount": 0
}