{%- set scrub_targets = [] -%}
{%-if bios is defined and bios == true -%}
    {%- set _ = scrub_targets.append('BIOS') -%}
{%-endif -%}
{%-if disk is defined and disk == true -%}
    {%- set _ = scrub_targets.append('Disk') -%}
{%-endif -%}
{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "ScrubTargets": {{ scrub_targets | tojson }},
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": []
{%- endif %}
}