{
    "BaudRate": {{ baud_rate | default(115200) }},
    "ComPort": "{{ com_port | default('com0') }}",
    "Description": "{{ description | default('') }}",
    "Enabled": {{ enabled | default(true) | bool }},
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "SshPort": {{ ssh_port | default(2400) }},
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": []
{%- endif %}
}