{
    "ControllerAttachedNvmeSlots": "",
    "DefaultDriveMode": "UnconfiguredGood",
    "Description": "Raid1 Storage Policy",
    "DirectAttachedNvmeSlots": "",
    "DriveGroup": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d37899656f6e31010f1505",
            "ObjectType": "storage.DriveGroup",
            "link": "https://intersight.com/api/v1/storage/DriveGroups/65d37899656f6e31010f1505"
        }
    ],
    "GlobalHotSpares": "",
    "M2VirtualDrive": {
        "ClassId": "storage.M2VirtualDriveConfig",
        "ControllerSlot": "MSTOR-RAID-1",
        "Enable": false,
        "Name": "",
        "ObjectType": "storage.M2VirtualDriveConfig"
    },
    "Name": "Raid1",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "6505cc486972653201c3bc8a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/6505cc486972653201c3bc8a"
    },
    "Raid0Drive": {
        "ClassId": "storage.R0Drive",
        "DriveSlots": "",
        "DriveSlotsList": "",
        "Enable": false,
        "ObjectType": "storage.R0Drive",
        "VirtualDrivePolicy": {
            "AccessPolicy": "Default",
            "ClassId": "storage.VirtualDrivePolicy",
            "DriveCache": "Default",
            "ObjectType": "storage.VirtualDrivePolicy",
            "ReadPolicy": "Default",
            "StripSize": 64,
            "WritePolicy": "Default"
        }
    },
    "RaidAttachedNvmeSlots": "",
    "SecureJbods": "",
    "Tags": [
        {
            "Key": "Module",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "easy-imm"
        },
        {
            "Key": "Version",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "4.2.11-20241017091918219"
        }
    ],
    "UnusedDisksState": "Jbod",
    "UseJbodForVdCreation": true
}