{
    "Description": "{{ description | default('') }}",
    "EnableJumboFrame": {% if target_platform == 'Unified Edge' %}{{ enable_jumbo_frame | default(false) | bool}}{% else %}false{% endif %},
    "EthernetSwitchingMode": "{{ switching_mode_ethernet | default('end-host') }}",
    "FabricPcVhbaReset": "{{ fabric_port_channel_vhba_reset | default('Disabled') }}",
    "FcSwitchingMode": "{{ switching_mode_fc | default('end-host') }}",
    "IsAesPrimaryKeySet": false,
    "MacAgingSettings": {
        "ClassId": "fabric.MacAgingSettings",
        "MacAgingOption": "{{ mac_address_table_aging | default('Default') }}",
        "MacAgingTime": {{ mac_aging_time | default(14500) }},
        "ObjectType": "fabric.MacAgingSettings"
    },
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "ReservedVlanStartId": {{ reserved_vlan_start_id | default(3915) }},
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "TargetPlatform": "{{ target_platform | default('UCS Domain') }}",
    "UdldSettings": {
        "ClassId": "fabric.UdldGlobalSettings",
        "MessageInterval": {% if udld_global_settings is defined %}{{ udld_global_settings.message_interval | default(15) }}{% else %}15{% endif %},
        "ObjectType": "fabric.UdldGlobalSettings",
        "RecoveryAction": "{% if udld_global_settings is defined %}{{ udld_global_settings.recovery_action | default('reset') }}{% else %}reset{% endif %}"
    },
    "VlanPortOptimizationEnabled": {{ vlan_port_count_optimization | default(false) | bool}}
}