{
    "Description": "{{ description | default('') }}",
    "LocalClients": [
        {
            "MinSeverity": "{{  local_logging.minimum_severity | default('warning') }}",
            "ObjectType": "syslog.LocalFileLoggingClient"
        }
    ],
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if remote_logging is defined %}
    "RemoteClients": [
  {%- for item in remote_logging -%}
        {
            "Enabled": {{ item.enable | default('true') }},
            "Facility": "",
            "Hostname": "{{ item.hostname }}",
            "MinSeverity": "{{ item.minimum_severity | default('warning') }}",
            "ObjectType": "syslog.RemoteLoggingClient",
            "Port": {{ item.port | default(514) }},
            "Protocol": "{{ item.protocol | default('udp') }}",
            "VrfName": ""
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- else %}
    "RemoteClients": [],
{%- endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": []
{%- endif %}
}