{
    "Classes": [
        {
            "AdminState": "Enabled",
            "BandwidthPercent": 10,
            "ClassId": "fabric.QosClass",
            "Cos": 255,
            "Mtu": 9216,
            "MulticastOptimize": false,
            "Name": "Best Effort",
            "ObjectType": "fabric.QosClass",
            "PacketDrop": true,
            "Weight": 5
        },
        {
            "AdminState": "Enabled",
            "BandwidthPercent": 14,
            "ClassId": "fabric.QosClass",
            "Cos": 1,
            "Mtu": 9216,
            "MulticastOptimize": false,
            "Name": "Bronze",
            "ObjectType": "fabric.QosClass",
            "PacketDrop": true,
            "Weight": 7
        },
        {
            "AdminState": "Enabled",
            "BandwidthPercent": 18,
            "ClassId": "fabric.QosClass",
            "Cos": 4,
            "Mtu": 9216,
            "MulticastOptimize": false,
            "Name": "Gold",
            "ObjectType": "fabric.QosClass",
            "PacketDrop": true,
            "Weight": 9
        },
        {
            "AdminState": "Enabled",
            "BandwidthPercent": 20,
            "ClassId": "fabric.QosClass",
            "Cos": 3,
            "Mtu": 2240,
            "MulticastOptimize": false,
            "Name": "FC",
            "ObjectType": "fabric.QosClass",
            "PacketDrop": false,
            "Weight": 10
        },
        {
            "AdminState": "Enabled",
            "BandwidthPercent": 20,
            "ClassId": "fabric.QosClass",
            "Cos": 5,
            "Mtu": 9216,
            "MulticastOptimize": false,
            "Name": "Platinum",
            "ObjectType": "fabric.QosClass",
            "PacketDrop": false,
            "Weight": 10
        },
        {
            "AdminState": "Enabled",
            "BandwidthPercent": 18,
            "ClassId": "fabric.QosClass",
            "Cos": 2,
            "Mtu": 9216,
            "MulticastOptimize": true,
            "Name": "Silver",
            "ObjectType": "fabric.QosClass",
            "PacketDrop": true,
            "Weight": 8
        }
    ],
    "Description": "qos System QoS Policy",
    "Name": "qos",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "6505cc486972653201c3bc8a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/6505cc486972653201c3bc8a"
    },
    "Tags": [
        {
            "Key": "Module",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "easy-imm"
        },
        {
            "Key": "Version",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "4.2.11-20241017091918219"
        }
    ],
    "TargetPlatform": "UCS Domain"
}