{
    "Description": "{{ description | default('') }}",
    "Enabled": {{ enable_virtual_media | default('true') }},
    "Encryption": {{ enable_virtual_media_encryption | default('true') }},
    "LowPowerUsb": {{ enable_low_power_usb | default('true') }},
    "Mappings": [
{%- if add_virtual_media is defined -%}
    {%- for item in add_virtual_media -%}
        {
            "AuthenticationProtocol": "{{ item.authentication_protocol | default('none') }}",
            "DeviceType": "{{ item.device_type | default('cdd') }}",
            "FileLocation": "{{ item.file_location | replace('cifs://', '') | replace('nfs://', '') }}",
            "HostName": "",
            "Password": {% if item.username is defined and item.username | length > 0 %}"{{ password }}"{% else %}""{% endif %},
            "MountOptions": "{{ item.mount_options | default('') }}",
            "MountProtocol": "{{ item.protocol | default('https') }}",
            "ObjectType": "vmedia.Mapping",
            "RemoteFile": "",
            "RemotePath": "",
            "Username": "{{ item.username | default('') }}",
            "VolumeName": "{{ item.name | default('default') }}"
        }{% if not loop.last %},{% endif %}
{%- endfor -%}
    ],
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": []
{%- endif %}
}