{
    "Description": "vkvm Virtual KVM Policy",
    "EnableLocalServerVideo": true,
    "EnableVideoEncryption": true,
    "Enabled": true,
    "MaximumSessions": 4,
    "Name": "vkvm",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "6505cc486972653201c3bc8a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/6505cc486972653201c3bc8a"
    },
    "RemotePort": 2068,
    "Tags": [
        {
            "Key": "Module",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "easy-imm"
        },
        {
            "Key": "Version",
            "Propagated": false,
            "SysTag": false,
            "Type": "KeyValue",
            "Value": "4.2.11-20241017091918219"
        }
    ],
    "TunneledKvmEnabled": true
}