{
    "Description": "{{ description | default('') }}",
    "EnableLocalServerVideo": {{ enable_local_server_video | default('true') }},
    "EnableVideoEncryption": {{ enable_video_encryption | default('true') }},
    "Enabled": {{ enable_virtual_kvm | default('true') }},
    "MaximumSessions": {{ maximum_sessions | default(4) }},
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "RemotePort": {{ remote_port | default(2068) }},
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- else %}
    "Tags": [],
{%- endif %}
    "TunneledKvmEnabled": {{ allow_tunneled_vkvm | default('false') }}
}