{
    "AutoAllowOnClusterLinks": false,
    "AutoAllowOnUplinks": true,
    "EthNetworkPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "646799616f62693001ff962d",
        "ObjectType": "fabric.EthNetworkPolicy",
        "link": "https://intersight.com/api/v1/fabric/EthNetworkPolicies/646799616f62693001ff962d"
    },
    "IsNative": true,
    "MulticastPolicy": {
        "ClassId": "mo.MoRef",
        "Moid": "646799466f62693001ff829d",
        "ObjectType": "fabric.MulticastPolicy",
        "link": "https://intersight.com/api/v1/fabric/MulticastPolicies/646799466f62693001ff829d"
    },
    "Name": "default",
    "PrimaryVlanId": 0,
    "SharingType": "None",
    "Tags": [],
    "VlanId": 1
}