{
    "DefaultZoning": "{{ default_zoning | default('Disabled') }}",
    "FcNetworkPolicy": {
        "Moid": "{{ vsan_policy_moid }}",
        "ObjectType": "fabric.FcNetworkPolicy"
    },
    "FcZoneSharingMode": "",
    "FcoeVlan": {{ fcoe_vlan_id | default(3096) }},
    "Name": "{{ name | default('default-' ~ vsan_id) }}",
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- else %}
    "Tags": [],
{%- endif %}
    "VsanId": {{ vsan_id | default(100) }},
    "VsanScope": "{{ vsan_scope | default('Uplink') }}"
}