{
    "AssignmentOrder": "{{ assignment_order | default('sequential') }}",
    "Description": "{{ description | default('') }}",
{% if iqn_blocks is defined %}
    "IqnSuffixBlocks": [
  {%- for item in iqn_blocks -%}
        {
            "From": "{{ item.from }}",
            "ObjectType": "iqnpool.IqnSuffixBlock",
            "Size": "{{ item.size | default(256) }}",
            "Suffix": "{{ item.suffix | default('ucs-host') }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "Prefix": "{{ prefix | default('iqn.1984-12.com.cisco') }}"{% if tags is defined %},{% endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}