{
    "AssignmentOrder": "{{ assignment_order | default('sequential') }}",
    "Description": "{{ description | default('') }}",
{% if id_blocks is defined %}
    "IdBlocks": [
  {%- for item in id_blocks -%}
        {
            "From": "{{ item.from }}",
            "ObjectType": "fcpool.Block",
            "Size": "{{ item.size | default(256) }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "Moid": "{{ org_moids[organization].moid }}",
        "ObjectType": "organization.Organization"
    },
    "PoolPurpose": "WWPN"{% if tags is defined %},{% endif %}
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- endif %}
}