{
  "AcpiSratSpFlagEn": "{{ item.acpi_srat_sp_flag_en | default('platform-default') }}",
  "AcsControlGpu1state": "{{ item.acs_control_gpu_1_state | default('platform-default') }}",
  "AcsControlGpu2state": "{{ item.acs_control_gpu_2_state | default('platform-default') }}",
  "AcsControlGpu3state": "{{ item.acs_control_gpu_3_state | default('platform-default') }}",
  "AcsControlGpu4state": "{{ item.acs_control_gpu_4_state | default('platform-default') }}",
  "AcsControlGpu5state": "{{ item.acs_control_gpu_5_state | default('platform-default') }}",
  "AcsControlGpu6state": "{{ item.acs_control_gpu_6_state | default('platform-default') }}",
  "AcsControlGpu7state": "{{ item.acs_control_gpu_7_state | default('platform-default') }}",
  "AcsControlGpu8state": "{{ item.acs_control_gpu_8_state | default('platform-default') }}",
  "AcsControlSlot11state": "{{ item.acs_control_slot_11_state | default('platform-default') }}",
  "AcsControlSlot12state": "{{ item.acs_control_slot_12_state | default('platform-default') }}",
  "AcsControlSlot13state": "{{ item.acs_control_slot_13_state | default('platform-default') }}",
  "AcsControlSlot14state": "{{ item.acs_control_slot_14_state | default('platform-default') }}",
  "AdaptiveRefreshMgmtLevel": "{{ item.adaptive_refresh_mgmt_level | default('platform-default') }}",
  "AdjacentCacheLinePrefetch": "{{ item.adjacent_cache_line_prefetch | default('platform-default') }}",
  "AdvancedMemTest": "{{ item.advanced_mem_test | default('platform-default') }}",
  "AllUsbDevices": "{{ item.all_usb_devices | default('platform-default') }}",
  "Altitude": "{{ item.altitude | default('platform-default') }}",
  "AspmSupport": "{{ item.aspm_support | default('platform-default') }}",
  "AssertNmiOnPerr": "{{ item.assert_nmi_on_perr | default('platform-default') }}",
  "AssertNmiOnSerr": "{{ item.assert_nmi_on_serr | default('platform-default') }}",
  "AutoCcState": "{{ item.auto_cc_state | default('platform-default') }}",
  "AutonumousCstateEnable": "{{ item.autonumous_cstate_enable | default('platform-default') }}",
  "BaudRate": "{{ item.baud_rate | default('platform-default') }}",
  "BmeDmaMitigation": "{{ item.bme_dma_mitigation | default('platform-default') }}",
  "BootOptionNumRetry": "{{ item.boot_option_num_retry | default('platform-default') }}",
  "BootOptionReCoolDown": "{{ item.boot_option_re_cool_down | default('platform-default') }}",
  "BootOptionRetry": "{{ item.boot_option_retry | default('platform-default') }}",
  "BootPerformanceMode": "{{ item.boot_performance_mode | default('platform-default') }}",
  "BurstAndPostponedRefresh": "{{ item.burst_and_postponed_refresh | default('platform-default') }}",
  "C1autoDemotion": "{{ item.c_1_auto_demotion | default('platform-default') }}",
  "C1autoUnDemotion": "{{ item.c_1_auto_un_demotion | default('platform-default') }}",
  "CbsCmnApbdis": "{{ item.cbs_cmn_apbdis | default('platform-default') }}",
  "CbsCmnApbdisDfPstateRs": "{{ item.cbs_cmn_apbdis_df_pstate_rs | default('platform-default') }}",
  "CbsCmnCpuAvx512": "{{ item.cbs_cmn_cpu_avx_512 | default('platform-default') }}",
  "CbsCmnCpuCpb": "{{ item.cbs_cmn_cpu_cpb | default('platform-default') }}",
  "CbsCmnCpuFrequencyControl": "{{ item.cbs_cmn_cpu_frequency_control | default('platform-default') }}",
  "CbsCmnCpuGenDowncoreCtrl": "{{ item.cbs_cmn_cpu_gen_downcore_ctrl | default('platform-default') }}",
  "CbsCmnCpuGlobalCstateCtrl": "{{ item.cbs_cmn_cpu_global_cstate_ctrl | default('platform-default') }}",
  "CbsCmnCpuL1streamHwPrefetcher": "{{ item.cbs_cmn_cpu_l_1_stream_hw_prefetcher | default('platform-default') }}",
  "CbsCmnCpuL2streamHwPrefetcher": "{{ item.cbs_cmn_cpu_l_2_stream_hw_prefetcher | default('platform-default') }}",
  "CbsCmnCpuSevAsidSpaceLimit": "{{ item.cbs_cmn_cpu_sev_asid_space_limit | default('platform-default') }}",
  "CbsCmnCpuSmee": "{{ item.cbs_cmn_cpu_smee | default('platform-default') }}",
  "CbsCmnCpuStreamingStoresCtrl": "{{ item.cbs_cmn_cpu_streaming_stores_ctrl | default('platform-default') }}",
  "CbsCmnDeterminismSlider": "{{ item.cbs_cmn_determinism_slider | default('platform-default') }}",
  "CbsCmnEdcControlThrottle": "{{ item.cbs_cmn_edc_control_throttle | default('platform-default') }}",
  "CbsCmnEfficiencyModeEn": "{{ item.cbs_cmn_efficiency_mode_en | default('platform-default') }}",
  "CbsCmnEfficiencyModeEnRs": "{{ item.cbs_cmn_efficiency_mode_en_rs | default('platform-default') }}",
  "CbsCmnFixedSocPstate": "{{ item.cbs_cmn_fixed_soc_pstate | default('platform-default') }}",
  "CbsCmnGnbNbIommu": "{{ item.cbs_cmn_gnb_nb_iommu | default('platform-default') }}",
  "CbsCmnGnbSmuDfCstates": "{{ item.cbs_cmn_gnb_smu_df_cstates | default('platform-default') }}",
  "CbsCmnGnbSmuDffoRs": "{{ item.cbs_cmn_gnb_smu_dffo_rs | default('platform-default') }}",
  "CbsCmnGnbSmuDlwmSupport": "{{ item.cbs_cmn_gnb_smu_dlwm_support | default('platform-default') }}",
  "CbsCmnGnbSmucppc": "{{ item.cbs_cmn_gnb_smucppc | default('platform-default') }}",
  "CbsCmnMemCtrlBankGroupSwapDdr4": "{{ item.cbs_cmn_mem_ctrl_bank_group_swap_ddr_4 | default('platform-default') }}",
  "CbsCmnMemCtrllerPwrDnEnDdr": "{{ item.cbs_cmn_mem_ctrller_pwr_dn_en_ddr | default('platform-default') }}",
  "CbsCmnMemMapBankInterleaveDdr4": "{{ item.cbs_cmn_mem_map_bank_interleave_ddr_4 | default('platform-default') }}",
  "CbsCmnMemSpeedDdr47xx2": "{{ item.cbs_cmn_mem_speed_ddr_47_xx_2 | default('platform-default') }}",
  "CbsCmnMemSpeedDdr47xx3": "{{ item.cbs_cmn_mem_speed_ddr_47_xx_3 | default('platform-default') }}",
  "CbsCmnPreferredIo7xx2": "{{ item.cbs_cmn_preferred_io_7_xx_2 | default('platform-default') }}",
  "CbsCmnPreferredIo7xx3": "{{ item.cbs_cmn_preferred_io_7_xx_3 | default('platform-default') }}",
  "CbsCmncTdpCtl": "{{ item.cbs_cmnc_tdp_ctl | default('platform-default') }}",
  "CbsCmnxGmiForceLinkWidthRs": "{{ item.cbs_cmnx_gmi_force_link_width_rs | default('platform-default') }}",
  "CbsCpuCcdCtrlSsp": "{{ item.cbs_cpu_ccd_ctrl_ssp | default('platform-default') }}",
  "CbsCpuCoreCtrl": "{{ item.cbs_cpu_core_ctrl | default('platform-default') }}",
  "CbsCpuDownCoreCtrlBergamo": "{{ item.cbs_cpu_down_core_ctrl_bergamo | default('platform-default') }}",
  "CbsCpuDownCoreCtrlGenoa": "{{ item.cbs_cpu_down_core_ctrl_genoa | default('platform-default') }}",
  "CbsCpuSmtCtrl": "{{ item.cbs_cpu_smt_ctrl | default('platform-default') }}",
  "CbsDbgCpuGenCpuWdt": "{{ item.cbs_dbg_cpu_gen_cpu_wdt | default('platform-default') }}",
  "CbsDbgCpuLapicMode": "{{ item.cbs_dbg_cpu_lapic_mode | default('platform-default') }}",
  "CbsDbgCpuSnpMemCover": "{{ item.cbs_dbg_cpu_snp_mem_cover | default('platform-default') }}",
  "CbsDbgCpuSnpMemSizeCover": "{{ item.cbs_dbg_cpu_snp_mem_size_cover | default('platform-default') }}",
  "CbsDfCmn4linkMaxXgmiSpeed": "{{ item.cbs_df_cmn_4_link_max_xgmi_speed | default('platform-default') }}",
  "CbsDfCmnAcpiSratL3numa": "{{ item.cbs_df_cmn_acpi_srat_l_3_numa | default('platform-default') }}",
  "CbsDfCmnDramNps": "{{ item.cbs_df_cmn_dram_nps | default('platform-default') }}",
  "CbsDfCmnDramScrubTime": "{{ item.cbs_df_cmn_dram_scrub_time | default('platform-default') }}",
  "CbsDfCmnMemIntlv": "{{ item.cbs_df_cmn_mem_intlv | default('platform-default') }}",
  "CbsDfCmnMemIntlvControl": "{{ item.cbs_df_cmn_mem_intlv_control | default('platform-default') }}",
  "CbsDfCmnMemIntlvSize": "{{ item.cbs_df_cmn_mem_intlv_size | default('platform-default') }}",
  "CbsDfDbgXgmiLinkCfg": "{{ item.cbs_df_dbg_xgmi_link_cfg | default('platform-default') }}",
  "CbsGnbDbgPcieTbtSupport": "{{ item.cbs_gnb_dbg_pcie_tbt_support | default('platform-default') }}",
  "CbsSevSnpSupport": "{{ item.cbs_sev_snp_support | default('platform-default') }}",
  "CdnEnable": "{{ item.cdn_enable | default('platform-default') }}",
  "CdnSupport": "{{ item.cdn_support | default('platform-default') }}",
  "ChannelInterLeave": "{{ item.channel_inter_leave | default('platform-default') }}",
  "CiscoAdaptiveMemTraining": "{{ item.cisco_adaptive_mem_training | default('platform-default') }}",
  "CiscoDebugLevel": "{{ item.cisco_debug_level | default('platform-default') }}",
  "CiscoOpromLaunchOptimization": "{{ item.cisco_oprom_launch_optimization | default('platform-default') }}",
  "CiscoXgmiMaxSpeed": "{{ item.cisco_xgmi_max_speed | default('platform-default') }}",
  "CkeLowPolicy": "{{ item.cke_low_policy | default('platform-default') }}",
  "ClosedLoopThermThrotl": "{{ item.closed_loop_therm_throtl | default('platform-default') }}",
  "CmciEnable": "{{ item.cmci_enable | default('platform-default') }}",
  "ConfigTdp": "{{ item.config_tdp | default('platform-default') }}",
  "ConfigTdpLevel": "{{ item.config_tdp_level | default('platform-default') }}",
  "ConsoleRedirection": "{{ item.console_redirection | default('platform-default') }}",
  "CoreMultiProcessing": "{{ item.core_multi_processing | default('platform-default') }}",
  "CpuEnergyPerformance": "{{ item.cpu_energy_performance | default('platform-default') }}",
  "CpuFrequencyFloor": "{{ item.cpu_frequency_floor | default('platform-default') }}",
  "CpuPaLimit": "{{ item.cpu_pa_limit | default('platform-default') }}",
  "CpuPerfEnhancement": "{{ item.cpu_perf_enhancement | default('platform-default') }}",
  "CpuPerformance": "{{ item.cpu_performance | default('platform-default') }}",
  "CpuPowerManagement": "{{ item.cpu_power_management | default('platform-default') }}",
  "CrQos": "{{ item.cr_qos | default('platform-default') }}",
  "CrfastgoConfig": "{{ item.crfastgo_config | default('platform-default') }}",
  "DcpmmFirmwareDowngrade": "{{ item.dcpmm_firmware_downgrade | default('platform-default') }}",
  "DemandScrub": "{{ item.demand_scrub | default('platform-default') }}",
  "Description": "{{ item.description | default('') }}",
  "DfxOsbEn": "{{ item.dfx_osb_en | default('platform-default') }}",
  "DirectCacheAccess": "{{ item.direct_cache_access | default('platform-default') }}",
  "DmaCtrlOptIn": "{{ item.dma_ctrl_opt_in | default('platform-default') }}",
  "DramClockThrottling": "{{ item.dram_clock_throttling | default('platform-default') }}",
  "DramRefreshRate": "{{ item.dram_refresh_rate | default('platform-default') }}",
  "DramSwThermalThrottling": "{{ item.dram_sw_thermal_throttling | default('platform-default') }}",
  "EadrSupport": "{{ item.eadr_support | default('platform-default') }}",
  "EdpcEn": "{{ item.edpc_en | default('platform-default') }}",
  "EnableClockSpreadSpec": "{{ item.enable_clock_spread_spec | default('platform-default') }}",
  "EnableMktme": "{{ item.enable_mktme | default('platform-default') }}",
  "EnableRmt": "{{ item.enable_rmt | default('platform-default') }}",
  "EnableSgx": "{{ item.enable_sgx | default('platform-default') }}",
  "EnableTdx": "{{ item.enable_tdx | default('platform-default') }}",
  "EnableTdxSeamldr": "{{ item.enable_tdx_seamldr | default('platform-default') }}",
  "EnableTme": "{{ item.enable_tme | default('platform-default') }}",
  "EnergyEfficientTurbo": "{{ item.energy_efficient_turbo | default('platform-default') }}",
  "EngPerfTuning": "{{ item.eng_perf_tuning | default('platform-default') }}",
  "EnhancedIntelSpeedStepTech": "{{ item.enhanced_intel_speed_step_tech | default('platform-default') }}",
  "EpochUpdate": "{{ item.epoch_update | default('platform-default') }}",
  "EppEnable": "{{ item.epp_enable | default('platform-default') }}",
  "EppProfile": "{{ item.epp_profile | default('platform-default') }}",
  "ErrorCheckScrub": "{{ item.error_check_scrub | default('platform-default') }}",
  "ExecuteDisableBit": "{{ item.execute_disable_bit | default('platform-default') }}",
  "ExtendedApic": "{{ item.extended_apic | default('platform-default') }}",
  "FlowControl": "{{ item.flow_control | default('platform-default') }}",
  "Frb2enable": "{{ item.frb_2_enable | default('platform-default') }}",
  "GpuDirectCpu1": "{{ item.gpu_direct_cpu_1 | default('platform-default') }}",
  "GpuDirectCpu2": "{{ item.gpu_direct_cpu_2 | default('platform-default') }}",
  "GpuDirectCpu3": "{{ item.gpu_direct_cpu_3 | default('platform-default') }}",
  "GpuDirectCpu4": "{{ item.gpu_direct_cpu_4 | default('platform-default') }}",
  "HardwarePrefetch": "{{ item.hardware_prefetch | default('platform-default') }}",
  "HwpmEnable": "{{ item.hwpm_enable | default('platform-default') }}",
  "ImcInterleave": "{{ item.imc_interleave | default('platform-default') }}",
  "IntelDynamicSpeedSelect": "{{ item.intel_dynamic_speed_select | default('platform-default') }}",
  "IntelHyperThreadingTech": "{{ item.intel_hyper_threading_tech | default('platform-default') }}",
  "IntelSpeedSelect": "{{ item.intel_speed_select | default('platform-default') }}",
  "IntelTurboBoostTech": "{{ item.intel_turbo_boost_tech | default('platform-default') }}",
  "IntelVirtualizationTechnology": "{{ item.intel_virtualization_technology | default('platform-default') }}",
  "IntelVtForDirectedIo": "{{ item.intel_vt_for_directed_io | default('platform-default') }}",
  "IntelVtdCoherencySupport": "{{ item.intel_vtd_coherency_support | default('platform-default') }}",
  "IntelVtdInterruptRemapping": "{{ item.intel_vtd_interrupt_remapping | default('platform-default') }}",
  "IntelVtdPassThroughDmaSupport": "{{ item.intel_vtd_pass_through_dma_support | default('platform-default') }}",
  "IntelVtdatsSupport": "{{ item.intel_vtdats_support | default('platform-default') }}",
  "IoatConfigCpm": "{{ item.ioat_config_cpm | default('platform-default') }}",
  "IohErrorEnable": "{{ item.ioh_error_enable | default('platform-default') }}",
  "IohResource": "{{ item.ioh_resource | default('platform-default') }}",
  "IpPrefetch": "{{ item.ip_prefetch | default('platform-default') }}",
  "Ipv4http": "{{ item.ipv_4_http | default('platform-default') }}",
  "Ipv4pxe": "{{ item.ipv_4_pxe | default('platform-default') }}",
  "Ipv6http": "{{ item.ipv_6_http | default('platform-default') }}",
  "Ipv6pxe": "{{ item.ipv_6_pxe | default('platform-default') }}",
  "KtiPrefetch": "{{ item.kti_prefetch | default('platform-default') }}",
  "LatencyOptimizedMode": "{{ item.latency_optimized_mode | default('platform-default') }}",
  "LegacyOsRedirection": "{{ item.legacy_os_redirection | default('platform-default') }}",
  "LegacyUsbSupport": "{{ item.legacy_usb_support | default('platform-default') }}",
  "LlcAlloc": "{{ item.llc_alloc | default('platform-default') }}",
  "LlcPrefetch": "{{ item.llc_prefetch | default('platform-default') }}",
  "LomPort0state": "{{ item.lom_port_0_state | default('platform-default') }}",
  "LomPort1state": "{{ item.lom_port_1_state | default('platform-default') }}",
  "LomPort2state": "{{ item.lom_port_2_state | default('platform-default') }}",
  "LomPort3state": "{{ item.lom_port_3_state | default('platform-default') }}",
  "LomPortsAllState": "{{ item.lom_ports_all_state | default('platform-default') }}",
  "LvDdrMode": "{{ item.lv_ddr_mode | default('platform-default') }}",
  "MakeDeviceNonBootable": "{{ item.make_device_non_bootable | default('platform-default') }}",
  "MemoryBandwidthBoost": "{{ item.memory_bandwidth_boost | default('platform-default') }}",
  "MemoryInterLeave": "{{ item.memory_inter_leave | default('platform-default') }}",
  "MemoryMappedIoAbove4gb": "{{ item.memory_mapped_io_above_4_gb | default('platform-default') }}",
  "MemoryRefreshRate": "{{ item.memory_refresh_rate | default('platform-default') }}",
  "MemorySizeLimit": "{{ item.memory_size_limit | default('platform-default') }}",
  "MemoryThermalThrottling": "{{ item.memory_thermal_throttling | default('platform-default') }}",
  "MirroringMode": "{{ item.mirroring_mode | default('platform-default') }}",
  "MmcfgBase": "{{ item.mmcfg_base | default('platform-default') }}",
  "MmiohBase": "{{ item.mmioh_base | default('platform-default') }}",
  "MmiohSize": "{{ item.mmioh_size | default('platform-default') }}",
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "NetworkStack": "{{ item.network_stack | default('platform-default') }}",
  "NumaOptimized": "{{ item.numa_optimized | default('platform-default') }}",
  "NvmdimmPerformConfig": "{{ item.nvmdimm_perform_config | default('platform-default') }}",
  "ObjectType": "bios.Policy",
  "Onboard10gbitLom": "{{ item.onboard_10_gbit_lom | default('platform-default') }}",
  "OnboardGbitLom": "{{ item.onboard_gbit_lom | default('platform-default') }}",
  "OnboardScuStorageSupport": "{{ item.onboard_scu_storage_support | default('platform-default') }}",
  "OnboardScuStorageSwStack": "{{ item.onboard_scu_storage_sw_stack | default('platform-default') }}",
  "OperationMode": "{{ item.operation_mode | default('platform-default') }}",
  "OptimizedPowerMode": "{{ item.optimized_power_mode | default('platform-default') }}",
  "Organization": {
      "Moid": "{{ org_moids[organization].moid }}",
      "ObjectType": "organization.Organization"
  },
  "OsBootWatchdogTimer": "{{ item.os_boot_watchdog_timer | default('platform-default') }}",
  "OsBootWatchdogTimerPolicy": "{{ item.os_boot_watchdog_timer_policy | default('platform-default') }}",
  "OsBootWatchdogTimerTimeout": "{{ item.os_boot_watchdog_timer_timeout | default('platform-default') }}",
  "OutOfBandMgmtPort": "{{ item.out_of_band_mgmt_port | default('platform-default') }}",
  "PackageCstateLimit": "{{ item.package_cstate_limit | default('platform-default') }}",
  "PanicHighWatermark": "{{ item.panic_high_watermark | default('platform-default') }}",
  "PartialCacheLineSparing": "{{ item.partial_cache_line_sparing | default('platform-default') }}",
  "PartialMirrorModeConfig": "{{ item.partial_mirror_mode_config | default('platform-default') }}",
  "PartialMirrorPercent": "{{ item.partial_mirror_percent | default('platform-default') }}",
  "PartialMirrorValue1": "{{ item.partial_mirror_value_1 | default('platform-default') }}",
  "PartialMirrorValue2": "{{ item.partial_mirror_value_2 | default('platform-default') }}",
  "PartialMirrorValue3": "{{ item.partial_mirror_value_3 | default('platform-default') }}",
  "PartialMirrorValue4": "{{ item.partial_mirror_value_4 | default('platform-default') }}",
  "PatrolScrub": "{{ item.patrol_scrub | default('platform-default') }}",
  "PatrolScrubDuration": "{{ item.patrol_scrub_duration | default('platform-default') }}",
  "PcIeRasSupport": "{{ item.pc_ie_ras_support | default('platform-default') }}",
  "PcIeSsdHotPlugSupport": "{{ item.pc_ie_ssd_hot_plug_support | default('platform-default') }}",
  "PchPciePllSsc": "{{ item.pch_pcie_pll_ssc | default('platform-default') }}",
  "PchUsb30mode": "{{ item.pch_usb_30_mode | default('platform-default') }}",
  "PciOptionRoMs": "{{ item.pci_option_ro_ms | default('platform-default') }}",
  "PciRomClp": "{{ item.pci_rom_clp | default('platform-default') }}",
  "PcieAriSupport": "{{ item.pcie_ari_support | default('platform-default') }}",
  "PciePllSsc": "{{ item.pcie_pll_ssc | default('platform-default') }}",
  "PcieSlotMraid1linkSpeed": "{{ item.pcie_slot_mraid_1_link_speed | default('platform-default') }}",
  "PcieSlotMraid1optionRom": "{{ item.pcie_slot_mraid_1_option_rom | default('platform-default') }}",
  "PcieSlotMraid2linkSpeed": "{{ item.pcie_slot_mraid_2_link_speed | default('platform-default') }}",
  "PcieSlotMraid2optionRom": "{{ item.pcie_slot_mraid_2_option_rom | default('platform-default') }}",
  "PcieSlotMstorraidLinkSpeed": "{{ item.pcie_slot_mstorraid_link_speed | default('platform-default') }}",
  "PcieSlotMstorraidOptionRom": "{{ item.pcie_slot_mstorraid_option_rom | default('platform-default') }}",
  "PcieSlotNvme1linkSpeed": "{{ item.pcie_slot_nvme_1_link_speed | default('platform-default') }}",
  "PcieSlotNvme1optionRom": "{{ item.pcie_slot_nvme_1_option_rom | default('platform-default') }}",
  "PcieSlotNvme2linkSpeed": "{{ item.pcie_slot_nvme_2_link_speed | default('platform-default') }}",
  "PcieSlotNvme2optionRom": "{{ item.pcie_slot_nvme_2_option_rom | default('platform-default') }}",
  "PcieSlotNvme3linkSpeed": "{{ item.pcie_slot_nvme_3_link_speed | default('platform-default') }}",
  "PcieSlotNvme3optionRom": "{{ item.pcie_slot_nvme_3_option_rom | default('platform-default') }}",
  "PcieSlotNvme4linkSpeed": "{{ item.pcie_slot_nvme_4_link_speed | default('platform-default') }}",
  "PcieSlotNvme4optionRom": "{{ item.pcie_slot_nvme_4_option_rom | default('platform-default') }}",
  "PcieSlotNvme5linkSpeed": "{{ item.pcie_slot_nvme_5_link_speed | default('platform-default') }}",
  "PcieSlotNvme5optionRom": "{{ item.pcie_slot_nvme_5_option_rom | default('platform-default') }}",
  "PcieSlotNvme6linkSpeed": "{{ item.pcie_slot_nvme_6_link_speed | default('platform-default') }}",
  "PcieSlotNvme6optionRom": "{{ item.pcie_slot_nvme_6_option_rom | default('platform-default') }}",
  "PcieSlotsCdnEnable": "{{ item.pcie_slots_cdn_enable | default('platform-default') }}",
  "PopSupport": "{{ item.pop_support | default('platform-default') }}",
  "PostErrorPause": "{{ item.post_error_pause | default('platform-default') }}",
  "PostPackageRepair": "{{ item.post_package_repair | default('platform-default') }}",
  "PreBootDmaProtection": "{{ item.pre_boot_dma_protection | default('platform-default') }}",
  "PrmrrSize": "{{ item.prmrr_size | default('platform-default') }}",
  "ProcessorC1e": "{{ item.processor_c_1_e | default('platform-default') }}",
  "ProcessorC3report": "{{ item.processor_c_3_report | default('platform-default') }}",
  "ProcessorC6report": "{{ item.processor_c_6_report | default('platform-default') }}",
  "ProcessorCstate": "{{ item.processor_cstate | default('platform-default') }}",
  "Psata": "{{ item.psata | default('platform-default') }}",
  "PstateCoordType": "{{ item.pstate_coord_type | default('platform-default') }}",
  "PuttyKeyPad": "{{ item.putty_key_pad | default('platform-default') }}",
  "PwrPerfTuning": "{{ item.pwr_perf_tuning | default('platform-default') }}",
  "QpiLinkFrequency": "{{ item.qpi_link_frequency | default('platform-default') }}",
  "QpiLinkSpeed": "{{ item.qpi_link_speed | default('platform-default') }}",
  "QpiSnoopMode": "{{ item.qpi_snoop_mode | default('platform-default') }}",
  "RankInterLeave": "{{ item.rank_inter_leave | default('platform-default') }}",
  "RedirectionAfterPost": "{{ item.redirection_after_post | default('platform-default') }}",
  "ResizeBarSupport": "{{ item.resize_bar_support | default('platform-default') }}",
  "RuntimePostPackageRepair": "{{ item.runtime_post_package_repair | default('platform-default') }}",
  "SataModeSelect": "{{ item.sata_mode_select | default('platform-default') }}",
  "SelectMemoryRasConfiguration": "{{ item.select_memory_ras_configuration | default('platform-default') }}",
  "SelectPprType": "{{ item.select_ppr_type | default('platform-default') }}",
  "SerialMux": "{{ item.serial_mux | default('platform-default') }}",
  "SerialPortAenable": "{{ item.serial_port_aenable | default('platform-default') }}",
  "Sev": "{{ item.sev | default('platform-default') }}",
  "SgxAutoRegistrationAgent": "{{ item.sgx_auto_registration_agent | default('platform-default') }}",
  "SgxEpoch0": "{{ item.sgx_epoch_0 | default('platform-default') }}",
  "SgxEpoch1": "{{ item.sgx_epoch_1 | default('platform-default') }}",
  "SgxFactoryReset": "{{ item.sgx_factory_reset | default('platform-default') }}",
  "SgxLePubKeyHash0": "{{ item.sgx_le_pub_key_hash_0 | default('platform-default') }}",
  "SgxLePubKeyHash1": "{{ item.sgx_le_pub_key_hash_1 | default('platform-default') }}",
  "SgxLePubKeyHash2": "{{ item.sgx_le_pub_key_hash_2 | default('platform-default') }}",
  "SgxLePubKeyHash3": "{{ item.sgx_le_pub_key_hash_3 | default('platform-default') }}",
  "SgxLeWr": "{{ item.sgx_le_wr | default('platform-default') }}",
  "SgxPackageInfoInBandAccess": "{{ item.sgx_package_info_in_band_access | default('platform-default') }}",
  "SgxQos": "{{ item.sgx_qos | default('platform-default') }}",
  "Sha1pcrBank": "{{ item.sha_1_pcr_bank | default('platform-default') }}",
  "Sha256pcrBank": "{{ item.sha_256_pcr_bank | default('platform-default') }}",
  "Sha384pcrBank": "{{ item.sha_384_pcr_bank | default('platform-default') }}",
  "SinglePctlEnable": "{{ item.single_pctl_enable | default('platform-default') }}",
  "Slot10linkSpeed": "{{ item.slot_10_link_speed | default('platform-default') }}",
  "Slot10state": "{{ item.slot_10_state | default('platform-default') }}",
  "Slot11linkSpeed": "{{ item.slot_11_link_speed | default('platform-default') }}",
  "Slot11state": "{{ item.slot_11_state | default('platform-default') }}",
  "Slot12linkSpeed": "{{ item.slot_12_link_speed | default('platform-default') }}",
  "Slot12state": "{{ item.slot_12_state | default('platform-default') }}",
  "Slot13state": "{{ item.slot_13_state | default('platform-default') }}",
  "Slot14state": "{{ item.slot_14_state | default('platform-default') }}",
  "Slot1linkSpeed": "{{ item.slot_1_link_speed | default('platform-default') }}",
  "Slot1state": "{{ item.slot_1_state | default('platform-default') }}",
  "Slot2linkSpeed": "{{ item.slot_2_link_speed | default('platform-default') }}",
  "Slot2state": "{{ item.slot_2_state | default('platform-default') }}",
  "Slot3linkSpeed": "{{ item.slot_3_link_speed | default('platform-default') }}",
  "Slot3state": "{{ item.slot_3_state | default('platform-default') }}",
  "Slot4linkSpeed": "{{ item.slot_4_link_speed | default('platform-default') }}",
  "Slot4state": "{{ item.slot_4_state | default('platform-default') }}",
  "Slot5linkSpeed": "{{ item.slot_5_link_speed | default('platform-default') }}",
  "Slot5state": "{{ item.slot_5_state | default('platform-default') }}",
  "Slot6linkSpeed": "{{ item.slot_6_link_speed | default('platform-default') }}",
  "Slot6state": "{{ item.slot_6_state | default('platform-default') }}",
  "Slot7linkSpeed": "{{ item.slot_7_link_speed | default('platform-default') }}",
  "Slot7state": "{{ item.slot_7_state | default('platform-default') }}",
  "Slot8linkSpeed": "{{ item.slot_8_link_speed | default('platform-default') }}",
  "Slot8state": "{{ item.slot_8_state | default('platform-default') }}",
  "Slot9linkSpeed": "{{ item.slot_9_link_speed | default('platform-default') }}",
  "Slot9state": "{{ item.slot_9_state | default('platform-default') }}",
  "SlotFlomLinkSpeed": "{{ item.slot_flom_link_speed | default('platform-default') }}",
  "SlotFrontNvme10linkSpeed": "{{ item.slot_front_nvme_10_link_speed | default('platform-default') }}",
  "SlotFrontNvme10optionRom": "{{ item.slot_front_nvme_10_option_rom | default('platform-default') }}",
  "SlotFrontNvme11linkSpeed": "{{ item.slot_front_nvme_11_link_speed | default('platform-default') }}",
  "SlotFrontNvme11optionRom": "{{ item.slot_front_nvme_11_option_rom | default('platform-default') }}",
  "SlotFrontNvme12linkSpeed": "{{ item.slot_front_nvme_12_link_speed | default('platform-default') }}",
  "SlotFrontNvme12optionRom": "{{ item.slot_front_nvme_12_option_rom | default('platform-default') }}",
  "SlotFrontNvme13linkSpeed": "{{ item.slot_front_nvme_13_link_speed | default('platform-default') }}",
  "SlotFrontNvme13optionRom": "{{ item.slot_front_nvme_13_option_rom | default('platform-default') }}",
  "SlotFrontNvme14linkSpeed": "{{ item.slot_front_nvme_14_link_speed | default('platform-default') }}",
  "SlotFrontNvme14optionRom": "{{ item.slot_front_nvme_14_option_rom | default('platform-default') }}",
  "SlotFrontNvme15linkSpeed": "{{ item.slot_front_nvme_15_link_speed | default('platform-default') }}",
  "SlotFrontNvme15optionRom": "{{ item.slot_front_nvme_15_option_rom | default('platform-default') }}",
  "SlotFrontNvme16linkSpeed": "{{ item.slot_front_nvme_16_link_speed | default('platform-default') }}",
  "SlotFrontNvme16optionRom": "{{ item.slot_front_nvme_16_option_rom | default('platform-default') }}",
  "SlotFrontNvme17linkSpeed": "{{ item.slot_front_nvme_17_link_speed | default('platform-default') }}",
  "SlotFrontNvme17optionRom": "{{ item.slot_front_nvme_17_option_rom | default('platform-default') }}",
  "SlotFrontNvme18linkSpeed": "{{ item.slot_front_nvme_18_link_speed | default('platform-default') }}",
  "SlotFrontNvme18optionRom": "{{ item.slot_front_nvme_18_option_rom | default('platform-default') }}",
  "SlotFrontNvme19linkSpeed": "{{ item.slot_front_nvme_19_link_speed | default('platform-default') }}",
  "SlotFrontNvme19optionRom": "{{ item.slot_front_nvme_19_option_rom | default('platform-default') }}",
  "SlotFrontNvme1linkSpeed": "{{ item.slot_front_nvme_1_link_speed | default('platform-default') }}",
  "SlotFrontNvme1optionRom": "{{ item.slot_front_nvme_1_option_rom | default('platform-default') }}",
  "SlotFrontNvme20linkSpeed": "{{ item.slot_front_nvme_20_link_speed | default('platform-default') }}",
  "SlotFrontNvme20optionRom": "{{ item.slot_front_nvme_20_option_rom | default('platform-default') }}",
  "SlotFrontNvme21linkSpeed": "{{ item.slot_front_nvme_21_link_speed | default('platform-default') }}",
  "SlotFrontNvme21optionRom": "{{ item.slot_front_nvme_21_option_rom | default('platform-default') }}",
  "SlotFrontNvme22linkSpeed": "{{ item.slot_front_nvme_22_link_speed | default('platform-default') }}",
  "SlotFrontNvme22optionRom": "{{ item.slot_front_nvme_22_option_rom | default('platform-default') }}",
  "SlotFrontNvme23linkSpeed": "{{ item.slot_front_nvme_23_link_speed | default('platform-default') }}",
  "SlotFrontNvme23optionRom": "{{ item.slot_front_nvme_23_option_rom | default('platform-default') }}",
  "SlotFrontNvme24linkSpeed": "{{ item.slot_front_nvme_24_link_speed | default('platform-default') }}",
  "SlotFrontNvme24optionRom": "{{ item.slot_front_nvme_24_option_rom | default('platform-default') }}",
  "SlotFrontNvme25linkSpeed": "{{ item.slot_front_nvme_25_link_speed | default('platform-default') }}",
  "SlotFrontNvme25optionRom": "{{ item.slot_front_nvme_25_option_rom | default('platform-default') }}",
  "SlotFrontNvme26linkSpeed": "{{ item.slot_front_nvme_26_link_speed | default('platform-default') }}",
  "SlotFrontNvme26optionRom": "{{ item.slot_front_nvme_26_option_rom | default('platform-default') }}",
  "SlotFrontNvme27linkSpeed": "{{ item.slot_front_nvme_27_link_speed | default('platform-default') }}",
  "SlotFrontNvme27optionRom": "{{ item.slot_front_nvme_27_option_rom | default('platform-default') }}",
  "SlotFrontNvme28linkSpeed": "{{ item.slot_front_nvme_28_link_speed | default('platform-default') }}",
  "SlotFrontNvme28optionRom": "{{ item.slot_front_nvme_28_option_rom | default('platform-default') }}",
  "SlotFrontNvme29linkSpeed": "{{ item.slot_front_nvme_29_link_speed | default('platform-default') }}",
  "SlotFrontNvme29optionRom": "{{ item.slot_front_nvme_29_option_rom | default('platform-default') }}",
  "SlotFrontNvme2linkSpeed": "{{ item.slot_front_nvme_2_link_speed | default('platform-default') }}",
  "SlotFrontNvme2optionRom": "{{ item.slot_front_nvme_2_option_rom | default('platform-default') }}",
  "SlotFrontNvme30linkSpeed": "{{ item.slot_front_nvme_30_link_speed | default('platform-default') }}",
  "SlotFrontNvme30optionRom": "{{ item.slot_front_nvme_30_option_rom | default('platform-default') }}",
  "SlotFrontNvme31linkSpeed": "{{ item.slot_front_nvme_31_link_speed | default('platform-default') }}",
  "SlotFrontNvme31optionRom": "{{ item.slot_front_nvme_31_option_rom | default('platform-default') }}",
  "SlotFrontNvme32linkSpeed": "{{ item.slot_front_nvme_32_link_speed | default('platform-default') }}",
  "SlotFrontNvme32optionRom": "{{ item.slot_front_nvme_32_option_rom | default('platform-default') }}",
  "SlotFrontNvme3linkSpeed": "{{ item.slot_front_nvme_3_link_speed | default('platform-default') }}",
  "SlotFrontNvme3optionRom": "{{ item.slot_front_nvme_3_option_rom | default('platform-default') }}",
  "SlotFrontNvme4linkSpeed": "{{ item.slot_front_nvme_4_link_speed | default('platform-default') }}",
  "SlotFrontNvme4optionRom": "{{ item.slot_front_nvme_4_option_rom | default('platform-default') }}",
  "SlotFrontNvme5linkSpeed": "{{ item.slot_front_nvme_5_link_speed | default('platform-default') }}",
  "SlotFrontNvme5optionRom": "{{ item.slot_front_nvme_5_option_rom | default('platform-default') }}",
  "SlotFrontNvme6linkSpeed": "{{ item.slot_front_nvme_6_link_speed | default('platform-default') }}",
  "SlotFrontNvme6optionRom": "{{ item.slot_front_nvme_6_option_rom | default('platform-default') }}",
  "SlotFrontNvme7linkSpeed": "{{ item.slot_front_nvme_7_link_speed | default('platform-default') }}",
  "SlotFrontNvme7optionRom": "{{ item.slot_front_nvme_7_option_rom | default('platform-default') }}",
  "SlotFrontNvme8linkSpeed": "{{ item.slot_front_nvme_8_link_speed | default('platform-default') }}",
  "SlotFrontNvme8optionRom": "{{ item.slot_front_nvme_8_option_rom | default('platform-default') }}",
  "SlotFrontNvme9linkSpeed": "{{ item.slot_front_nvme_9_link_speed | default('platform-default') }}",
  "SlotFrontNvme9optionRom": "{{ item.slot_front_nvme_9_option_rom | default('platform-default') }}",
  "SlotFrontSlot5linkSpeed": "{{ item.slot_front_slot_5_link_speed | default('platform-default') }}",
  "SlotFrontSlot6linkSpeed": "{{ item.slot_front_slot_6_link_speed | default('platform-default') }}",
  "SlotGpu1state": "{{ item.slot_gpu_1_state | default('platform-default') }}",
  "SlotGpu2state": "{{ item.slot_gpu_2_state | default('platform-default') }}",
  "SlotGpu3state": "{{ item.slot_gpu_3_state | default('platform-default') }}",
  "SlotGpu4state": "{{ item.slot_gpu_4_state | default('platform-default') }}",
  "SlotGpu5state": "{{ item.slot_gpu_5_state | default('platform-default') }}",
  "SlotGpu6state": "{{ item.slot_gpu_6_state | default('platform-default') }}",
  "SlotGpu7state": "{{ item.slot_gpu_7_state | default('platform-default') }}",
  "SlotGpu8state": "{{ item.slot_gpu_8_state | default('platform-default') }}",
  "SlotHbaLinkSpeed": "{{ item.slot_hba_link_speed | default('platform-default') }}",
  "SlotHbaState": "{{ item.slot_hba_state | default('platform-default') }}",
  "SlotLom1link": "{{ item.slot_lom_1_link | default('platform-default') }}",
  "SlotLom2link": "{{ item.slot_lom_2_link | default('platform-default') }}",
  "SlotMezzState": "{{ item.slot_mezz_state | default('platform-default') }}",
  "SlotMlomLinkSpeed": "{{ item.slot_mlom_link_speed | default('platform-default') }}",
  "SlotMlomState": "{{ item.slot_mlom_state | default('platform-default') }}",
  "SlotMraidLinkSpeed": "{{ item.slot_mraid_link_speed | default('platform-default') }}",
  "SlotMraidState": "{{ item.slot_mraid_state | default('platform-default') }}",
  "SlotN10state": "{{ item.slot_n_10_state | default('platform-default') }}",
  "SlotN11state": "{{ item.slot_n_11_state | default('platform-default') }}",
  "SlotN12state": "{{ item.slot_n_12_state | default('platform-default') }}",
  "SlotN13state": "{{ item.slot_n_13_state | default('platform-default') }}",
  "SlotN14state": "{{ item.slot_n_14_state | default('platform-default') }}",
  "SlotN15state": "{{ item.slot_n_15_state | default('platform-default') }}",
  "SlotN16state": "{{ item.slot_n_16_state | default('platform-default') }}",
  "SlotN17state": "{{ item.slot_n_17_state | default('platform-default') }}",
  "SlotN18state": "{{ item.slot_n_18_state | default('platform-default') }}",
  "SlotN19state": "{{ item.slot_n_19_state | default('platform-default') }}",
  "SlotN1state": "{{ item.slot_n_1_state | default('platform-default') }}",
  "SlotN20state": "{{ item.slot_n_20_state | default('platform-default') }}",
  "SlotN21state": "{{ item.slot_n_21_state | default('platform-default') }}",
  "SlotN22state": "{{ item.slot_n_22_state | default('platform-default') }}",
  "SlotN23state": "{{ item.slot_n_23_state | default('platform-default') }}",
  "SlotN24state": "{{ item.slot_n_24_state | default('platform-default') }}",
  "SlotN2state": "{{ item.slot_n_2_state | default('platform-default') }}",
  "SlotN3state": "{{ item.slot_n_3_state | default('platform-default') }}",
  "SlotN4state": "{{ item.slot_n_4_state | default('platform-default') }}",
  "SlotN5state": "{{ item.slot_n_5_state | default('platform-default') }}",
  "SlotN6state": "{{ item.slot_n_6_state | default('platform-default') }}",
  "SlotN7state": "{{ item.slot_n_7_state | default('platform-default') }}",
  "SlotN8state": "{{ item.slot_n_8_state | default('platform-default') }}",
  "SlotN9state": "{{ item.slot_n_9_state | default('platform-default') }}",
  "SlotRaidLinkSpeed": "{{ item.slot_raid_link_speed | default('platform-default') }}",
  "SlotRaidState": "{{ item.slot_raid_state | default('platform-default') }}",
  "SlotRearNvme1linkSpeed": "{{ item.slot_rear_nvme_1_link_speed | default('platform-default') }}",
  "SlotRearNvme1state": "{{ item.slot_rear_nvme_1_state | default('platform-default') }}",
  "SlotRearNvme2linkSpeed": "{{ item.slot_rear_nvme_2_link_speed | default('platform-default') }}",
  "SlotRearNvme2state": "{{ item.slot_rear_nvme_2_state | default('platform-default') }}",
  "SlotRearNvme3linkSpeed": "{{ item.slot_rear_nvme_3_link_speed | default('platform-default') }}",
  "SlotRearNvme3state": "{{ item.slot_rear_nvme_3_state | default('platform-default') }}",
  "SlotRearNvme4linkSpeed": "{{ item.slot_rear_nvme_4_link_speed | default('platform-default') }}",
  "SlotRearNvme4state": "{{ item.slot_rear_nvme_4_state | default('platform-default') }}",
  "SlotRearNvme5state": "{{ item.slot_rear_nvme_5_state | default('platform-default') }}",
  "SlotRearNvme6state": "{{ item.slot_rear_nvme_6_state | default('platform-default') }}",
  "SlotRearNvme7state": "{{ item.slot_rear_nvme_7_state | default('platform-default') }}",
  "SlotRearNvme8state": "{{ item.slot_rear_nvme_8_state | default('platform-default') }}",
  "SlotRiser1linkSpeed": "{{ item.slot_riser_1_link_speed | default('platform-default') }}",
  "SlotRiser1slot1linkSpeed": "{{ item.slot_riser_1_slot_1_link_speed | default('platform-default') }}",
  "SlotRiser1slot2linkSpeed": "{{ item.slot_riser_1_slot_2_link_speed | default('platform-default') }}",
  "SlotRiser1slot3linkSpeed": "{{ item.slot_riser_1_slot_3_link_speed | default('platform-default') }}",
  "SlotRiser2linkSpeed": "{{ item.slot_riser_2_link_speed | default('platform-default') }}",
  "SlotRiser2slot4linkSpeed": "{{ item.slot_riser_2_slot_4_link_speed | default('platform-default') }}",
  "SlotRiser2slot5linkSpeed": "{{ item.slot_riser_2_slot_5_link_speed | default('platform-default') }}",
  "SlotRiser2slot6linkSpeed": "{{ item.slot_riser_2_slot_6_link_speed | default('platform-default') }}",
  "SlotSasState": "{{ item.slot_sas_state | default('platform-default') }}",
  "SlotSsdSlot1linkSpeed": "{{ item.slot_ssd_slot_1_link_speed | default('platform-default') }}",
  "SlotSsdSlot2linkSpeed": "{{ item.slot_ssd_slot_2_link_speed | default('platform-default') }}",
  "Smee": "{{ item.smee | default('platform-default') }}",
  "SmtMode": "{{ item.smt_mode | default('platform-default') }}",
  "Snc": "{{ item.snc | default('platform-default') }}",
  "SnoopyModeFor2lm": "{{ item.snoopy_mode_for_2_lm | default('platform-default') }}",
  "SnoopyModeForAd": "{{ item.snoopy_mode_for_ad | default('platform-default') }}",
  "SparingMode": "{{ item.sparing_mode | default('platform-default') }}",
  "SpeculativeLockEnable": "{{ item.speculative_lock_enable | default('platform-default') }}",
  "SrIov": "{{ item.sr_iov | default('platform-default') }}",
  "StreamerPrefetch": "{{ item.streamer_prefetch | default('platform-default') }}",
  "SvmMode": "{{ item.svm_mode | default('platform-default') }}",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TerminalType": "{{ item.terminal_type | default('platform-default') }}",
  "TpmControl": "{{ item.tpm_control | default('platform-default') }}",
  "TpmPendingOperation": "{{ item.tpm_pending_operation | default('platform-default') }}",
  "TpmPpiRequired": "{{ item.tpm_ppi_required | default('platform-default') }}",
  "TpmSupport": "{{ item.tpm_support | default('platform-default') }}",
  "Tsme": "{{ item.tsme | default('platform-default') }}",
  "TxtSupport": "{{ item.txt_support | default('platform-default') }}",
  "UcsmBootOrderRule": "{{ item.ucsm_boot_order_rule | default('platform-default') }}",
  "UefiMemMapSpFlagEn": "{{ item.uefi_mem_map_sp_flag_en | default('platform-default') }}",
  "UfsDisable": "{{ item.ufs_disable | default('platform-default') }}",
  "UfsDisableIo": "{{ item.ufs_disable_io | default('platform-default') }}",
  "UmaBasedClustering": "{{ item.uma_based_clustering | default('platform-default') }}",
  "UpiLinkEnablement": "{{ item.upi_link_enablement | default('platform-default') }}",
  "UpiPowerManagement": "{{ item.upi_power_management | default('platform-default') }}",
  "UsbEmul6064": "{{ item.usb_emul_6064 | default('platform-default') }}",
  "UsbPortFront": "{{ item.usb_port_front | default('platform-default') }}",
  "UsbPortInternal": "{{ item.usb_port_internal | default('platform-default') }}",
  "UsbPortKvm": "{{ item.usb_port_kvm | default('platform-default') }}",
  "UsbPortRear": "{{ item.usb_port_rear | default('platform-default') }}",
  "UsbPortSdCard": "{{ item.usb_port_sd_card | default('platform-default') }}",
  "UsbPortVmedia": "{{ item.usb_port_vmedia | default('platform-default') }}",
  "UsbXhciSupport": "{{ item.usb_xhci_support | default('platform-default') }}",
  "VgaPriority": "{{ item.vga_priority | default('platform-default') }}",
  "VirtualNuma": "{{ item.virtual_numa | default('platform-default') }}",
  "VmdEnable": "{{ item.vmd_enable | default('platform-default') }}",
  "VolMemoryMode": "{{ item.vol_memory_mode | default('platform-default') }}",
  "WorkLoadConfig": "{{ item.work_load_config | default('platform-default') }}",
  "X2apicOptOut": "{{ item.x_2_apic_opt_out | default('platform-default') }}",
  "XptPrefetch": "{{ item.xpt_prefetch | default('platform-default') }}",
  "XptRemotePrefetch": "{{ item.xpt_remote_prefetch | default('platform-default') }}"
}
