{
  "Description": {{ (item.description | default('', true)) | tojson }},
  "ErrorDetectionTimeout": {{ item.error_detection_timeout | default(2000) | int }},
  "ErrorRecoverySettings": {
    "Enabled": {{ (item.error_recovery | default({})).get('enable_fcp_error_recovery') | default(false, true) | tojson }},
    "IoRetryCount": {{ (item.error_recovery | default({})).get('port_down_io_retry', 8) | int }},
    "IoRetryTimeout": {{ (item.error_recovery | default({})).get('io_retry_timeout', 5) | int }},
    "LinkDownTimeout": {{ (item.error_recovery | default({})).get('link_down_timeout', 30000) | int }},
    "ObjectType": "vnic.FcErrorRecoverySettings",
    "PortDownTimeout": {{ (item.error_recovery | default({})).get('port_down_timeout', 10000) | int }}
  },
  "FlogiSettings": {
    "ObjectType": "vnic.FlogiSettings",
    "Retries": {{ (item.flogi | default({})).get('retries', 8) | int }},
    "Timeout": {{ (item.flogi | default({})).get('timeout', 4000) | int }}
  },
  "InterruptSettings": {
    "Mode": {{ (item.interrupt_settings | default({})).get('mode') | default('MSIx', true) | tojson }},
    "ObjectType": "vnic.FcInterruptSettings"
  },
  "IoThrottleCount": {{ item.io_throttle_count | default(512) | int }},
  "LunCount": {{ item.maximum_luns_per_target | default(1024) | int }},
  "LunQueueDepth": {{ item.lun_queue_depth | default(20) | int }},
  "Name": {{ (name_prefix ~ item.name ~ name_suffix) | tojson }},
  "ObjectType": "vnic.FcAdapterPolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PlogiSettings": {
    "ObjectType": "vnic.PlogiSettings",
    "Retries": {{ (item.plogi | default({})).get('retries', 8) | int }},
    "Timeout": {{ (item.plogi | default({})).get('timeout', 20000) | int }}
  },
  "ResourceAllocationTimeout": {{ item.resource_allocation_timeout | default(10000) | int }},
  "RxQueueSettings": {
    "Count": 1,
    "ObjectType": "vnic.FcQueueSettings",
    "RingSize": {{ (item.receive | default({})).get('ring_size', 64) | int }}
  },
  "ScsiQueueSettings": {
    "Count": {{ (item.scsi_io | default({})).get('queue_count', 1) | int }},
    "ObjectType": "vnic.ScsiQueueSettings",
    "RingSize": {{ (item.scsi_io | default({})).get('ring_size', 512) | int }}
  },
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TxQueueSettings": {
    "Count": 1,
    "ObjectType": "vnic.FcQueueSettings",
    "RingSize": {{ (item.transmit | default({})).get('ring_size', 64) | int }}
  }
}
