{
  "Description": "{{ item.description | default('') }}",
  "Enabled": {{ item.enabled | default(true) | lower }},
{% if item.encryption_key is defined %}
  "EncryptionKey": {{ item.encryption_key }},
{% endif %}
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "ObjectType": "ipmioverlan.Policy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "Privilege": "{{ item.privilege | default('admin') }}",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
{% else %}
  "Tags": []
{% endif %}
}
