{
  "LdapPolicy": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "iam.LdapPolicy"
  },
  "ObjectType": "iam.LdapProvider",
  "Parent": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "iam.LdapPolicy"
  },
  "Port": {{ item.port | default(389) | int }},
  "Server": {{ item.server | default('ldap.example.com') | tojson }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "Vendor": {{ item.vendor | default('OpenLDAP') | tojson }}
}
