{
  "Description": {{ (item.description | default('', true)) | tojson }},
  "Name": {{ (name_prefix ~ item.name ~ name_suffix) | tojson }},
  "ObjectType": "iam.EndPointUserPolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PasswordProperties": {
    "ClassId": "iam.EndPointPasswordProperties",
    "EnablePasswordExpiry": {{ (item.password_properties | default({})).get('enable_password_expiry') | default(false) | tojson }},
    "EnforceStrongPassword": {{ (item.password_properties | default({})).get('enforce_strong_password') | default(true) | tojson }},
    "ForceSendPassword": {{ (item.password_properties | default({})).get('always_send_user_password') | default(false) | tojson }},
    "GracePeriod": {{ (item.password_properties | default({})).get('grace_period') | default(1) | int }},
    "NotificationPeriod": {{ (item.password_properties | default({})).get('notification_period') | default(15) | int }},
    "ObjectType": "iam.EndPointPasswordProperties",
    "PasswordExpiryDuration": {{ (item.password_properties | default({})).get('password_expiry_duration') | default(90) | int }},
    "PasswordHistory": {{ (item.password_properties | default({})).get('password_history') | default(0) | int }}
  },
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
{% else %}
  "Tags": []
{% endif %}
}