{
  "CustomMode": {{ item.custom_mode | default('FibreChannel') | tojson }},
  "ObjectType": "fabric.PortMode",
  "Parent": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.PortPolicy"
  },
  "PortIdEnd": {% if item.port_list is defined and item.port_list | length > 2 %}{{ item.port_list[1] }}{% else %}8{% endif %},
  "PortIdStart": {% if item.port_list is defined and item.port_list | length > 1 %}{{ item.port_list[0] }}{% else %}1{% endif %},
  "PortPolicy": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.PortPolicy"
  },
  "SlotId": 1,
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
{% else %}
  "Tags": []
{% endif %}
}