{
  "AdminSpeed": {{ item.admin_speed | default('16Gbps') | tojson }},
  "AggregatePortId": {{ item.breakout_port_id | default(0) }},
  "ObjectType": "fabric.FcStorageRole",
  "Parent": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.PortPolicy"
  },
  "PortId": {{ item.port_id | default(1) }},
  "PortPolicy": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.PortPolicy"
  },
  "SlotId": {{ item.slot_id | default(1) }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UserLabel": {{ item.user_label | default('', true) | tojson }},
  "VsanId": {{ item.vsan_id | default(1) | int }}
}