{
{% set _family = item.server_family | default('UCSC2XX/4XX') %}
  "ApplianceAccount": null,
  "Certificate": null,
  "Description": {{ (item.description | default('', true)) | tojson }},
  "EnableAuth": false,
  "EnableTls": false,
  "Enabled": {{ item.enable_smtp | default(true) | tojson }},
  "MinSeverity": {% if _family == 'UCSC2XX/4XX' %}{{ item.minimum_severity | default('critical', true) | tojson }}{% else %}"critical"{% endif %},
  "Name": {{ (name_prefix ~ item.name ~ name_suffix) | tojson }},
  "ObjectType": "smtp.Policy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "SenderEmail": {{ item.smtp_alert_sender_address | default('intersight@example.com', true) | tojson }},
  "SmtpPort": {{ item.smtp_port | default(25) | int }},
  "SmtpRecipients": [
{% for recipient in item.mail_alert_recipients | default([]) %}
    {{ recipient | tojson }}{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "SmtpServer": {{ item.smtp_server_address | default('smtp.example.com', true) | tojson }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UserName": ""
}