{
{% set _v2_enable = false %}
{% set _v3_enable = false %}
{% if item.access_community_string is defined and item.access_community_string | int > 0 %}
{% set _v2_enable = true%}
  "AccessCommunityString": {{ sensitive_vars['snmp_access_community_string_' ~ item.access_community_string] | tojson }},
{% else %}
  "AccessCommunityString": "",
{% endif %}
  "CommunityAccess": {{ item.snmp_community_access | default('Disabled', true) | tojson }},
  "Description": {{ (item.description | default('', true)) | tojson }},
  "Enabled": {{ item.enable_snmp | default(true) | tojson }},
  "EngineId": {{ item.snmp_engine_input_id | default('', true) | tojson }},
  "Name": {{ (name_prefix ~ item.name ~ name_suffix) | tojson }},
  "ObjectType": "snmp.Policy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "SnmpPort": {{ item.snmp_port | default(161) | int }},
  "SnmpTraps": [
{% if item.snmp_trap_destinations is defined and item.snmp_trap_destinations | length > 0 %}
{% for trap in item.snmp_trap_destinations %}
    {
{% if trap.community_string is defined and trap.community_string | int > 0 %}
{% set _v2_enable = true%}
      "Community": {{ sensitive_vars['snmp_trap_community_' ~ trap.community_string] | tojson }},
{% endif %}
      "Destination": {{ trap.destination_address | default('', true) | tojson }},
      "Enabled" : {{ trap.enabled | default(true) | tojson }},
      "Port": {{ trap.port | default(162) | int }},
{% if trap.user is defined and trap.user | length > 0 %}
      "User": {{ trap.user | tojson }},
{% endif %}
      "Type": {{ trap.trap_type | default('Trap') | tojson }},
      "Version": {% if trap.user is defined and trap.user | length > 0 %}"V3"{% else %}"V2"{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
  ],
  "SnmpUsers": [
{% if item.snmp_users | length > 0 %}
{% set _v3_enable = true %}
{% for user in item.snmp_users %}
    {
      "AuthPassword": {{ sensitive_vars['snmp_auth_passphrase_' ~ user.auth_password] | tojson }},
      "AuthType": {{ user.auth_type | default('SHA-256') | tojson }},
      "Name": {{ user.name | tojson }},
      "ObjectType": "snmp.User",
      "PrivacyType": {% if user.security_level != 'NoAuthNoPriv' %}{{ user.privacy_type | default('NA') | tojson }}{% else %}"NA"{% endif %},
{% if user.privacy_password is defined and user.privacy_password | int > 0 and user.security_level != 'NoAuthNoPriv' %}
      "PrivacyPassword": {{ sensitive_vars['snmp_privacy_passphrase_' ~ user.privacy_password] | tojson }},
{% endif %}
      "SecurityLevel": {{ user.security_level | default('AuthPriv') | tojson }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
  ],
  "SysContact": {{ item.system_contact | default('', true) | tojson }},
  "SysLocation": {{ item.system_location | default('', true) | tojson }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
{% if item.trap_community_string is defined and item.trap_community_string | int > 0 %}
  "TrapCommunity": {{ sensitive_vars['snmp_trap_community_' ~ item.trap_community_string] | tojson }},
{% else %}
  "TrapCommunity": "",
{% endif %}
  "TrapCommunity": {{ item.trap_community_string | default('', true) | tojson }},
  "V2Enabled": {{ _v2_enable | tojson }},
  "V3Enabled": {{ _v3_enable | tojson }}
}
