{
  "Description": "{{ item.description | default('') }}",
  "Enabled": {{ item.enable_ssh | default(true) | lower }},
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "ObjectType": "ssh.Policy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "Port": {{ item.ssh_port | default(22) }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "Timeout": {{ item.ssh_timeout | default(1800) }}
}
