{
  "Cdn": {
    "ObjectType": "vnic.Cdn",
    "Source": {% if item.cdn_value is defined %}"user"{% else %}"vnic"{% endif %},
    "Value": {% if item.cdn_value is defined %}{{ item.cdn_value | tojson }}{% else %}{{ item.name | tojson }}{% endif %}
  },
  "Description": {{ (item.description | default('', true)) | tojson }},
  "EnableOverride": {{ item.allow_override | default(false) | tojson }},
{% if item.ethernet_adapter_policy is defined %}
{% set _name = item.ethernet_adapter_policy.split('/')[-1] %}
{% set _org = item.ethernet_adapter_policy.split('/')[0] if item.ethernet_adapter_policy.split('/') | length > 1 else organization %}
  "EthAdapterPolicy": {
    "Moid": "{{ isight[_org]['policies']['ethernet_adapter'][_name].moid }}",
    "ObjectType": "vnic.EthAdapterPolicy"
  },
{% else %}
  "EthAdapterPolicy": null,
{% endif %}
{% if item.ethernet_network_policy is defined %}
{% set _name = item.ethernet_network_policy.split('/')[-1] %}
{% set _org = item.ethernet_network_policy.split('/')[0] if item.ethernet_network_policy.split('/') | length > 1 else organization %}
  "EthNetworkPolicy": {
    "Moid": "{{ isight[_org]['policies']['ethernet_network'][_name].moid }}",
    "ObjectType": "vnic.EthNetworkPolicy"
  },
{% else %}
  "EthNetworkPolicy": null,
{% endif %}
{% if item.ethernet_qos_policy is defined %}
{% set _name = item.ethernet_qos_policy.split('/')[-1] %}
{% set _org = item.ethernet_qos_policy.split('/')[0] if item.ethernet_qos_policy.split('/') | length > 1 else organization %}
  "EthQosPolicy": {
    "Moid": "{{ isight[_org]['policies']['ethernet_qos'][_name].moid }}",
    "ObjectType": "vnic.EthQosPolicy"
  },
{% else %}
  "EthQosPolicy": null,
{% endif %}
{% if item.ethernet_network_control_policy is defined %}
{% set _name = item.ethernet_network_control_policy.split('/')[-1] %}
{% set _org = item.ethernet_network_control_policy.split('/')[0] if item.ethernet_network_control_policy.split('/') | length > 1 else organization %}
  "FabricEthNetworkControlPolicy": {
    "Moid": "{{ isight[_org]['policies']['ethernet_network_control'][_name].moid }}",
    "ObjectType": "fabric.EthNetworkControlPolicy"
  },
{% else %}
  "FabricEthNetworkControlPolicy": null,
{% endif %}
  "FabricEthNetworkGroupPolicy": [
{% if item.ethernet_network_group_policies is defined and item.ethernet_network_group_policies | length > 0 %}
{% for _eng in item.ethernet_network_group_policies %}
{% set _name = _eng.split('/')[-1] %}
{% set _org = _eng.split('/')[0] if _eng.split('/') | length > 1 else organization %}
  {
    "Moid": "{{ isight[_org]['policies']['ethernet_network_group'][_name].moid }}",
    "ObjectType": "fabric.EthNetworkGroupPolicy"
  }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
  ],
  "FailoverEnabled": {{ item.enable_failover | default(false) | tojson }},
{% if item.iscsi_boot_policy is defined %}
{% set _name = item.iscsi_boot_policy.split('/')[-1] %}
{% set _org = item.iscsi_boot_policy.split('/')[0] if item.iscsi_boot_policy.split('/') | length > 1 else organization %}
  "IscsiBootPolicy": {
    "Moid": "{{ isight[_org]['policies']['iscsi_boot'][_name].moid }}",
    "ObjectType": "vnic.IscsiBootPolicy"
  },
{% else %}
  "IscsiBootPolicy": null,
{% endif %}
{% if item.mac_address_pool is defined %}
{% set _name = item.mac_address_pool.split('/')[-1] %}
{% set _org = item.mac_address_pool.split('/')[0] if item.mac_address_pool.split('/') | length > 1 else organization %}
  "MacPool": {
    "Moid": "{{ isight[_org]['pools']['mac'][_name].moid }}",
    "ObjectType": "macpool.Pool"
  },
{% else %}
  "MacPool": null,
{% endif %}
  "Name": {{ (name_prefix ~ item.name ~ name_suffix) | tojson }},
  "NetFlowMonitorSessions": [
{% if item.flow_monitor_policies is defined and item.flow_monitor_policies | length > 0 %}
{% for _fmp in item.flow_monitor_policies %}
{% set _name = _fmp.split('/')[-1] %}
{% set _org = _fmp.split('/')[0] if _fmp.split('/') | length > 1 else organization %}
  {
    "Moid": "{{ isight[_org]['policies']['flow_monitor'][_name].moid }}",
    "ObjectType": "fabric.NetFlowMonitor"
  }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
  ],
  "ObjectType": "vnic.VnicTemplate",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PinGroupName": {{ item.pin_group_name | default('') | tojson }},
  "SriovSettings": {
    "CompCountPerVf": {{ (item.sriov | default({})).get('completion_queue_count_per_vf', 5) | int }},
    "Enabled": {% if item.sriov is defined and item.sriov is not none %}true{% else %}false{% endif %},
    "IntCountPerVf": {{ (item.sriov | default({})).get('interrupt_count_per_vf', 8) | int }},
    "ObjectType": "vnic.SriovSettings",
    "RxCountPerVf": {{ (item.sriov | default({})).get('receive_queue_count_per_vf', 4) | int }},
    "TxCountPerVf": {{ (item.sriov | default({})).get('transmit_queue_count_per_vf', 1) | int }},
    "VfCount": {{ (item.sriov | default({})).get('number_of_vfs', 64) | int }}
  },
  "SwitchId": {{ item.placement_switch_id | default('A') | tojson }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UsnicSettings": {
    "Cos": {{ (item.usnic | default({})).get('class_of_service', 5) | int }},
    "Count": {{ (item.usnic | default({})).get('number_of_usnics', 0) | int }},
    "ObjectType": "vnic.UsnicSettings",
{% if item.usnic is defined and item.usnic.get('usnic_adapter_policy') | length > 0 %}
{% set _name = item.usnic.get('usnic_adapter_policy').split('/')[-1] %}
{% set _org = item.usnic.get('usnic_adapter_policy').split('/')[0] if item.usnic.get('usnic_adapter_policy').split('/') | length > 1 else organization %}
    "UsnicAdapterPolicy": "{{ isight[_org]['policies']['ethernet_network_adapter'][_name].moid }}"
{% else %}
    "UsnicAdapterPolicy": ""
{% endif %}
  },
  "VmqSettings": {
    "Enabled": {% if item.vmq is defined and item.vmq is not none %}true{% else %}false{% endif %},
    "MultiQueueSupport": {{ (item.vmq | default({}, true)).get('enable_virtual_machine_multi_queue', false) | tojson }},
    "NumInterrupts": {{ (item.vmq | default({}, true)).get('number_of_interrupts', 16) | int }},
    "NumSubVnics": {{ (item.vmq | default({}, true)).get('number_of_sub_vnics', 64) | int }},
    "NumVmqs": {{ (item.vmq | default({}, true)).get('number_of_virtual_machine_queues', 4) | int }},
    "ObjectType": "vnic.VmqSettings",
{% if item.vmq is defined and item.vmq.get('vmmq_adapter_policy') | length > 0 %}
{% set _name = item.vmq.get('vmmq_adapter_policy').split('/')[-1] %}
{% set _org = item.vmq.get('vmmq_adapter_policy').split('/')[0] if item.vmq.get('vmmq_adapter_policy').split('/') | length > 1 else organization %}
    "VmmqAdapterPolicy": "{{ isight[_org]['policies']['ethernet_network_adapter'][_name].moid }}"
{% else %}
    "VmmqAdapterPolicy": ""
{% endif %}
  }
}