{
  "DefaultZoning": "{{ item.default_zoning | default('Disabled') }}",
  "FcNetworkPolicy": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.FcNetworkPolicy"
  },
  "FcZoneSharingMode": "",
  "FcoeVlan": {{ item.fcoe_vlan | default(3096) | int }},
  "Name": "{{ item.name | default('default') }}",
  "ObjectType": "fabric.Vsan",
  "Parent": {
    "Moid": "{{ item.parent }}",
    "ObjectType": "fabric.FcNetworkPolicy"
  },
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "VsanId": {{ item.vsan_id | default(100) | int }},
  "VsanScope": "{{ item.vsan_scope | default('Uplink') }}"
}