{
  "AdvancedFilter": false,
  "ArfsSettings": {
    "Enabled": false,
    "ObjectType": "vnic.ArfsSettings"
  },
  "CompletionQueueSettings": {
    "Count": 2,
    "ObjectType": "vnic.CompletionQueueSettings",
    "RingSize": 1
  },
  "Description": "{{ item.description | default('') }}",
  "EtherChannelPinningEnabled": false,
  "GeneveEnabled": false,
  "InterruptScaling": false,
  "InterruptSettings": {
    "CoalescingTime": 125,
    "CoalescingType": "MIN",
    "Count": 4,
    "Mode": "MSIx",
    "ObjectType": "vnic.EthInterruptSettings"
  },
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "NvgreSettings": {
    "Enabled": false,
    "ObjectType": "vnic.NvgreSettings"
  },
  "ObjectType": "vnic.EthAdapterPolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PtpSettings": {
    "Enabled": false,
    "ObjectType": "vnic.PtpSettings"
  },
  "RoceSettings": {
    "ClassOfService": 5,
    "Enabled": false,
    "MemoryRegions": 0,
    "ObjectType": "vnic.RoceSettings",
    "QueuePairs": 0,
    "ResourceGroups": 0,
    "Version": 1
  },
  "RssHashSettings": {
    "Ipv4Hash": false,
    "Ipv6ExtHash": false,
    "Ipv6Hash": false,
    "ObjectType": "vnic.RssHashSettings",
    "TcpIpv4Hash": false,
    "TcpIpv6ExtHash": false,
    "TcpIpv6Hash": false,
    "UdpIpv4Hash": false,
    "UdpIpv6Hash": false
  },
  "RssSettings": false,
  "RxQueueSettings": {
    "Count": 4,
    "ObjectType": "vnic.EthRxQueueSettings",
    "RingSize": 512
  },
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TcpOffloadSettings": {
    "LargeReceive": true,
    "LargeSend": true,
    "ObjectType": "vnic.TcpOffloadSettings",
    "RxChecksum": true,
    "TxChecksum": true
  },
  "TxQueueSettings": {
    "Count": 1,
    "ObjectType": "vnic.EthTxQueueSettings",
    "RingSize": 256
  },
  "UplinkFailbackTimeout": 5,
  "VxlanSettings": {
    "Enabled": false,
    "ObjectType": "vnic.VxlanSettings"
  }
}
