{
  "AutoTargetvendorName": "",
  "Chap": {
    "IsPasswordSet": false,
    "ObjectType": "vnic.IscsiAuthProfile",
    "UserId": ""
  },
  "Description": "{{ item.description | default('') }}",
  "InitiatorIpPool": null,
  "InitiatorIpSource": "DHCP",
  "InitiatorStaticIpV4Address": "",
  "InitiatorStaticIpV4Config": {
    "Gateway": "",
    "Netmask": "",
    "ObjectType": "ippool.IpV4Config",
    "PrimaryDns": "",
    "SecondaryDns": ""
  },
  "InitiatorStaticIpV6Address": "",
  "InitiatorStaticIpV6Config": null,
  "IscsiAdapterPolicy": {
    "Moid": "65d3788dfccacb17015ccf54",
    "ObjectType": "vnic.IscsiAdapterPolicy"
  },
  "IscsiIpType": "IPv4",
  "MutualChap": {
    "IsPasswordSet": false,
    "ObjectType": "vnic.IscsiAuthProfile",
    "UserId": ""
  },
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "ObjectType": "vnic.IscsiBootPolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PrimaryTargetPolicy": {
    "Moid": "65d3788efccacb17015cd0a5",
    "ObjectType": "vnic.IscsiStaticTargetPolicy"
  },
  "SecondaryTargetPolicy": null,
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TargetSourceType": "Static"
}
