{
  "BaseProperties": {
    "Attribute": "memberof",
    "BaseDn": "DC=rich,DC=ciscolabs,DC=com",
    "BindDn": "CN=Tyson Scott,OU=Cisco Employees,DC=rich,DC=ciscolabs,DC=com",
    "BindMethod": "ConfiguredCredentials",
    "Domain": "rich.ciscolabs.com",
    "EnableEncryption": false,
    "EnableGroupAuthorization": false,
    "EnableNestedGroupSearch": true,
    "Filter": "sAMAccountName=$userid",
    "GroupAttribute": "memberof",
    "IsPasswordSet": true,
    "NestedGroupSearchDepth": 128,
    "ObjectType": "iam.LdapBaseProperties",
    "Timeout": 0
  },
  "Description": "{{ item.description | default('') }}",
  "DnsParameters": {
    "ObjectType": "iam.LdapDnsParameters",
    "SearchDomain": "",
    "SearchForest": "",
    "Source": "Extracted"
  },
  "EnableDns": false,
  "Enabled": true,
  "Groups": [
    {
      "Moid": "674641356275723101b044e0",
      "ObjectType": "iam.LdapGroup",
      "link": "https://us-east-1.intersight.com/api/v1/iam/LdapGroups/674641356275723101b044e0"
    }
  ],
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "ObjectType": "iam.LdapPolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "Providers": [
    {
      "Moid": "67476e6562757231018ae17d",
      "ObjectType": "iam.LdapProvider",
      "link": "https://us-east-1.intersight.com/api/v1/iam/LdapProviders/67476e6562757231018ae17d"
    },
    {
      "Moid": "67476e6662757231018ae193",
      "ObjectType": "iam.LdapProvider",
      "link": "https://us-east-1.intersight.com/api/v1/iam/LdapProviders/67476e6662757231018ae193"
    }
  ],
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UserSearchPrecedence": "LDAPUserDb"
}
