{
  "Description": "The default configuration which will be applied on the server when a policy is removed from the server and whenever server configuration is cleaned up.",
  "Name": "SystemDefault",
  "ObjectType": "compute.PcieConnectivityPolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PcieZones": [
    {
      "ObjectType": "compute.PcieZone",
      "PcieEndpoints": [
        {
          "GpuPropFilters": [
            {
              "Count": 1,
              "Model": "Any",
              "ObjectType": "compute.GpuPropFilter"
            }
          ],
          "ObjectType": "compute.GpuConfig",
          "PcieEndpointType": "GPU"
        },
        {
          "AdapterUnitPropFilters": [
            {
              "Count": 1,
              "Model": "Any",
              "ObjectType": "compute.AdapterUnitPropFilter"
            }
          ],
          "ObjectType": "compute.AdapterUnitConfig",
          "PcieEndpointType": "Adapter"
        }
      ],
      "RootPcieEndpoint": {
        "CpuId": "Any",
        "ObjectType": "compute.CpuConfig",
        "RootPcieEndpointType": "CPU"
      }
    },
    {
      "ObjectType": "compute.PcieZone",
      "PcieEndpoints": [
        {
          "GpuPropFilters": [
            {
              "Count": 1,
              "Model": "Any",
              "ObjectType": "compute.GpuPropFilter"
            }
          ],
          "ObjectType": "compute.GpuConfig",
          "PcieEndpointType": "GPU"
        }
      ],
      "RootPcieEndpoint": {
        "CpuId": "Any",
        "ObjectType": "compute.CpuConfig",
        "RootPcieEndpointType": "CPU"
      }
    }
  ],
  "Tags": [
    {
      "Key": "cisco.meta.SystemDefault",
      "Propagated": false,
      "SysTag": true,
      "Type": "KeyValue",
      "Value": "true"
    }
  ]
}