{
  "AggregatePortId": 0,
  "AutoNegotiationDisabled": false,
  "Fec": "Auto",
  "ObjectType": "fabric.ServerRole",
  "Parent": {
    "Moid": "6605c55a6f62693001b4e1c0",
    "ObjectType": "fabric.PortPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/fabric/PortPolicies/6605c55a6f62693001b4e1c0"
  },
  "PortId": 65,
  "PortPolicy": {
    "Moid": "6605c55a6f62693001b4e1c0",
    "ObjectType": "fabric.PortPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/fabric/PortPolicies/6605c55a6f62693001b4e1c0"
  },
  "PreferredDeviceId": 0,
  "PreferredDeviceType": "Auto",
  "SlotId": 1,
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UserLabel": ""
}
