{
  "AdminSpeed": "Auto",
  "AggregatePortId": 0,
  "EthNetworkControlPolicy": {
    "Moid": "6722338e6f62693001e98766",
    "ObjectType": "fabric.EthNetworkControlPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/fabric/EthNetworkControlPolicies/6722338e6f62693001e98766"
  },
  "EthNetworkGroupPolicy": {
    "Moid": "672233906f62693001e988f9",
    "ObjectType": "fabric.EthNetworkGroupPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/fabric/EthNetworkGroupPolicies/672233906f62693001e988f9"
  },
  "Fec": "Auto",
  "FlowControlPolicy": null,
  "LinkControlPolicy": null,
  "Mode": "access",
  "ObjectType": "fabric.ApplianceRole",
  "Parent": {
    "Moid": "672233926f62693001e98b4d",
    "ObjectType": "fabric.PortPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/fabric/PortPolicies/672233926f62693001e98b4d"
  },
  "PortId": 2,
  "PortPolicy": {
    "Moid": "672233926f62693001e98b4d",
    "ObjectType": "fabric.PortPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/fabric/PortPolicies/672233926f62693001e98b4d"
  },
  "Priority": "Best Effort",
  "SlotId": 1,
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UserLabel": ""
}
