{
  "AdminSpeed": "Auto",
  "EthNetworkGroupPolicy": [
    {
      "Moid": "65d3788d6f62693001efccd5",
      "ObjectType": "fabric.EthNetworkGroupPolicy"
    }
  ],
  "Fec": "Auto",
  "FlowControlPolicy": {
    "Moid": "65d3788c6f62693001efcad2",
    "ObjectType": "fabric.FlowControlPolicy"
  },
  "LinkAggregationPolicy": {
    "Moid": "65d3788d6f62693001efcc91",
    "ObjectType": "fabric.LinkAggregationPolicy"
  },
  "LinkControlPolicy": {
    "Moid": "65d3788c6f62693001efcb2c",
    "ObjectType": "fabric.LinkControlPolicy"
  },
  "MacSecPolicy": null,
  "ObjectType": "fabric.UplinkPcRole",
  "PcId": 105,
  "PortPolicy": {
    "Moid": "6605c55a6f62693001b4e1c0",
    "ObjectType": "fabric.PortPolicy"
  },
  "Ports": [
    {
      "AggregatePortId": 0,
      "ObjectType": "fabric.PortIdentifier",
      "PortId": 105,
      "SlotId": 1
    },
    {
      "AggregatePortId": 0,
      "ObjectType": "fabric.PortIdentifier",
      "PortId": 107,
      "SlotId": 1
    }
  ],
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UserLabel": ""
}