{
  "FcAdapterPolicy": {
    "Moid": "65d3788cfccacb17015ccd69",
    "ObjectType": "vnic.FcAdapterPolicy"
  },
  "FcNetworkPolicy": {
    "Moid": "65d3788cfccacb17015ccbd1",
    "ObjectType": "vnic.FcNetworkPolicy"
  },
  "FcQosPolicy": {
    "Moid": "65d3788cfccacb17015ccd0a",
    "ObjectType": "vnic.FcQosPolicy"
  },
  "FcZonePolicies": [
    {
      "Moid": "66d9cc476f62693001f4d1d4",
      "ObjectType": "fabric.FcZonePolicy"
    }
  ],
  "Name": "vhba1",
  "ObjectType": "vnic.FcIf",
  "OldInfo": null,
  "Order": 8,
  "OverriddenList": [],
  "PersistentBindings": false,
  "PinGroupName": "",
  "Placement": {
    "AutoPciLink": false,
    "AutoSlotId": false,
    "Id": "MLOM",
    "ObjectType": "vnic.PlacementSettings",
    "PciLink": 0,
    "PciLinkAssignmentMode": "Custom",
    "SwitchId": "A",
    "Uplink": 0
  },
  "Profile": null,
  "SanConnectivityPolicy": {
    "Moid": "6467a4c32f0dcb4401a941da",
    "ObjectType": "vnic.SanConnectivityPolicy"
  },
  "ScpVhba": null,
  "SpVhbas": [],
  "SrcTemplate": null,
  "Stale": false,
  "StaticWwpnAddress": "",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TemplateActions": [],
  "TemplateSyncErrors": [],
  "TemplateSyncStatus": "None",
  "Type": "fc-initiator",
  "VifId": 0,
  "Wwpn": "",
  "WwpnAddressType": "POOL",
  "WwpnLease": null,
  "WwpnPool": {
    "Moid": "6467a418696275310148c70d",
    "ObjectType": "fcpool.Pool"
  }
}