{
  "AccessCommunityString": "",
  "CommunityAccess": "Disabled",
  "Description": "{{ item.description | default('') }}",
  "Enabled": true,
  "EngineId": "",
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "ObjectType": "snmp.Policy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "SnmpPort": 161,
  "SnmpTraps": [],
  "SnmpUsers": [],
  "SysContact": "",
  "SysLocation": "",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TrapCommunity": "",
  "V2Enabled": false,
  "V3Enabled": false
}
