{
  "ControllerAttachedNvmeSlots": "",
  "DefaultDriveMode": {{ item.default_drive_state | default('UnconfiguredGood', true) | tojson }},
  "Description": {{ (item.description | default('', true)) | tojson }},
  "DirectAttachedNvmeSlots": {{ (item['hybrid_slot_configuration:direct_attached_nvme_slots'] | default('', true)) | tojson }},
  "DriveGroup": [
    {
      "Moid": "65d37899656f6e31010f1505",
      "ObjectType": "storage.DriveGroup",
      "link": "https://us-east-1.intersight.com/api/v1/storage/DriveGroups/65d37899656f6e31010f1505"
    }
  ],
  "GlobalHotSpares": {{ item.global_hot_spares | default('', true) | tojson }},
  "M2VirtualDrive": {
    "ControllerSlot": "MSTOR-RAID-1",
    "Enable": false,
    "Name": "",
    "ObjectType": "storage.M2VirtualDriveConfig"
  },
  "Name": {{ (name_prefix ~ item.name ~ name_suffix) | tojson }},
  "ObjectType": "storage.StoragePolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "Raid0Drive": {
    "DriveSlots": "",
    "DriveSlotsList": "",
    "Enable": false,
    "ObjectType": "storage.R0Drive",
    "VirtualDrivePolicy": {
      "AccessPolicy": "Default",
      "DriveCache": "Default",
      "ObjectType": "storage.VirtualDrivePolicy",
      "ReadPolicy": "Default",
      "StripSize": 64,
      "WritePolicy": "Default"
    }
  },
  "RaidAttachedNvmeSlots": {{ (item['hybrid_slot_configuration:raid_attached_nvme_slots'] | default('', true)) | tojson }},
  "SecureJbods": {{ item.secure_jbod_disk_slots | default('', true) | tojson }},
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UnusedDisksState": {{ item.unused_disks_state | default('NoChange', true) | tojson }},
  "UseJbodForVdCreation": {{ item.use_jbod_for_vd_creation | default(false) | tojson }}
}
