{
  "ControllerAttachedNvmeSlots": "",
  "DefaultDriveMode": "UnconfiguredGood",
  "Description": "{{ item.description | default('') }}",
  "DirectAttachedNvmeSlots": "",
  "DriveGroup": [
    {
      "Moid": "65d37899656f6e31010f1505",
      "ObjectType": "storage.DriveGroup",
      "link": "https://us-east-1.intersight.com/api/v1/storage/DriveGroups/65d37899656f6e31010f1505"
    }
  ],
  "GlobalHotSpares": "",
  "M2VirtualDrive": {
    "ControllerSlot": "MSTOR-RAID-1",
    "Enable": false,
    "Name": "",
    "ObjectType": "storage.M2VirtualDriveConfig"
  },
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "ObjectType": "storage.StoragePolicy",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "Raid0Drive": {
    "DriveSlots": "",
    "DriveSlotsList": "",
    "Enable": false,
    "ObjectType": "storage.R0Drive",
    "VirtualDrivePolicy": {
      "AccessPolicy": "Default",
      "DriveCache": "Default",
      "ObjectType": "storage.VirtualDrivePolicy",
      "ReadPolicy": "Default",
      "StripSize": 64,
      "WritePolicy": "Default"
    }
  },
  "RaidAttachedNvmeSlots": "",
  "SecureJbods": "",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "UnusedDisksState": "Jbod",
  "UseJbodForVdCreation": true
}
