{
  "Description": "{{ item.description | default('') }}",
  "EnableOverride": true,
  "FcAdapterPolicy": {
    "Moid": "65d3788cfccacb17015ccd69",
    "ObjectType": "vnic.FcAdapterPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/vnic/FcAdapterPolicies/65d3788cfccacb17015ccd69"
  },
  "FcNetworkPolicy": {
    "Moid": "65d3788cfccacb17015ccbd1",
    "ObjectType": "vnic.FcNetworkPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/vnic/FcNetworkPolicies/65d3788cfccacb17015ccbd1"
  },
  "FcQosPolicy": {
    "Moid": "65d3788cfccacb17015ccd0a",
    "ObjectType": "vnic.FcQosPolicy",
    "link": "https://us-east-1.intersight.com/api/v1/vnic/FcQosPolicies/65d3788cfccacb17015ccd0a"
  },
  "FcZonePolicies": [],
  "Name": "{{ name_prefix ~ item.name ~ name_suffix }}",
  "ObjectType": "vnic.VhbaTemplate",
  "Organization": {
    "Moid": "{{ org_moids[organization].moid }}",
    "ObjectType": "organization.Organization"
  },
  "PeerVhbaName": "",
  "PersistentBindings": false,
  "PinGroupName": "",
  "ScpUsageCount": 1,
  "SwitchId": "A",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": "{{ tag.key }}",
      "Type": "PathTag"
{% else %}
      "Key": "{{ tag.key }}",
      "Type": "KeyValue",
      "Value": "{{ tag.value }}"
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TemplateActions": [],
  "Type": "fc-initiator",
  "UpdateStatus": "OK",
  "UsageCount": 1,
  "WwpnPool": {
    "Moid": "65d3788b69627531014e8cef",
    "ObjectType": "fcpool.Pool",
    "link": "https://us-east-1.intersight.com/api/v1/fcpool/Pools/65d3788b69627531014e8cef"
  }
}
