{
  "Cdn": {
    "ObjectType": "vnic.Cdn",
    "Source": "vnic",
    "Value": "mgmt"
  },
  "Description": {{ (item.description | default('', true)) | tojson }},
  "EnableOverride": true,
  "EthAdapterPolicy": {
    "Moid": "65d3788bfccacb17015cca9d",
    "ObjectType": "vnic.EthAdapterPolicy"
  },
  "EthNetworkPolicy": null,
  "EthQosPolicy": {
    "Moid": "660c2bbbb1fc6b6e01cb49ec",
    "ObjectType": "vnic.EthQosPolicy"
  },
  "FabricEthNetworkControlPolicy": {
    "Moid": "65d3788d6f62693001efcc1b",
    "ObjectType": "fabric.EthNetworkControlPolicy"
  },
  "FabricEthNetworkGroupPolicy": [
    {
      "Moid": "65d3788c6f62693001efcb98",
      "ObjectType": "fabric.EthNetworkGroupPolicy"
    }
  ],
  "FailoverEnabled": false,
  "IscsiBootPolicy": null,
  "LcpUsageCount": 1,
  "MacPool": {
    "Moid": "65d3788b69627531014e8d01",
    "ObjectType": "macpool.Pool"
  },
  "Name": "mgmt",
  "NetFlowMonitorSessions": [],
  "ObjectType": "vnic.VnicTemplate",
  "Organization": {
  "Moid": "{{ org_moids[organization].moid }}",
  "ObjectType": "organization.Organization"
  },
  "PeerVnicName": "",
  "PinGroupName": "",
  "SriovSettings": {
    "CompCountPerVf": 5,
    "Enabled": true,
    "IntCountPerVf": 8,
    "ObjectType": "vnic.SriovSettings",
    "RxCountPerVf": 4,
    "TxCountPerVf": 1,
    "VfCount": 64
  },
  "SwitchId": "A",
{% if item.tags | length > 0 %}
  "Tags": [
{% for tag in item.tags %}
    {
{% if tag.tag_type | default('KeyValue') == 'PathTag' %}
      "Key": {{ tag.key | tojson }},
      "Type": "PathTag"
{% else %}
      "Key": {{ tag.key | tojson }},
      "Type": "KeyValue",
      "Value": {{ tag.value | tojson }}
{% endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
{% else %}
  "Tags": [],
{% endif %}
  "TemplateActions": [],
  "UpdateStatus": "OK",
  "UsageCount": 1,
  "UsnicSettings": {
    "Cos": 5,
    "Count": 0,
    "ObjectType": "vnic.UsnicSettings",
    "UsnicAdapterPolicy": ""
  },
  "VmqSettings": {
    "Enabled": false,
    "MultiQueueSupport": false,
    "NumInterrupts": 16,
    "NumSubVnics": 64,
    "NumVmqs": 4,
    "ObjectType": "vnic.VmqSettings",
    "VmmqAdapterPolicy": ""
  }
}