---
apiVersion: v1
kind: Secret
metadata:
  name: logcollector-token
  namespace: openshift-logging
  annotations:
    kubernetes.io/service-account.name: logcollector
type: kubernetes.io/service-account-token