{
    "Description": "9508 Chassis Profile Template",
    "Name": "9508",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "6505cc486972653201c3bc8a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/6505cc486972653201c3bc8a"
    },
    "PolicyBucket": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3789a6275723101a98fbe",
            "ObjectType": "access.Policy",
            "link": "https://intersight.com/api/v1/access/Policies/65d3789a6275723101a98fbe"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788d6275723101a96b72",
            "ObjectType": "power.Policy",
            "link": "https://intersight.com/api/v1/power/Policies/65d3788d6275723101a96b72"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788d6275723101a96c0b",
            "ObjectType": "thermal.Policy",
            "link": "https://intersight.com/api/v1/thermal/Policies/65d3788d6275723101a96c0b"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788c6275723101a96aeb",
            "ObjectType": "snmp.Policy",
            "link": "https://intersight.com/api/v1/snmp/Policies/65d3788c6275723101a96aeb"
        }
    ],
    "SrcTemplate": null,
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ]
{%- else %}
    "Tags": [],
{%- endif %}
    "TargetPlatform": "FIAttached",
    "Type": "instance"
}