{
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "6505cc486972653201c3bc8a",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/6505cc486972653201c3bc8a"
    },
    "SrcTemplate": null,
    "SwitchProfileTemplates": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "664894b3656e6f320118a8e7",
            "ObjectType": "fabric.SwitchProfileTemplate",
            "link": "https://intersight.com/api/v1/fabric/SwitchProfileTemplates/664894b3656e6f320118a8e7"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "664894b4656e6f320118a8f4",
            "ObjectType": "fabric.SwitchProfileTemplate",
            "link": "https://intersight.com/api/v1/fabric/SwitchProfileTemplates/664894b4656e6f320118a8f4"
        }
    ],
    "SwitchProfilesCount": 2,
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "TargetPlatform": "UCS Domain",
    "Type": "instance"
}