{
    "Action": "No-op",
    "ActionParams": [],
    "ConfigContext": {
        "ClassId": "policy.ConfigContext",
        "ConfigState": "",
        "ConfigStateSummary": "None",
        "ConfigType": "",
        "ControlAction": "",
        "ErrorState": "",
        "InconsistencyReason": [],
        "ObjectType": "policy.ConfigContext",
        "OperState": ""
    },
    "ConfigResult": {
        "ClassId": "mo.MoRef",
        "Moid": "6467add077696e3201bbca22",
        "ObjectType": "server.ConfigResult",
        "link": "https://intersight.com/api/v1/server/ConfigResults/6467add077696e3201bbca22"
    },
    "DeployedPolicies": null,
    "Description": "{{ description | default('') }}",
    "Name": "{{ name | default('default') }}",
    "EnableOverride": false,
    "ManagementMode": "Intersight",
    "Name": "fcp-M5-intel-tpm-vic-gen4-mlom",
    "Organization": {
        "ClassId": "mo.MoRef",
        "Moid": "639ffbbe6972652d3243d65f",
        "ObjectType": "organization.Organization",
        "link": "https://intersight.com/api/v1/organization/Organizations/639ffbbe6972652d3243d65f"
    },
    "PartiallyDeployedPolicies": [],
    "PolicyBucket": [
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467ad9f627572310109df9c",
            "ObjectType": "bios.Policy",
            "link": "https://intersight.com/api/v1/bios/Policies/6467ad9f627572310109df9c"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a427627572310105eaa2",
            "ObjectType": "boot.PrecisionPolicy",
            "link": "https://intersight.com/api/v1/boot/PrecisionPolicies/6467a427627572310105eaa2"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a430627572310105efea",
            "ObjectType": "access.Policy",
            "link": "https://intersight.com/api/v1/access/Policies/6467a430627572310105efea"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a43c2f0dcb4401a915fb",
            "ObjectType": "vnic.LanConnectivityPolicy",
            "link": "https://intersight.com/api/v1/vnic/LanConnectivityPolicies/6467a43c2f0dcb4401a915fb"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "6467a4c32f0dcb4401a941da",
            "ObjectType": "vnic.SanConnectivityPolicy",
            "link": "https://intersight.com/api/v1/vnic/SanConnectivityPolicies/6467a4c32f0dcb4401a941da"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "646799606275723101ff46d3",
            "ObjectType": "syslog.Policy",
            "link": "https://intersight.com/api/v1/syslog/Policies/646799606275723101ff46d3"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788d6275723101a96c89",
            "ObjectType": "thermal.Policy",
            "link": "https://intersight.com/api/v1/thermal/Policies/65d3788d6275723101a96c89"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65a5b04a6275723101f575e2",
            "ObjectType": "vmedia.Policy",
            "link": "https://intersight.com/api/v1/vmedia/Policies/65a5b04a6275723101f575e2"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788d6275723101a96bbf",
            "ObjectType": "ipmioverlan.Policy",
            "link": "https://intersight.com/api/v1/ipmioverlan/Policies/65d3788d6275723101a96bbf"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788b6275723101a96930",
            "ObjectType": "iam.EndPointUserPolicy",
            "link": "https://intersight.com/api/v1/iam/EndPointUserPolicies/65d3788b6275723101a96930"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788c6275723101a96a36",
            "ObjectType": "sol.Policy",
            "link": "https://intersight.com/api/v1/sol/Policies/65d3788c6275723101a96a36"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788c6275723101a96aeb",
            "ObjectType": "snmp.Policy",
            "link": "https://intersight.com/api/v1/snmp/Policies/65d3788c6275723101a96aeb"
        },
        {
            "ClassId": "mo.MoRef",
            "Moid": "65d3788b6275723101a968df",
            "ObjectType": "kvm.Policy",
            "link": "https://intersight.com/api/v1/kvm/Policies/65d3788b6275723101a968df"
        }
    ],
    "PolicyChangeDetails": [],
    "RemovedPolicies": null,
    "ReportedPolicyChanges": [],
    "ScheduledActions": [],
    "SrcTemplate": null,
{% if tags is defined %}
    "Tags": [
  {%- for tag in tags -%}
        {
            "Key": "{{ tag.key }}",
            "Value": "{{ tag.value }}"
        }{% if not loop.last %},{% endif %}
  {%- endfor -%}
    ],
{%- endif %}
    "TargetPlatform": "FIAttached",
    "TemplateActions": [],
    "Type": "instance",
    "UpdateStatus": "OK",
    "Usage": 4,
    "UsageCount": 4,
    "UuidAddressType": "POOL",
    "UuidPool": {
        "ClassId": "mo.MoRef",
        "Moid": "6467a424696275310148c962",
        "ObjectType": "uuidpool.Pool",
        "link": "https://intersight.com/api/v1/uuidpool/Pools/6467a424696275310148c962"
    }
}