---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: logcollector
  namespace: openshift-logging
  labels:
    app.kubernetes.io/name: logcollector
    app.kubernetes.io/component: log-collection
    app.kubernetes.io/part-of: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logcollector-application-logs
  labels:
    app.kubernetes.io/name: logcollector
    app.kubernetes.io/component: log-collection
    app.kubernetes.io/part-of: openshift-logging
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: collect-application-logs
subjects:
  - kind: ServiceAccount
    name: logcollector
    namespace: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logcollector-audit-logs
  labels:
    app.kubernetes.io/name: logcollector
    app.kubernetes.io/component: log-collection
    app.kubernetes.io/part-of: openshift-logging
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: collect-audit-logs
subjects:
  - kind: ServiceAccount
    name: logcollector
    namespace: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logcollector-infrastructure-logs
  labels:
    app.kubernetes.io/name: logcollector
    app.kubernetes.io/component: log-collection
    app.kubernetes.io/part-of: openshift-logging
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: collect-infrastructure-logs
subjects:
  - kind: ServiceAccount
    name: logcollector
    namespace: openshift-logging
